.popover-block-container .popover-icon {
  background: none;
  color: none;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
  margin-top:20px
}
    .popover-block-container .popover-icon i {
        color: #04a0b2;
        text-align: left;
        /*margin-top: 4px;*/
        position: absolute;
        margin: -35px 0 0 30px;
    }

.popover-header {
  display: none;
}

.popover {
  max-width: auto;
  border-radius: 6px;
  border: none;
  box-shadow: 0 0 6px 1px #eee;
  margin-right:70px !important;
}

.popover-body {
  border: none;
  /*padding: 20px 49.4px 24px 24px;*/
  color: #5f6976;
  font-size: 15px;
  font-style: italic;
  z-index: 2;
  line-height: 1.53;
  letter-spacing: 0.1px;
}
.popover-body .popover-close {
  position: absolute;
  top: 5px;
  right: 10px;
  opacity: 1;
}
.popover-body .popover-close .material-icons {
  font-size: 16px;
  font-weight: bold;
  color: #04a0b2;
}
