﻿@model Incite.Services.ViewModels.CarFilterViewModel
@using Incite.Core.Extention
@using Incite.Core.Infrastructure

@using (Html.BeginRouteForm("MyGarage", FormMethod.Get))
{
    <aside class="col-md-3 col-md-pull-9">
        <div class="sidebar_widget">
            <div class="widget_heading">
                <h5><i class="fa fa-filter" aria-hidden="true"></i> Find New Inventory Here </h5>
            </div>
            <div class="sidebar_filter">
                <div class="form-group select">
                    @Html.DropDownListFor(m => m.Loc
                                            ,Model.LocationList
                                            , new { @id = "drpLocation", @class = "form-control" })
                </div>
                <div class="form-group select">
                    @Html.DropDownListFor(m => m.CB
                                            , Model.CarMakerList
                                            ,new { @id = "drpCarbrand", @class = "form-control", @onchange = "fndrpCarbrandChange('drpCarModel','','',this)" })
                </div>
                <div class="form-group select">
                    @Html.DropDownListFor(m => m.CM
                                         ,Model.CarModelList
                                         ,new { @id = "drpCarModel", @class = "form-control" })
                </div>

                <div class="form-group">
                    <label class="form-label">Year Range</label>
                    @{
                        string defaultyearRange = SiteConstants.YEAR_MIN_RANGE + "," + SiteConstants.YEAR_MAX_RANGE;
                        string yearrange = string.IsNullOrEmpty(Model.YR) ? defaultyearRange : Model.YR;
                    }
                    <input id="year_range" name="YR" type="text" class="span2" value="" data-slider-min="@SiteConstants.YEAR_MIN_RANGE" data-slider-max="@SiteConstants.YEAR_MAX_RANGE" data-slider-step="@SiteConstants.YEAR_SLIDER_STEP" data-slider-value="[@yearrange]" />
                </div>
                <div class="form-group">
                    <label class="form-label">Price Range ($)</label>
                    @{
                        string defaultpriceRange = SiteConstants.CAR_PRICE_MIN_RANGE + "," + SiteConstants.CAR_PRICE_MAX_RANGE;
                        string pricerange = string.IsNullOrEmpty(Model.PR) ? defaultpriceRange : Model.PR;
                    }
                    <input id="price_range" name="PR" type="text" class="span2" value="" data-slider-min="@SiteConstants.CAR_PRICE_MIN_RANGE" data-slider-max="@SiteConstants.CAR_PRICE_MAX_RANGE" data-slider-step="@SiteConstants.PRICE_SLIDER_STEP" data-slider-value="[@pricerange]" />
                </div>
                <div class="form-group select">
                    @Html.DropDownListFor(m => m.CT
                                           ,Model.CarTypeList
                                           , new { @id = "drpCarType", @class = "form-control" })
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-block"><i class="fa fa-search" aria-hidden="true"></i> Search Car</button>
                </div>
            </div>
        </div>
    </aside>
}
