﻿
<section id="banner" class="banner-section">
    <div class="container">
        <div class="div_zindex">
            <div class="row">
               <!--<div class="col-md-5 col-md-push-7">
                    
                    <div class="banner_content">
                        @*<h1>Find the right car for you.</h1>
        <p>We have more than a thousand cars for you to choose. </p>*@
                        <h1><br /></h1>
                        <br />
                        <br />
                        
                       
                        @*<a href="#signupform" data-toggle="modal" data-target="#signupform" data-dismiss="modal" class="btn">Sign Up Today <span class="angle_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>*@
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</section>