﻿
<section class="section-padding">
    <div class="container">
        <div class="section-header text-center">
            <h2>Why <span>Dealer Inventory Network?</span></h2>
            <p>
                Dealer Inventory Network correctly channels the concept of DIGITAL THINKING and provides
                dealers with 360 degree view of their fellow dealers and offer them new digital ways of
                interacting and offering reviews, with an added value in purchasing/selling a wide variety of cars.
            </p>
            <p>
            <p>
                A platform unlike any other!! It brings to you A NETWORK EXCLUSIVELY FOR DEALERS which enables you to
                find/buy/sell/hold cars with other car dealers in USA, A network which is completely hassle
                free and promotes buyer calling the seller approach avoiding unnecessary marketing interference and nuisance.

            </p>
            </p>
        </div>
        <div>
            <video controls style="width:1200px">
                <source src="http://dinpicturebucket.s3.amazonaws.com\UploadedFiles\Video\DINVideo.webm" />
            </video>
        </div>
    </div>
</section>