﻿
<section class="section-padding">
    <div class="container">
        <div class="section-header text-center">
            <h2>Featured  Cars <span>Special Offers</span></h2>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
        </div>
        <div class="row">
            <div class="col-list-3">
                <div class="featured-car-list">
                    <div class="featured-car-img">
                        <a href="#"><img src="assets/images/featured-img-1.jpg" class="img-responsive" alt="Image"></a>
                        <div class="label_icon">New</div>
                        <div class="compare_item">
                            <div class="checkbox">
                                <input type="checkbox" id="compare">
                                <label for="compare">Compare</label>
                            </div>
                        </div>
                    </div>
                    <div class="featured-car-content">
                        <h6><a href="#">Maserati QUATTROPORTE 1,6</a></h6>
                        <div class="price_info">
                            <p class="featured-price">$90,000</p>
                            <div class="car-location"><span><i class="fa fa-map-marker" aria-hidden="true"></i> Colorado, USA</span></div>
                        </div>
                        <ul>
                            <li><i class="fa fa-road" aria-hidden="true"></i>0,000 km</li>
                            <li><i class="fa fa-tachometer" aria-hidden="true"></i>30.000 miles</li>
                            <li><i class="fa fa-calendar" aria-hidden="true"></i>2005 model</li>
                            <li><i class="fa fa-car" aria-hidden="true"></i>Diesel</li>
                            <li><i class="fa fa-user" aria-hidden="true"></i>5 seats</li>
                            <li><i class="fa fa-superpowers" aria-hidden="true"></i>143 kW</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-list-3">
                <div class="featured-car-list">
                    <div class="featured-car-img">
                        <a href="#"><img src="assets/images/featured-img-2.jpg" class="img-responsive" alt="Image"></a>
                        <div class="label_icon">Used</div>
                        <div class="compare_item">
                            <div class="checkbox">
                                <input type="checkbox" id="compare2">
                                <label for="compare2">Compare</label>
                            </div>
                        </div>
                    </div>
                    <div class="featured-car-content">
                        <h6><a href="#">Mazda CX-5 SX, V6, ABS, Sunroof</a></h6>
                        <div class="price_info">
                            <p class="featured-price">$90,000</p>
                            <div class="car-location"><span><i class="fa fa-map-marker" aria-hidden="true"></i> Colorado, USA</span></div>
                        </div>
                        <ul>
                            <li><i class="fa fa-road" aria-hidden="true"></i>0,000 km</li>
                            <li><i class="fa fa-tachometer" aria-hidden="true"></i>30.000 miles</li>
                            <li><i class="fa fa-calendar" aria-hidden="true"></i>2005 model</li>
                            <li><i class="fa fa-car" aria-hidden="true"></i>Diesel</li>
                            <li><i class="fa fa-user" aria-hidden="true"></i>5 seats</li>
                            <li><i class="fa fa-superpowers" aria-hidden="true"></i>143 kW</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-list-3">
                <div class="featured-car-list">
                    <div class="featured-car-img">
                        <a href="#"><img src="assets/images/featured-img-3.jpg" class="img-responsive" alt="Image"></a>
                        <div class="label_icon">Used</div>
                        <div class="compare_item">
                            <div class="checkbox">
                                <input type="checkbox" id="compare3">
                                <label for="compare3">Compare</label>
                            </div>
                        </div>
                    </div>
                    <div class="featured-car-content">
                        <h6><a href="#">BMW 535i</a></h6>
                        <div class="price_info">
                            <p class="featured-price">$90,000</p>
                            <div class="car-location"><span><i class="fa fa-map-marker" aria-hidden="true"></i> Colorado, USA</span></div>
                        </div>
                        <ul>
                            <li><i class="fa fa-road" aria-hidden="true"></i>0,000 km</li>
                            <li><i class="fa fa-tachometer" aria-hidden="true"></i>30.000 miles</li>
                            <li><i class="fa fa-calendar" aria-hidden="true"></i>2005 model</li>
                            <li><i class="fa fa-car" aria-hidden="true"></i>Diesel</li>
                            <li><i class="fa fa-user" aria-hidden="true"></i>5 seats</li>
                            <li><i class="fa fa-superpowers" aria-hidden="true"></i>143 kW</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
