﻿@model Incite.Services.ViewModels.DealerCarViewModel
@using Incite.Core.Extention
@using Incite.Core.Infrastructure
@{
    Layout = null;
}

@using (Ajax.BeginRouteForm("Searchresult", null, new AjaxOptions { HttpMethod = "GET", LoadingElementId = "load_wrapper" }, new { @id = "filter_form", @class = "gray-bg" }))
{
    <div class="container">
        <h3>Find New Inventory Here<span>(Easy search from here)</span></h3>
        <div class="row">
            <div class="form-group col-md-3 col-sm-6 black_input">
                <div class="select">
                    @Html.DropDownListFor(m => m.Dst
                                                ,Model.DistanceList
                                                , new { @id = "drpDistance", @class = "form-control" })
                </div>
            </div>
            <div class="form-group col-md-3 col-sm-6 black_input">
                <div class="select">
                    @Html.DropDownListFor(m => m.CB
                                                , new SelectList(Model.CarbrandList.OrderBy(m => m.Name), "Id", "Name")
                                                , "Select Brand"
                                                , new { @id = "drpCarbrand", @class = "form-control",@onchange = "fndrpCarbrandChange('drpCarModel','','',this)" })
                </div>
            </div>
            <div class="form-group col-md-3 col-sm-6 black_input">
                <div class="select">
                    @Html.DropDownListFor(m => m.CM
                                              ,  new SelectList(Model.CarModelList, "Id", "Name")
                                              , "Select"
                                              , new { @id = "drpCarModel", @class = "form-control" })
                </div>
            </div>
            <div class="form-group col-md-3 col-sm-6 black_input">
                <div class="select">
                    @Html.DropDownListFor(m => m.ML
                                                ,Model.MilageList
                                                , new { @id = "drpMilage", @class = "form-control" })
                </div>
            </div>
            <div class="form-group col-md-6 col-sm-6 black_input">
                <label class="form-label">Price Range ($)</label>
                @{
                    string defaultpriceRange = SiteConstants.CAR_PRICE_MIN_RANGE + "," + SiteConstants.CAR_PRICE_MAX_RANGE;
                }
                <input id="price_range" name="PR" type="text" class="span2" value="" data-slider-min="@SiteConstants.CAR_PRICE_MIN_RANGE" data-slider-max="@SiteConstants.CAR_PRICE_MAX_RANGE" data-slider-step="@SiteConstants.PRICE_SLIDER_STEP" data-slider-value="[@defaultpriceRange]" />
            </div>
            <div class="form-group col-md-3 col-sm-6 black_input">
                <div class="select">
                    @Html.DropDownListFor(m => m.CT
                                                ,Model.CarTypeList
                                                , new { @id = "drpCarType", @class = "form-control" })
                </div>
            </div>
            <div class="form-group col-md-3 col-sm-6">
                <button type="submit" class="btn btn-block"><i class="fa fa-search" aria-hidden="true" id="btnsearch"></i> Search Car </button>
            </div>
        </div>
    </div>
}
@Scripts.Render("~/Assets/Trialcars/js/Home/HomeCustom.js")