﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Trialcar</title>
    @Styles.Render("~/Content/TrialCarscss")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Assets/Scripts/jquery.unobtrusive-ajax.js"></script>


    <!-- Fav and touch icons -->
    @*<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/images/favicon-icon/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/images/favicon-icon/apple-touch-icon-114-precomposed.html">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/favicon-icon/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/images/favicon-icon/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="assets/images/favicon-icon/favicon.png">*@
    <!-- Google-Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->
</head>
<body>
    <!-- /Header -->
    <div id="load_wrapper" class="overlay" style="position:fixed;height:100%;width:100%;background:black;opacity:.7;z-index:2050;display:none;">
        <div class="lds-dual-ring"><div></div><div></div></div>
    </div>
    <!--Header-->
    <header>
        <div class="default-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-md-2">
                        <div class="logo"> <a href="index-2.html"><img src="/assets/images/logo.png" alt="image" /></a> </div>
                    </div>
                    <div class="col-sm-9 col-md-10">
                        <div class="header_info">
                            <div class="header_widgets">
                                <div class="circle_icon"> <i class="fa fa-envelope" aria-hidden="true"></i> </div>
                                <p class="uppercase_text">For Support Mail us : </p>
                                <a href="mailto:support@dealerinventorynetwork.com">support@dealerinventorynetwork.com</a>
                            </div>
                            <div class="header_widgets">
                                <div class="circle_icon"> <i class="fa fa-phone" aria-hidden="true"></i> </div>
                                <p class="uppercase_text">Service Helpline Call Us: </p>
                                <a href="tel:+17177992505">+1-717-799-2505</a>
                            </div>
                            <div class="social-follow">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="login_btn"> <a href="#loginform" class="btn btn-xs uppercase" data-toggle="modal" data-dismiss="modal">Login / Register</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navigation -->
        <nav id="navigation_bar" class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button id="menu_slide" data-target="#navigation" aria-expanded="false" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                </div>
                <div class="header_wrap">
                    <ul class="notification-section">
                        <li>
                            <button type="button"><a href="/Dealer/Messages"><i class="fa fa-envelope" aria-hidden="true"></i></a></button>
                        </li>
                        <li class="dropdown">
                            <span class="message-count">100</span>
                            <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><a href=""><i class="fa fa-bell" aria-hidden="true"></i></a></button>
                            <ul class="dropdown-menu" aria-labelledby="dLabel">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>

                    <div class="user_login">
                        <ul>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle" aria-hidden="true"></i> Jhon Anderson <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/mygarage">My Garage</a>
                                    </li>
                                    <li>
                                        <a href="/mysoldcar">Sold Car</a>
                                    </li>
                                   
                                        <li><a href="/Account/UpdateSettings">My Settings</a></li>
                                   

                                    <li><a href="/Account/UpdateProfile">My Profile</a></li>
                                    <li><a href="/DealerCar/Compare">Compare Car</a></li>
                                    <!--<li><a href="/Account/UpdatePassword">Update Password</a></li>
                                    <li><a href="/Dealer/Messages">Messages</a></li>-->
                                    <li><a href="/Account/Logout">Sign Out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="header_search">
                        <div id="search_toggle"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <form action="#" method="get" id="header-search-form">
                            <input type="text" placeholder="Search..." class="form-control">
                            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navigation end -->

    </header>

    @RenderBody()

    <!--Footer -->
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <h6>Top Categores</h6>
                        <ul>
                            <li><a href="#">Crossovers</a></li>
                            <li><a href="#">Hybrids</a></li>
                            <li><a href="#">Hybrid Cars</a></li>
                            <li><a href="#">Hybrid SUVs</a></li>
                            <li><a href="#">Concept Vehicles</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h6>About Us</h6>
                        <ul>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Hybrid Cars</a></li>
                            <li><a href="#">Cookies</a></li>
                            <li><a href="#">Trademarks</a></li>
                            <li><a href="#">Terms of use</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">Featured Partners</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">Investors</a></li>
                            <li><a href="#">Request a Quote</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h6>Subscribe Newsletter</h6>
                        <div class="newsletter-form">
                            <form action="post" id="Home_newsletter_form">
                                <div class="form-group">
                                    <input type="email" class="form-control newsletter-input" required placeholder="Enter Email Address" />
                                </div>
                                <button type="submit" class="btn btn-block">Subscribe <span class="angle_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
                            </form>
                            <p class="subscribed-text">*We send great deals and latest auto news to our subscribed users very week.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-push-6 text-right">
                        <div class="footer_widget">
                            <p>Connect with Us:</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-pull-6">
                        <p class="copy-right">Copyright &copy; 2019 DealerInventoryNetwork. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Footer-->
    <!--Back to top-->
    <div id="back-top" class="back-top"> <a href="#top"><i class="fa fa-angle-up" aria-hidden="true"></i> </a> </div>
    <!--/Back to top-->
    <!--Login-Form -->
    @Html.Partial("~/Views/Account/Login.cshtml")
    <!--/Login-Form -->


    <div class="modal fade" id="signupform">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Sign Up</h3>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="signup_wrap">
                            <div class="col-md-6 col-sm-6">
                                <form action="#" method="get">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Full Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email Address">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Confirm Password">
                                    </div>
                                    <div class="form-group checkbox">
                                        <input type="checkbox" id="terms_agree">
                                        <label for="terms_agree">I Agree with <a href="#">Terms and Conditions</a></label>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Sign Up" class="btn btn-block">
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <h6 class="gray_text">Login the Quick Way</h6>
                                <a href="#" class="btn btn-block facebook-btn"><i class="fa fa-facebook-square" aria-hidden="true"></i> Login with Facebook</a> <a href="#" class="btn btn-block twitter-btn"><i class="fa fa-twitter-square" aria-hidden="true"></i> Login with Twitter</a> <a href="#" class="btn btn-block googleplus-btn"><i class="fa fa-google-plus-square" aria-hidden="true"></i> Login with Google+</a>
                            </div>
                            <div class="mid_divider"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <p>Already got an account? <a href="#loginform" data-toggle="modal" data-dismiss="modal">Login Here</a></p>
                </div>
            </div>
        </div>
    </div>
    <!--/Register-Form
    <!--Forgot-password-Form -->
    @*<div class="modal fade" id="forgotpassword">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title">Password Recovery</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="forgotpassword_wrap">
                                <div class="col-md-12">
                                    <form action="#" method="get">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Your Email address*">
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Reset My Password" class="btn btn-block">
                                        </div>
                                    </form>
                                    <div class="text-center">
                                        <p class="gray_text">For security reasons we don't store your password. Your password will be reset and a new one will be send.</p>
                                        <p><a href="#loginform" data-toggle="modal" data-dismiss="modal"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back to Login</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <!--/Forgot-password-Form -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/TrialCarsScripts")
    @Scripts.Render("~/bundles/TrialCarsAccountScripts")

    @RenderSection("scripts", required: false)

</body>
</html>
