﻿<section class="section-padding gray-bg">
    <div class="container">
        <div class="section-header text-center">
            <h2>Find the Best <span>Deals For You</span></h2>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
        </div>
        <div class="row">

            <!-- Nav tabs -->
            <div class="recent-tab">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#resentnewcar" role="tab" data-toggle="tab">New Car</a></li>
                    <li role="presentation"><a href="#resentusecar" role="tab" data-toggle="tab">Use Car</a></li>
                </ul>
            </div>
            <!-- Recently Listed New Cars -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="resentnewcar">
                    <div class="col-list-3">
                        <div class="recent-car-list">
                            <div class="car-info-box">
                                <a href="#"><img src="assets/images/recent-car-1.jpg" class="img-responsive" alt=""></a>
                                <div class="compare_item">
                                    <div class="checkbox">
                                        <input type="checkbox" id="compare4">
                                        <label for="compare4">Compare</label>
                                    </div>
                                </div>
                                <ul>
                                    <li><i class="fa fa-road" aria-hidden="true"></i>20,000 km</li>
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>2005 Model</li>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>Colorado, USA</li>
                                </ul>
                            </div>
                            <div class="car-title-m">
                                <h6><a href="#">Ford Shelby GT350</a></h6>
                                <span class="price">$45,000</span>
                            </div>
                            <div class="inventory_info_m">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-list-3">
                        <div class="recent-car-list">
                            <div class="car-info-box">
                                <a href="#"><img src="assets/images/recent-car-2.jpg" class="img-responsive" alt=""></a>
                                <div class="compare_item">
                                    <div class="checkbox">
                                        <input type="checkbox" id="compare5">
                                        <label for="compare5">Compare</label>
                                    </div>
                                </div>
                                <ul>
                                    <li><i class="fa fa-road" aria-hidden="true"></i>20,000 km</li>
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>2005 Model</li>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>Colorado, USA</li>
                                </ul>
                            </div>
                            <div class="car-title-m">
                                <h6><a href="#">BMW 535i</a></h6>
                                <span class="price">$20,000</span>
                            </div>
                            <div class="inventory_info_m">
                                <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-list-3">
                        <div class="recent-car-list">
                            <div class="car-info-box">
                                <a href="#"><img src="assets/images/recent-car-3.jpg" class="img-responsive" alt=""></a>
                                <div class="compare_item">
                                    <div class="checkbox">
                                        <input type="checkbox" id="compare6">
                                        <label for="compare6">Compare</label>
                                    </div>
                                </div>
                                <ul>
                                    <li><i class="fa fa-road" aria-hidden="true"></i>20,000 km</li>
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>2005 Model</li>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>Colorado, USA</li>
                                </ul>
                            </div>
                            <div class="car-title-m">
                                <h6><a href="#">Volvo v40</a></h6>
                                <span class="price">$60,000</span>
                            </div>
                            <div class="inventory_info_m">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-list-3">
                        <div class="recent-car-list">
                            <div class="car-info-box">
                                <a href="#"><img src="assets/images/recent-car-4.jpg" class="img-responsive" alt=""></a>
                                <div class="compare_item">
                                    <div class="checkbox">
                                        <input type="checkbox" id="compare7">
                                        <label for="compare7">Compare</label>
                                    </div>
                                </div>
                                <ul>
                                    <li><i class="fa fa-road" aria-hidden="true"></i>20,000 km</li>
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>2005 Model</li>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>Colorado, USA</li>
                                </ul>
                            </div>
                            <div class="car-title-m">
                                <h6><a href="#">Audi TT RS</a></h6>
                                <span class="price">$90,000</span>
                            </div>
                            <div class="inventory_info_m">
                                <p>Great explorer of the truth, the master-builder of human happiness.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-list-3">
                        <div class="recent-car-list">
                            <div class="car-info-box">
                                <a href="#"><img src="assets/images/recent-car-5.jpg" class="img-responsive" alt=""></a>
                                <div class="compare_item">
                                    <div class="checkbox">
                                        <input type="checkbox" id="compare8">
                                        <label for="compare8">Compare</label>
                                    </div>
                                </div>
                                <ul>
                                    <li><i class="fa fa-road" aria-hidden="true"></i>20,000 km</li>
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>2005 Model</li>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>Colorado, USA</li>
                                </ul>
                            </div>
                            <div class="car-title-m">
                                <h6><a href="#">Audi A3</a></h6>
                                <span class="price">$49,000</span>
                            </div>
                            <div class="inventory_info_m">
                                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-list-3">
                        <div class="recent-car-list">
                            <div class="car-info-box">
                                <a href="#"><img src="assets/images/recent-car-6.jpg" class="img-responsive" alt=""></a>
                                <div class="compare_item">
                                    <div class="checkbox">
                                        <input type="checkbox" id="compare9">
                                        <label for="compare9">Compare</label>
                                    </div>
                                </div>
                                <ul>
                                    <li><i class="fa fa-road" aria-hidden="true"></i>20,000 km</li>
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>2005 Model</li>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>Colorado, USA</li>
                                </ul>
                            </div>
                            <div class="car-title-m">
                                <h6><a href="#">BMW 535i</a></h6>
                                <span class="price">$20,000</span>
                            </div>
                            <div class="inventory_info_m">
                                <p>On the other hand, we denounce with righteous indignation and dislike.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Recently Listed Used Cars -->
                <div role="tabpanel" class="tab-pane" id="resentusecar">
                    <div class="col-list-3">
                        <div class="recent-car-list">
                            <div class="car-info-box">
                                <a href="#"><img src="assets/images/recent-car-4.jpg" class="img-responsive" alt=""></a>
                                <div class="compare_item">
                                    <div class="checkbox">
                                        <input type="checkbox" id="compare90">
                                        <label for="compare9">Compare</label>
                                    </div>
                                </div>
                                <ul>
                                    <li><i class="fa fa-road" aria-hidden="true"></i>20,000 km</li>
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>2005 Model</li>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>Colorado, USA</li>
                                </ul>
                            </div>
                            <div class="car-title-m">
                                <h6><a href="#">Audi TT RS</a></h6>
                                <span class="price">$90,000</span>
                            </div>
                            <div class="inventory_info_m">
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-list-3">
                        <div class="recent-car-list">
                            <div class="car-info-box">
                                <a href="#"><img src="assets/images/recent-car-5.jpg" class="img-responsive" alt=""></a>
                                <div class="compare_item">
                                    <div class="checkbox">
                                        <input type="checkbox" id="compare10">
                                        <label for="compare10">Compare</label>
                                    </div>
                                </div>
                                <ul>
                                    <li><i class="fa fa-road" aria-hidden="true"></i>20,000 km</li>
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>2005 Model</li>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>Colorado, USA</li>
                                </ul>
                            </div>
                            <div class="car-title-m">
                                <h6><a href="#">Audi A3</a></h6>
                                <span class="price">$49,000</span>
                            </div>
                            <div class="inventory_info_m">
                                <p>But I must explain to you how all this mistaken idea of denouncing.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-list-3">
                        <div class="recent-car-list">
                            <div class="car-info-box">
                                <a href="#"><img src="assets/images/recent-car-6.jpg" class="img-responsive" alt=""></a>
                                <div class="compare_item">
                                    <div class="checkbox">
                                        <input type="checkbox" id="compare11">
                                        <label for="compare11">Compare</label>
                                    </div>
                                </div>
                                <ul>
                                    <li><i class="fa fa-road" aria-hidden="true"></i>20,000 km</li>
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>2005 Model</li>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>Colorado, USA</li>
                                </ul>
                            </div>
                            <div class="car-title-m">
                                <h6><a href="#">BMW 535i</a></h6>
                                <span class="price">$20,000</span>
                            </div>
                            <div class="inventory_info_m">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-list-3">
                        <div class="recent-car-list">
                            <div class="car-info-box">
                                <a href="#"><img src="assets/images/recent-car-1.jpg" class="img-responsive" alt=""></a>
                                <div class="compare_item">
                                    <div class="checkbox">
                                        <input type="checkbox" id="compare12">
                                        <label for="compare12">Compare</label>
                                    </div>
                                </div>
                                <ul>
                                    <li><i class="fa fa-road" aria-hidden="true"></i>20,000 km</li>
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>2005 Model</li>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>Colorado, USA</li>
                                </ul>
                            </div>
                            <div class="car-title-m">
                                <h6><a href="#">Ford Shelby GT350</a></h6>
                                <span class="price">$45,000</span>
                            </div>
                            <div class="inventory_info_m">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-list-3">
                        <div class="recent-car-list">
                            <div class="car-info-box">
                                <a href="#"><img src="assets/images/recent-car-2.jpg" class="img-responsive" alt=""></a>
                                <div class="compare_item">
                                    <div class="checkbox">
                                        <input type="checkbox" id="compare13">
                                        <label for="compare13">Compare</label>
                                    </div>
                                </div>
                                <ul>
                                    <li><i class="fa fa-road" aria-hidden="true"></i>20,000 km</li>
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>2005 Model</li>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>Colorado, USA</li>
                                </ul>
                            </div>
                            <div class="car-title-m">
                                <h6><a href="#">BMW 535i</a></h6>
                                <span class="price">$20,000</span>
                            </div>
                            <div class="inventory_info_m">
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-list-3">
                        <div class="recent-car-list">
                            <div class="car-info-box">
                                <a href="#"><img src="assets/images/recent-car-3.jpg" class="img-responsive" alt=""></a>
                                <div class="compare_item">
                                    <div class="checkbox">
                                        <input type="checkbox" id="compare14">
                                        <label for="compare14">Compare</label>
                                    </div>
                                </div>
                                <ul>
                                    <li><i class="fa fa-road" aria-hidden="true"></i>20,000 km</li>
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>2005 Model</li>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>Colorado, USA</li>
                                </ul>
                            </div>
                            <div class="car-title-m">
                                <h6><a href="#">Volvo v40</a></h6>
                                <span class="price">$60,000</span>
                            </div>
                            <div class="inventory_info_m">
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>