﻿@using Stripe;
@using Incite.Services.ViewModels
@model DealerCarViewModel
@{
    ViewBag.Title = "About";
}

@*<h2>@ViewBag.Title</h2>*@
@*<h3>@ViewBag.Message</h3>*@
<head>
    <link href="~/Assets/Trialcars/css/js_composer.min.css" rel="stylesheet" />
    <link href="~/Assets/Trialcars/css/bootstrap-slider.min.css" rel="stylesheet" />
    <link href="~/Assets/Trialcars/css/carforyou-style.css" rel="stylesheet" />
    <link href="~/Assets/Trialcars/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Assets/Trialcars/css/slick.css" rel="stylesheet" />
    <link href="~/Assets/Trialcars/css/style.css" rel="stylesheet" />
    <script src="~/Assets/Trialcars/js/bootstrap-slider.min.js"></script>
    <script src="~/Assets/Trialcars/js/owl.carousel.min.js"></script>
    <script src="~/Assets/Trialcars/js/slick.min.js"></script>
</head>
<section class="page-header faq_page" style="background-image:url(http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2016/12/aboutus-page-header-img.jpg )">
    <div class="container">
        <div class="page-header_wrap">
            <div class="page-heading">
                <h1>About Us</h1>
            </div>
            <ul class="coustom-breadcrumb"><li><a href="/" class="bread-link bread-home">Home</a></li><li>About Us</li></ul>
        </div>
    </div>
    <!-- Dark Overlay-->
    <div class="dark-overlay"></div>
</section>
<div class="container abtcomp">
    <div class="row">
        <article id="post-38" class="post-38 page type-page status-publish hentry">
            <div id="AboutCompany" class="vc_row wpb_row vc_row-fluid">
                <div class="section-padding wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                <div class="section-header wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <h2 style="text-align: center;">Welcome <span style="color: #111;">to Dealer Inventory Network </span></h2>

                                                </div>
                                            </div>

                                            <div class="wpb_text_column wpb_content_element  vc_custom_1486190601568">
                                                <div class="wpb_wrapper">
                                                    <p style="text-align: center;">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="vc_row wpb_row vc_inner vc_row-fluid">
                                <div class="about_content wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_single_image wpb_content_element vc_align_left   curricle_image_m">

                                                <figure class="wpb_wrapper vc_figure">
                                                    <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="150" height="150" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2016/12/about_us_img1-150x150.jpg" class="vc_single_image-img attachment-thumbnail" alt="" srcset="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2016/12/about_us_img1-150x150.jpg 150w, http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2016/12/about_us_img1.jpg 220w" sizes="(max-width: 150px) 100vw, 150px"></div>
                                                </figure>
                                            </div>

                                            <div class="wpb_text_column wpb_content_element  abt_content_m">
                                                <div class="wpb_wrapper">
                                                    <h3>Who <span style="font-weight: 300;">Are We</span></h3>
                                                    <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="about_content wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_single_image wpb_content_element vc_align_left   curricle_image_m">

                                                <figure class="wpb_wrapper vc_figure">
                                                    <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="150" height="150" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2016/12/about_us_img2-150x150.jpg" class="vc_single_image-img attachment-thumbnail" alt="" srcset="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2016/12/about_us_img2-150x150.jpg 150w, http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2016/12/about_us_img2.jpg 220w" sizes="(max-width: 150px) 100vw, 150px"></div>
                                                </figure>
                                            </div>

                                            <div class="wpb_text_column wpb_content_element  abt_content_m">
                                                <div class="wpb_wrapper">
                                                    <h3>Our <span style="font-weight: 300;">Mission</span></h3>
                                                    <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="vc_row wpb_row vc_inner vc_row-fluid">
                                <div class="about_content wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_single_image wpb_content_element vc_align_left   curricle_image_m">

                                                <figure class="wpb_wrapper vc_figure">
                                                    <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="150" height="150" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2016/12/about_us_img3-150x150.jpg" class="vc_single_image-img attachment-thumbnail" alt="" srcset="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2016/12/about_us_img3-150x150.jpg 150w, http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2016/12/about_us_img3.jpg 228w" sizes="(max-width: 150px) 100vw, 150px"></div>
                                                </figure>
                                            </div>

                                            <div class="wpb_text_column wpb_content_element  abt_content_m">
                                                <div class="wpb_wrapper">
                                                    <h3>What <span style="font-weight: 300;">we do</span></h3>
                                                    <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="about_content wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_single_image wpb_content_element vc_align_left   curricle_image_m">

                                                <figure class="wpb_wrapper vc_figure">
                                                    <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="150" height="150" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2016/12/about_us_img4-150x150.jpg" class="vc_single_image-img attachment-thumbnail" alt="" srcset="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2016/12/about_us_img4-150x150.jpg 150w, http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2016/12/about_us_img4.jpg 228w" sizes="(max-width: 150px) 100vw, 150px"></div>
                                                </figure>
                                            </div>

                                            <div class="wpb_text_column wpb_content_element  abt_content_m">
                                                <div class="wpb_wrapper">
                                                    <h3>Our <span style="font-weight: 300;">Mission</span></h3>
                                                    <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
<div class="container whycomp">
    <div class="row">
        <article id="post-38" class="post-38 page type-page status-publish hentry">
            <section id="Whychoose" data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid gray-bg" style="position: relative; box-sizing: border-box;">
                <section class="section-padding wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                <div class="section-header wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <h2 style="text-align: center;">
                                                        Why <span style="color: #111;">
                                                            choose Us<br>
                                                        </span>
                                                    </h2>

                                                </div>
                                            </div>

                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p style="text-align: center;">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="vc_row wpb_row vc_inner vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <div class="listing_box">
                                                        <h5><i class="fa fa-user"></i> Trusted By Thousands</h5>
                                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <div class="listing_box">
                                                        <h5><i class="fa fa-globe"></i> Wide Range Of Vehicles</h5>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <div class="listing_box">
                                                        <h5><i class="fa fa-car"></i> Faster Buy &amp; Sell</h5>
                                                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete.</p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_video_widget wpb_content_element vc_clearfix  video_box  vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
                                                <div class="wpb_wrapper">

                                                    <video controls class="abt-video">
                                                        <source src="~/Assets/Video/Final Render of DIN New.mp4" />
                                                    </video>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="vc_row-full-width vc_clearfix"></div><div id="MeetTeam" class="vc_row wpb_row vc_row-fluid">
                    <div class="section-padding wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner vc_custom_1486195663376">
                            <div class="wpb_wrapper">
                                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                    <div class="section-header wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element ">
                                                    <div class="wpb_wrapper">
                                                        <h2 style="text-align: center;">Meet <span style="color: #111;">the Team</span></h2>

                                                    </div>
                                                </div>

                                                <div class="wpb_text_column wpb_content_element ">
                                                    <div class="wpb_wrapper">
                                                        <p style="text-align: center;">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text.</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="vc_row wpb_row vc_inner vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="team_member">
                                                            <div class="team_img">
                                                                <img width="582" height="374" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/02/our_team_1.jpg" class="attachment-carforyou_small size-carforyou_small wp-post-image" alt="" srcset="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/02/our_team_1.jpg 700w, http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/02/our_team_1-300x193.jpg 300w" sizes="(max-width: 582px) 100vw, 582px">                    <div class="team_more_info">
                                                                    <div class="info_wrap">
                                                                        <p><span>Phone:</span> <a href="tel:+61-12134-567-89">+61-12134-567-89</a></p><p><span>Email:</span> <a href="mailto:contact@example.com">contact@example.com</a></p>
                                                                        <ul>
                                                                            <li><a href="https://www.facebook.com/RosaGray" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                                            <li><a href="https://www.twitter.com/JhonAnderson" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                                            <li><a href="https://www.linkedin.com/RosaGray" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                                                            <li><a href="https://www.google.com/JhonAnderson" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="team_info">
                                                                <h6>Sarah Odegard</h6>
                                                                <p>Chief Finance Manager</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="team_member">
                                                            <div class="team_img">
                                                                <img width="582" height="374" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/02/our_team_2.jpg" class="attachment-carforyou_small size-carforyou_small wp-post-image" alt="" srcset="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/02/our_team_2.jpg 700w, http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/02/our_team_2-300x193.jpg 300w" sizes="(max-width: 582px) 100vw, 582px">                    <div class="team_more_info">
                                                                    <div class="info_wrap">
                                                                        <p><span>Phone:</span> <a href="tel:+61-12134-567-89">+61-12134-567-89</a></p><p><span>Email:</span></p>
                                                                        <ul>
                                                                            <li><a href="https://www.facebook.com/JhonAnderson" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                                            <li><a href="https://www.twitter.com/JhonAnderson" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                                            <li><a href="https://www.linkedin.com/JhonAnderson" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                                                            <li><a href="https://www.google.com/JhonAnderson" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="team_info">
                                                                <h6>Jhon Anderson</h6>
                                                                <p>Sales Manager</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="team_member">
                                                            <div class="team_img">
                                                                <img width="582" height="374" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/02/our_team_3.jpg" class="attachment-carforyou_small size-carforyou_small wp-post-image" alt="" srcset="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/02/our_team_3.jpg 700w, http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/02/our_team_3-300x193.jpg 300w" sizes="(max-width: 582px) 100vw, 582px">                    <div class="team_more_info">
                                                                    <div class="info_wrap">
                                                                        <p><span>Phone:</span> <a href="tel:+61-12134-567-89">+61-12134-567-89</a></p><p><span>Email:</span> <a href="mailto:contact@example.com">contact@example.com</a></p>
                                                                        <ul>
                                                                            <li><a href="https://www.facebook.com/RosaGray" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                                            <li><a href="https://www.twitter.com/RosaGray" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                                            <li><a href="https://www.linkedin.com/RosaGray" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                                                            <li><a href="https://www.google.com/RosaGray" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="team_info">
                                                                <h6>Rosa Gray</h6>
                                                                <p>Executive Vice President</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="wpb_text_column wpb_content_element  vc_custom_1486795017279">
                                                    <div class="wpb_wrapper">


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </article>
    </div>
</div>
@*<section class="brand-section gray-bg">
        <div class="container">
            <div class="brand-hadding">
                <h5>
                    Popular Brands
                </h5>
            </div>
            <div class="brand-logo-list">
                <div id="popular_brands">
                    <div class="owl-carousel owl-rtl owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(1793px, 0px, 0px); transition: all 0.25s ease 0s; width: 2988px;">
                                <div class="owl-item cloned" style="width: 199.2px;">
                                    <div>
                                        <a href="" target="_blank">
                                            <img width="150" height="66" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/01/brand-logo-1-1.png" class="img-responsive wp-post-image" alt="">
                                        </a>
                                    </div>
                                </div><div class="owl-item cloned" style="width: 199.2px;">
                                    <div>
                                        <a href="#" target="_blank">
                                            <img width="150" height="66" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/01/brand-logo-2-1.png" class="img-responsive wp-post-image" alt="">
                                        </a>
                                    </div>
                                </div><div class="owl-item cloned" style="width: 199.2px;">
                                    <div>
                                        <a href="" target="_blank">
                                            <img width="150" height="66" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/01/brand-logo-3-1.png" class="img-responsive wp-post-image" alt="">
                                        </a>
                                    </div>
                                </div><div class="owl-item cloned" style="width: 199.2px;">
                                    <div>
                                        <a href="" target="_blank">
                                            <img width="150" height="66" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/01/brand-logo-4-1.png" class="img-responsive wp-post-image" alt="">
                                        </a>
                                    </div>
                                </div><div class="owl-item cloned" style="width: 199.2px;">
                                    <div>
                                        <a href="" target="_blank">
                                            <img width="150" height="66" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/01/brand-logo-5-1.png" class="img-responsive wp-post-image" alt="">
                                        </a>
                                    </div>
                                </div><div class="owl-item" style="width: 199.2px;">
                                    <div>
                                        <a href="" target="_blank">
                                            <img width="150" height="66" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/01/brand-logo-1-1.png" class="img-responsive wp-post-image" alt="">
                                        </a>
                                    </div>
                                </div><div class="owl-item" style="width: 199.2px;">
                                    <div>
                                        <a href="#" target="_blank">
                                            <img width="150" height="66" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/01/brand-logo-2-1.png" class="img-responsive wp-post-image" alt="">
                                        </a>
                                    </div>
                                </div><div class="owl-item" style="width: 199.2px;">
                                    <div>
                                        <a href="" target="_blank">
                                            <img width="150" height="66" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/01/brand-logo-3-1.png" class="img-responsive wp-post-image" alt="">
                                        </a>
                                    </div>
                                </div><div class="owl-item" style="width: 199.2px;">
                                    <div>
                                        <a href="" target="_blank">
                                            <img width="150" height="66" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/01/brand-logo-4-1.png" class="img-responsive wp-post-image" alt="">
                                        </a>
                                    </div>
                                </div><div class="owl-item active" style="width: 199.2px;">
                                    <div>
                                        <a href="" target="_blank">
                                            <img width="150" height="66" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/01/brand-logo-5-1.png" class="img-responsive wp-post-image" alt="">
                                        </a>
                                    </div>
                                </div><div class="owl-item cloned active" style="width: 199.2px;">
                                    <div>
                                        <a href="" target="_blank">
                                            <img width="150" height="66" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/01/brand-logo-1-1.png" class="img-responsive wp-post-image" alt="">
                                        </a>
                                    </div>
                                </div><div class="owl-item cloned active" style="width: 199.2px;">
                                    <div>
                                        <a href="#" target="_blank">
                                            <img width="150" height="66" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/01/brand-logo-2-1.png" class="img-responsive wp-post-image" alt="">
                                        </a>
                                    </div>
                                </div><div class="owl-item cloned active" style="width: 199.2px;">
                                    <div>
                                        <a href="" target="_blank">
                                            <img width="150" height="66" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/01/brand-logo-3-1.png" class="img-responsive wp-post-image" alt="">
                                        </a>
                                    </div>
                                </div><div class="owl-item cloned active" style="width: 199.2px;">
                                    <div>
                                        <a href="" target="_blank">
                                            <img width="150" height="66" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/01/brand-logo-4-1.png" class="img-responsive wp-post-image" alt="">
                                        </a>
                                    </div>
                                </div><div class="owl-item cloned active" style="width: 199.2px;">
                                    <div>
                                        <a href="" target="_blank">
                                            <img width="150" height="66" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/01/brand-logo-5-1.png" class="img-responsive wp-post-image" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots disabled"><div class="owl-dot active"><span></span></div></div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
