﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CardConfirmationMsg</title>
</head>
<body>
    <div>
        <form action="/Home/CardConfirmationMsg" method="post">
            <label> Do You Want To Update Card Information</label>
            <input type="submit" name="Ok" value="Yes">
            <input type="submit" name="Cancel" value="No">
        </form>

        @*@using (Html.BeginRouteForm("CardConfirmationMsg", FormMethod.Post))
        {
            <a href="/CardConfirmationMsgYes" class="pricingTable-signup">Change Card Information</a>
            <a href="/CardConfirmationMsgNo" class="pricingTable-signup">Keep Same Card</a>
        }*@
        </div>
</body>
</html>
