﻿@using Stripe;
@using Incite.Services.ViewModels
@using System.Globalization;
@{
    ViewBag.Title = "ChoosePlan";

    StripeList<Plan> availablePlans = new StripeList<Plan>();
    if (ViewBag.StripePlans != null)
    {
        availablePlans = (StripeList<Plan>)ViewBag.StripePlans;

    }

}

<style type="text/css">

    .plan-selection {
        width: 100%;
        display: table;
        font-size: 16px;
    }

        .plan-selection h4 {
            font-weight: 700;
        }

        .plan-selection .plan-head {
            display: inline-block;
            width: 120px;
            height: 120px;
            line-height: 120px;
            background-color: #3b3bb8;
            color: #fff;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            box-sizing: border-box;
            font-size: 16px;
            font-weight: 700;
        }

    .centerContainer .planHeader {
        text-align: right;
    }

    .planHeader {
        display: table;
        width: 100%;
        margin: 0;
        border-collapse: collapse;
        margin-bottom: 15px;
    }

        .planHeader .headerRow {
            display: table-row;
            padding-top: 5px;
            font-size: 18px;
        }

    .plan-selection .table-head {
        display: table-cell;
        padding: 12px 15px;
        height: 60px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        vertical-align: middle;
    }

    .plan-selection .table-cell {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        width: 20%;
    }

    .selected-plan {
        position: relative;
    }

        .selected-plan::after {
            position: absolute;
            content: "";
            width: 20px;
            height: 20px;
            background-color: #33333c;
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: -10px;
            transform: rotate(45deg);
        }

    .planHeader.planOption .optionRow {
        display: table-row;
        border-bottom: 1px solid #ccc;
    }

    .planOption .optionData.selected-data {
        color: #3b3bb8;
    }

    .disable-section {
        opacity: 0.6;
    }

    .plan-details {
        border: 1px solid #3b3bb8;
        line-height: normal;
        font-size: 14px;
        padding: 5px;
        margin: 10px 0;
        border-radius: 4px;
    }
</style>

<!--Page Header-->
<section class="page-header compare_page">
    <div class="container">
        <div class="page-header_wrap">
            <div class="page-heading">
                <h1>Choose Plan</h1>
            </div>
            <ul class="coustom-breadcrumb">
                <li><a href="@Url.RouteUrl("HomeIndex")">Home</a></li>
                <li>Step 1 of 3</li>
            </ul>
        </div>
    </div>
    <!-- Dark Overlay-->
    <div class="dark-overlay"></div>
</section>
<!-- /Page Header -->



<section class="user_profile inner_pages" style="background-color: currentColor;">
    <div class="container">
        <div class="row" style="margin-left:-85px">
            <div class="col-md-12">
                <div class="result-sorting-wrapper">
                    <div class="row form-group">
                        <div id="main-wrapper" data-navbarbg="skin6" data-theme="light" data-layout="vertical" data-sidebartype="full" data-boxed-layout="full">
                            <div class="page-wrapper">
                                <div id="dvRegisterMsg" class="alert alert-info dvdismiss" style="display:none;">
                                </div>
                                <div class="container-fluid">
                                    @{Html.RenderAction("GetStripePlanList", "Home"); }
                                    @*<div class="row">
                                            @if (availablePlans != null && availablePlans.Data != null && availablePlans.Data.Count > 0)
                                            {
                                                int counter = 0;
                                                int counter2 = 0;
                                                <div class="col-sm-12">
                                                    <div class="plan-selection">
                                                        <h4>Choose Plan</h4>

                                                        <div class="planHeader">
                                                            <div class="headerRow">
                                                                <div class="table-head"></div>
                                                                <div class="table-cell">
                                                                    @foreach (var item in availablePlans.Data.OrderBy(c => c.Amount).ToList())
                                                                    {
                                                                        if (counter == 0)
                                                                        {
                                                                            <div onclick="BindSelectedPlan(this,'@item.Id')" @if (counter == 0) { <text> class="availablePlans container_hosting-package plan-head selected-plan header_@item.Id" </text>  } else { <text> class="availablePlans container_hosting-package plan-head disable-section header_@item.Id" </text> }>@item.Nickname</div>
                                                                            <br />
                                                                            <br />
                                                                            <div class="optionData @if (counter == 0) {<text>selected-data</text> } else {<text>disable-section</text> }  data_@item.Id">
                                                                                Buy plan at $@string.Format("{0:N2}", item.Amount / 100)
                                                                            </div>
                                                                            <p class="plan-details">
                                                                                Screens you can watch on at the same time
                                                                            </p>
                                                                        }
                                                                        else
                                                                        {
                                                                            <input type="checkbox" id="cbkPlan" onclick="BindSelectedPlan(this,'@item.Id', true)" /> <text> &nbsp;  @item.Nickname </text>
                                                                            <br />
                                                                            <br />
                                                                            <div class="optionData selected-data data_@item.Id">
                                                                                Buy plan at $@string.Format("{0:N2}", item.Amount / 100)
                                                                            </div>
                                                                            <p class="plan-details">
                                                                                Screens you can watch on at the same time
                                                                            </p>
                                                                        }


                                                                        <hr />
                                                                        counter++;
                                                                    }
                                                                </div>

                                                                <div class="table-cell" style="vertical-align:top">
                                                                    <div class="container_hosting-package plan-head disable-section">
                                                                        Coming Soon
                                                                    </div>
                                                                </div>
                                                                <div class="table-cell" style="vertical-align:top">
                                                                    <div class="container_hosting-package plan-head disable-section">
                                                                        Coming Soon
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>


                                                </div>
                                            }
                                        </div>
                                        <div class="row">

                                            <div class="col-lg-12">
                                                <div class="raw form-group">
                                                    <div class="col-md-offset-5 col-sm-7">
                                                        <input type="submit" id="btnSelectPlan" value="Purchase" name="signup" class="btn btn-success">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var selectedPlanId = '';
     @if (availablePlans != null && availablePlans.Data != null && availablePlans.Data.Count > 0)
     {
        <text>
         //$(document).ready(function(){
           this.selectedPlanId = '@availablePlans.Data.OrderBy(c => c.Amount).FirstOrDefault().Id';
        // });
         </text>
     }
    function BindSelectedPlan(obj, id, isCheckBox) {
        if (isCheckBox != true) {
            $("#cbkPlan").prop("checked", false);
            $(".availablePlans").addClass("selected-plan");
        }


        if (isCheckBox == true) {
            $(".availablePlans").removeClass("selected-plan");
            $(".availablePlans").addClass("disable-section");
            //selected-plan
        }


if(isCheckBox==false)
        $(obj).addClass("selected-plan");
        $(obj).removeClass("disable-section");

         selectedPlanId = id;
     }
    $(document).ready(function () {
        $("#btnSelectPlan").click(function () {
            window.location.href = '/purchase/'+selectedPlanId;
         })
    })
</script>




