﻿@using Incite.Services.ViewModels
@model ContactUsViewModel

@{
    string emailRegix = @"[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$";
    string mobilRegix = @"^[0-9]{10}$";
}
@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@
@*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>*@
@*<address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@
<head>
    <link href="~/Assets/Trialcars/css/js_composer.min.css" rel="stylesheet" />
    <link href="~/Assets/Trialcars/css/bootstrap-slider.min.css" rel="stylesheet" />
    <link href="~/Assets/Trialcars/css/carforyou-style.css" rel="stylesheet" />
    <link href="~/Assets/Trialcars/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Assets/Trialcars/css/slick.css" rel="stylesheet" />
    <link href="~/Assets/Trialcars/css/style.css" rel="stylesheet" />
    <script src="~/Assets/Trialcars/js/bootstrap-slider.min.js"></script>
    <script src="~/Assets/Trialcars/js/owl.carousel.min.js"></script>
    <script src="~/Assets/Trialcars/js/slick.min.js"></script>
</head>
<section class="page-header faq_page" style="background-image:url(http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/01/contact-page-header-img.jpg )">
    <div class="container">
        <div class="page-header_wrap">
            <div class="page-heading">
                <h1>Contact Us</h1>
            </div>
            <ul class="coustom-breadcrumb"><li><a class="bread-link bread-home" href="/">Home</a></li><li>Contact Us</li></ul>
        </div>
    </div>
    <!-- Dark Overlay-->
    <div class="dark-overlay"></div>
</section>
<div class="container">
    <div class="row">
        <article id="post-81" class="post-81 page type-page status-publish hentry">
            <div class="vc_row wpb_row vc_row-fluid vc_custom_1487329145162">
                <div class="contact_us section-padding wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <h3 style="text-align: left" class="vc_custom_heading">Get in touch using the form below</h3>
                                            <div class="wpb_text_column wpb_content_element  vc_custom_1486128244194">
                                                <div class="wpb_wrapper">
                                                    <div role="form" class="wpcf7" id="wpcf7-f143-p81-o1" lang="en-US" dir="ltr">
                                                        <div class="screen-reader-response"></div>
                                                        <form  class="wpcf7-form"  id="contactUsForm">
                                                            @Html.AntiForgeryToken()
                                                            <div style="display: none;">
                                                                <input type="hidden" name="_wpcf7" value="143">
                                                                <input type="hidden" name="_wpcf7_version" value="5.1.1">
                                                                <input type="hidden" name="_wpcf7_locale" value="en_US">
                                                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f143-p81-o1">
                                                                <input type="hidden" name="_wpcf7_container_post" value="81">
                                                                <input type="hidden" name="g-recaptcha-response" value="">
                                                            </div>
                                                            <div class="contact_form gray-bg">
                                                                <div class="form-group">
                                                                    <label for="fullname" class="control-label">Full Name <span>*</span></label><br>
                                                                    <span class="wpcf7-form-control-wrap text"><input type="text" name="FullName" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control white_bg" id="FullName" aria-required="true" aria-invalid="false" required></span>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="emailaddress" class="control-label">Email Address <span>*</span></label><br>
                                                                    <span class="wpcf7-form-control-wrap email">
                                                                        <input type="email" name="EmailAddress" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control white_bg" id="EmailAddress" aria-required="true" aria-invalid="false" required pattern="@emailRegix" title="Invalid email address">
                                                                    </span>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="phonenumber" class="control-label">Phone Number <span>*</span></label><br>
                                                                    <span class="wpcf7-form-control-wrap text"><input type="text" name="PhoneNumber" value="" size="13" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control white_bg" id="PhoneNumber" aria-required="true" aria-invalid="false" pattern="\d{3}[\-]\d{3}[\-]\d{4}$" required></span>
                                                                    <label id="phonenumberMessageError" class="error" for="message" ></label>
                                                                    @*<span class="wpcf7-form-control-wrap tel"><input type="text" name="PhoneNumber" value="" class="wpcf7-form-control wpcf7-number wpcf7-validates-as-required wpcf7-validates-as-number form-control white_bg" id="PhoneNumber" aria-required="true" aria-invalid="false" required pattern="@mobilRegix" ></span>*@
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="message" class="control-label">Message <span>*</span></label><br>
                                                                    <span class="wpcf7-form-control-wrap message"><textarea name="message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required form-control white_bg" aria-required="true" aria-invalid="false" required></textarea></span>
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="submit" value="Send Message" class="wpcf7-form-control wpcf7-submit btn" id="btnSubmitContactUsForm"><span class="ajax-loader"></span>
                                                                </div>
                                                            </div>
                                                            <div id="messageDiv" style="display: none"></div>
                                                        </form>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <h3 style="text-align: left" class="vc_custom_heading">Contact Info</h3>
                                            <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                                <div class="wpb_wrapper">
                                                    <div class="contact_detail">
                                                        <ul>
                                                            <li>
                                                                <div class="icon_wrap"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                                                                <div class="contact_info_m">6384 Lincoln Hwy, Wrightsville, PA 17368, USA</div>
                                                            </li>
                                                            <li>
                                                                <div class="icon_wrap"><i class="fa fa-phone" aria-hidden="true"></i></div>
                                                                <div class="contact_info_m"><a href="tel:61-1234-567-90">+1-(717)-799-2505</a></div>
                                                            </li>
                                                            <li>
                                                                <div class="icon_wrap"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                                                                <div class="contact_info_m"><a href="mailto:support@dealerinventorynetwork.com">support@dealerinventorynetwork.com</a></div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
                                                <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div>
                                                <script>
                                                    (function () {
                                                        var setting = { "height": 512, "width": 803, "zoom": 17, "queryString": "6384 Lincoln Hwy, Wrightsville, PA 17368, USA", "place_id": "ChIJGQRKTKacyIkRz29QF5f9jfg", "satellite": false, "centerCoord": [40.02200686333556, -76.54577955000002], "cid": "0xf88dfd9717506fcf", "cityUrl": "/us/pa/lancaster", "id": "map-9cd199b9cc5410cd3b1ad21cab2e54d3", "embed_id": "68545" };
                                                        var d = document;
                                                        var s = d.createElement('script');
                                                        s.src = 'https://1map.com/js/script-for-user.js?embed_id=68545';
                                                        s.async = true;
                                                        s.onload = function (e) {
                                                            window.OneMap.initMap(setting)
                                                        };
                                                        var to = d.getElementsByTagName('script')[0];
                                                        to.parentNode.insertBefore(s, to);
                                                    })();
                                                </script><a href="https://1map.com/map-embed?embed_id=68545">1map.com</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
@*<section class="brand-section gray-bg">
        <div class="container">
            <div class="brand-hadding">
                <h5>
                    Popular Brands
                </h5>
            </div>
            <div class="brand-logo-list">
                <div id="popular_brands">
                    <div class="owl-carousel owl-rtl owl-loaded owl-drag">





                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(1793px, 0px, 0px); transition: all 0.25s ease 0s; width: 2988px;">
                                <div class="owl-item cloned" style="width: 199.2px;">
                                    <div>
                                        <a href="" target="_blank">
                                            <img width="150" height="66" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/01/brand-logo-1-1.png" class="img-responsive wp-post-image" alt="">
                                        </a>
                                    </div>
                                </div><div class="owl-item cloned" style="width: 199.2px;">
                                    <div>
                                        <a href="#" target="_blank">
                                            <img width="150" height="66" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/01/brand-logo-2-1.png" class="img-responsive wp-post-image" alt="">
                                        </a>
                                    </div>
                                </div><div class="owl-item cloned" style="width: 199.2px;">
                                    <div>
                                        <a href="" target="_blank">
                                            <img width="150" height="66" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/01/brand-logo-3-1.png" class="img-responsive wp-post-image" alt="">
                                        </a>
                                    </div>
                                </div><div class="owl-item cloned" style="width: 199.2px;">
                                    <div>
                                        <a href="" target="_blank">
                                            <img width="150" height="66" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/01/brand-logo-4-1.png" class="img-responsive wp-post-image" alt="">
                                        </a>
                                    </div>
                                </div><div class="owl-item cloned" style="width: 199.2px;">
                                    <div>
                                        <a href="" target="_blank">
                                            <img width="150" height="66" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/01/brand-logo-5-1.png" class="img-responsive wp-post-image" alt="">
                                        </a>
                                    </div>
                                </div><div class="owl-item" style="width: 199.2px;">
                                    <div>
                                        <a href="" target="_blank">
                                            <img width="150" height="66" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/01/brand-logo-1-1.png" class="img-responsive wp-post-image" alt="">
                                        </a>
                                    </div>
                                </div><div class="owl-item" style="width: 199.2px;">
                                    <div>
                                        <a href="#" target="_blank">
                                            <img width="150" height="66" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/01/brand-logo-2-1.png" class="img-responsive wp-post-image" alt="">
                                        </a>
                                    </div>
                                </div><div class="owl-item" style="width: 199.2px;">
                                    <div>
                                        <a href="" target="_blank">
                                            <img width="150" height="66" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/01/brand-logo-3-1.png" class="img-responsive wp-post-image" alt="">
                                        </a>
                                    </div>
                                </div><div class="owl-item" style="width: 199.2px;">
                                    <div>
                                        <a href="" target="_blank">
                                            <img width="150" height="66" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/01/brand-logo-4-1.png" class="img-responsive wp-post-image" alt="">
                                        </a>
                                    </div>
                                </div><div class="owl-item active" style="width: 199.2px;">
                                    <div>
                                        <a href="" target="_blank">
                                            <img width="150" height="66" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/01/brand-logo-5-1.png" class="img-responsive wp-post-image" alt="">
                                        </a>
                                    </div>
                                </div><div class="owl-item cloned active" style="width: 199.2px;">
                                    <div>
                                        <a href="" target="_blank">
                                            <img width="150" height="66" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/01/brand-logo-1-1.png" class="img-responsive wp-post-image" alt="">
                                        </a>
                                    </div>
                                </div><div class="owl-item cloned active" style="width: 199.2px;">
                                    <div>
                                        <a href="#" target="_blank">
                                            <img width="150" height="66" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/01/brand-logo-2-1.png" class="img-responsive wp-post-image" alt="">
                                        </a>
                                    </div>
                                </div><div class="owl-item cloned active" style="width: 199.2px;">
                                    <div>
                                        <a href="" target="_blank">
                                            <img width="150" height="66" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/01/brand-logo-3-1.png" class="img-responsive wp-post-image" alt="">
                                        </a>
                                    </div>
                                </div><div class="owl-item cloned active" style="width: 199.2px;">
                                    <div>
                                        <a href="" target="_blank">
                                            <img width="150" height="66" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/01/brand-logo-4-1.png" class="img-responsive wp-post-image" alt="">
                                        </a>
                                    </div>
                                </div><div class="owl-item cloned active" style="width: 199.2px;">
                                    <div>
                                        <a href="" target="_blank">
                                            <img width="150" height="66" src="http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/01/brand-logo-5-1.png" class="img-responsive wp-post-image" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots disabled"><div class="owl-dot active"><span></span></div></div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
