﻿
@using Stripe;
@using Incite.Services.ViewModels
@model DealerCarViewModel
@{
    ViewBag.Title = "faq";
}

@*<h2>@ViewBag.Title</h2>*@
@*<h3>@ViewBag.Message</h3>*@
<head>
    <link href="~/Assets/Trialcars/css/js_composer.min.css" rel="stylesheet" />
    <link href="~/Assets/Trialcars/css/bootstrap-slider.min.css" rel="stylesheet" />
    <link href="~/Assets/Trialcars/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/Trialcars/css/owl.transitions.css" rel="stylesheet" />
    <link href="~/Assets/Trialcars/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/Trialcars/css/carforyou-style.css" rel="stylesheet" />
    <link href="~/Assets/Trialcars/css/owl.carousel.css" rel="stylesheet" />
    @*<link href="~/Assets/Trialcars/css/slick.css" rel="stylesheet" />*@
    <link href="~/Assets/Trialcars/css/style.css" rel="stylesheet" />
    <script src="~/Assets/Trialcars/js/jquery.min.js"></script>
    <script src="~/Assets/Trialcars/js/bootstrap.min.js"></script>
    <script src="~/Assets/Trialcars/js/interface.js"></script>
    <script src="~/Assets/Trialcars/js/bootstrap-slider.min.js"></script>
    <script src="~/Assets/Trialcars/js/owl.carousel.min.js"></script>
    <script src="~/Assets/Trialcars/js/slick.min.js"></script>
    <style>
        .owl-pagination {
            display: none !important;
        }

        .owl-carousel .owl-wrapper-outer {
            overflow: initial !important;
        }
    </style>
</head>
<!--Page Header-->
<section class="page-header faq_page" style="background-image:url(http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2017/01/listing-page-header-img.jpg )">
    <div class="container">
        <div class="page-header_wrap">
            <div class="page-heading">
                <h1>FAQ</h1>
            </div>
            <ul class="coustom-breadcrumb"><li><a class="bread-link bread-home" href="/">Home</a></li><li>FAQ</li></ul>
        </div>
    </div>
    <!-- Dark Overlay-->
    <div class="dark-overlay"></div>
</section>
<!-- /Page Header-->
<div class="container">
    <div class="row">
        <article id="post-83" class="post-83 page type-page status-publish hentry">
            <div class="vc_row wpb_row vc_row-fluid vc_custom_1487329929938">
                <div class="section-padding wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                <div class="section-header text-center wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <h2 style="text-align: center;">Frequently <span style="color: #111;">Asked Questions </span></h2>
                                                </div>
                                            </div>
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1487330441861">
                                <div class="wpb_column vc_column_container vc_col-sm-4">
                                    <div class="vc_column-inner vc_custom_1487330504437">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element  vc_custom_1486130153482 faq_category white-text dark_mask">
                                                <div class="wpb_wrapper">
                                                    <h3>Knowledge <span style="color: #ffffff;">Base</span></h3>
                                                </div>
                                            </div>
                                            <h4 style="text-align: left" class="vc_custom_heading faq_text">What is Lorem Ipsum?</h4>
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                                </div>
                                            </div>
                                            <h4 style="text-align: left" class="vc_custom_heading faq_text">What is Lorem Ipsum?</h4>
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="wpb_column vc_column_container vc_col-sm-4">
                                    <div class="vc_column-inner vc_custom_1487330510352">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element  vc_custom_1486130164413 faq_category white-text dark_mask">
                                                <div class="wpb_wrapper">
                                                    <h3>About <span style="color: #ffffff;">Our Services</span></h3>
                                                </div>
                                            </div>
                                            <h4 style="text-align: left" class="vc_custom_heading faq_text">Why do we use it?</h4>
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                                </div>
                                            </div>
                                            <h4 style="text-align: left" class="vc_custom_heading faq_text">Where can I get some?</h4>
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="wpb_column vc_column_container vc_col-sm-4">
                                    <div class="vc_column-inner vc_custom_1487330561959">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element  vc_custom_1486130172782 faq_category white-text dark_mask">
                                                <div class="wpb_wrapper">
                                                    <h3>Support <span style="color: #ffffff;">Forum</span></h3>
                                                </div>
                                            </div>
                                            <h4 style="text-align: left" class="vc_custom_heading faq_text">What is Lorem Ipsum?</h4>
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                                </div>
                                            </div>
                                            <h4 style="text-align: left" class="vc_custom_heading faq_text">What is Lorem Ipsum?</h4>
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>

<!--Brands-->
<section class="brand-section gray-bg">
<div class="container">
        <div class="row">
        <div class="col-md-2 brand-hadding" style="top: 8px;right: 15px">
            <h5>Featured Partners</h5>
        </div>
        <div class="col-md-10 brand-logo-list" style="height:100px">
            <div id="popular_brands">
                <div><a href="#"><img src="~/Assets/images/carlogicfinal.png" class="img-responsive" alt="image"></a></div>
                <div><a href="#"><img src="~/Assets/images/Addact1.png" class="img-responsive" alt="image"></a></div>
                <div><a href="#"><img src="~/Assets/images/StripeLogo1.jpg" class="img-responsive" alt="image"></a></div>
            </div>
        </div>
    </div>
</div>
</section>