﻿@using Stripe;
@using Incite.Services.ViewModels
@using System.Globalization;
@{
    Layout = null;


    string existingPlanlist = "";
    if (ViewBag.EistingPlan != null)
    {
        existingPlanlist = (string)ViewBag.EistingPlan;
    }

    StripeList<Plan> availablePlans = new StripeList<Plan>();
    if (ViewBag.StripePlans != null)
    {
        availablePlans = (StripeList<Plan>)ViewBag.StripePlans;

    }

}
<head>
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<style type="text/css">
    .demo {
        background: #e7e7e7;
    }

    .pricingTable {
        background: linear-gradient(to bottom,transparent 24%,#fff 25%);
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
        padding: 0 0 40px;
        margin: 0 15px;
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 93%, 0% 100%);
        clip-path: polygon(0 0, 100% 0%, 100% 93%, 0% 100%);
        border-style: outset;
    }

        .pricingTable .pricingTable-header {
            color: #fff;
            padding: 45px 15px 35px;
            position: relative;
        }

            .pricingTable .pricingTable-header:before,
            .pricingTable .pricingTable-header:after {
                content: '';
                background: #36474f;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -2;
                -webkit-clip-path: polygon(100% 20%, 100% 100%, 50% 90%, 0 100%, 0 0);
                clip-path: polygon(100% 20%, 100% 100%, 50% 90%, 0 100%, 0 0);
            }

            .pricingTable .pricingTable-header:after {
                background: #35c2ff;
                height: 95%;
                z-index: -1;
                -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 90%, 0 100%, 0 20%);
                clip-path: polygon(100% 0, 100% 100%, 50% 90%, 0 100%, 0 20%);
            }

        .pricingTable .title {
            font-size: 35px;
            font-weight: 600;
            text-transform: uppercase;
            margin: 0;
        }

        .pricingTable .currency {
            font-size: 60px;
            line-height: 60px;
        }

        .pricingTable .amount {
            font-size: 60px;
            line-height: 70px;
        }

        .pricingTable .amount-sm {
            font-size: 22px;
            line-height: 35px;
            vertical-align: top;
        }

        .pricingTable .pricing-content {
            padding: 10px 0;
            margin: 0 30px;
            list-style: none;
        }

            .pricingTable .pricing-content li {
                color: #505050;
                font-size: 18px;
                line-height: 40px;
                text-transform: capitalize;
                letter-spacing: 1px;
                border-bottom: 2px solid rgba(0, 0, 0, 0.15);
                margin-bottom: 10px;
            }

                .pricingTable .pricing-content li:last-child {
                    border-bottom: none;
                }

        .pricingTable .pricingTable-signup {
            color: #35c2ff;
            background-color: #fff;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
            padding: 10px 30px;
            border: 2px solid #35c2ff;
            display: inline-block;
            overflow: hidden;
            position: relative;
            z-index: 1;
            transition: all 0.3s ease 0s;
        }

            .pricingTable .pricingTable-signup:hover {
                color: #fff;
            }

            .pricingTable .pricingTable-signup:before {
                content: "";
                background-color: #35c2ff;
                height: 150px;
                width: 220px;
                border-radius: 50%;
                position: absolute;
                bottom: 100%;
                left: -15px;
                z-index: -1;
                transition: all 0.7s ease 0s;
            }

            .pricingTable .pricingTable-signup:hover:before {
                bottom: -50px;
            }

        .pricingTable.orange .pricingTable-header:after {
            background-color: #FF9F00;
        }

        .pricingTable.orange .pricingTable-signup {
            color: #FF9F00;
            border-color: #FF9F00;
        }

            .pricingTable.orange .pricingTable-signup:hover {
                color: #fff;
            }

            .pricingTable.orange .pricingTable-signup:before {
                background-color: #FF9F00;
            }

        .pricingTable.magenta .pricingTable-header:after {
            background-color: #EC407A;
        }

        .pricingTable.magenta .pricingTable-signup {
            color: #EC407A;
            border-color: #EC407A;
        }

            .pricingTable.magenta .pricingTable-signup:hover {
                color: #fff;
            }

            .pricingTable.magenta .pricingTable-signup:before {
                background-color: #EC407A;
            }
</style>

<div class="row">
    @if (availablePlans != null && availablePlans.Data != null && availablePlans.Data.Count > 0)
    {
        int counter = 0;
        foreach (var item in availablePlans.Data.OrderBy(c => c.Amount).ToList())
        {

            if (item.Id == existingPlanlist)
            {
                continue;
            }


            <div class="col-md-4 col-sm-4">
                <div class="pricingTable @(counter > 0? "orange":"")">
                    <div class="pricingTable-header">
                        <h3 class="title">
                            @(counter == 0 ? "Standard" : "Business")
                        </h3>
                        <div class="price-value">
                            <h4>Buy plan at</h4>
                            <span class="currency">$</span>
                            <span class="amount">@string.Format("{0:N2}", item.Amount / 100)</span>

                        </div>
                    </div>
                    @if (counter == 0)
                    {
                        <ul class="pricing-content">
                            <li> Get First Month Free</li>
                            <li>Cars at Wholesale Prices</li>
                            <li>Buy Cars Instantly Online</li>
                            <li> Sell your Inventory Online</li>
                            <li>Hold Cars for 24 hours</li>
                            <li>Post Unlimited Car</li>
                        </ul>
                    }
                    else
                    {
                        <ul class="pricing-content">
                            <li>
                                All Benefits of Standard Plan
                            </li>
                            <li>
                                Access to Negotiations Module
                            </li>
                            <li>
                                Get Inventory Delivered
                            </li>
                            <li>
                                Hold Cars Upto 48 Hours!
                            </li>
                            <li>
                                Lower Hold-Up Charges
                            </li>
                            <li>
                                Unlimited Member Accounts
                            </li>
                        </ul>

                    }

                    <a href="/purchase/@item.Id" class="pricingTable-signup">Register</a>
                </div>
            </div>


            counter++;
        }

    }


</div>

<script>
    var selectedPlanId = '';
     @if (availablePlans != null && availablePlans.Data != null && availablePlans.Data.Count > 0)
     {
         @:selectedPlanId = '@availablePlans.Data.Where(c=>c.Id!=existingPlanlist).OrderBy(c => c.Amount).FirstOrDefault().Id';
     }

    $(document).ready(function () {
        $("#hdnSelectedPlanId").val('@availablePlans.Data.OrderBy(c => c.Amount).FirstOrDefault().Id');
    })

    function BindSelectedPlan(obj, id, isCheckBox) {


        $("#hdnSelectedPlanId").val(id);

        if (isCheckBox != true) {
            $("#cbkPlan").prop("checked", false);
            $(".availablePlans").addClass("selected-plan");
        }


        if (isCheckBox == true) {
            $(".availablePlans").removeClass("selected-plan");
            $(".availablePlans").addClass("disable-section");
            //selected-plan
        }


if(isCheckBox==false)
        $(obj).addClass("selected-plan");
        $(obj).removeClass("disable-section");

         selectedPlanId = id;
     }
    $(document).ready(function () {
        $("#btnSelectPlan").click(function () {
            window.location.href = '/purchase/'+selectedPlanId;
         })
    })


</script>





