﻿@using Stripe;
@using Incite.Services.ViewModels
@model DealerCarViewModel
@{
    ViewBag.Title = "Home Page";


    StripeList<Plan> availablePlans = new StripeList<Plan>();
    if (ViewBag.StripePlans != null)
    {
        availablePlans = (StripeList<Plan>)ViewBag.StripePlans;


        <script>

            $(document).ready(function () {
                $("#planModal").modal("show");
            });

        </script>
    }

}
<!-- Banners -->
<!-- /Banners -->
@if (Request.IsAuthenticated)
{
    <!-- Filter-Form -->
    { //Html.RenderAction("MiniSearch", "Home");
        Html.RenderAction("HomeFilter", "Search");
    }
    <!-- /Filter-Form -->
}
else
{
    @Html.Partial("~/Views/Home/_Banners.cshtml")
}
<style>
    .container_hosting-package {
        color: #d05b00;
        font-weight: 300;
        margin-bottom: 24px;
    }

        .container_hosting-package h2 {
            font-size: 16px;
        }

    .container_hosting-package {
        background-color: #F1F1F1;
        border-top: none;
        position: relative;
        padding: 14px;
    }

    .hosting-features {
        margin: 20px 0 0;
    }

    .brand-section {
        padding: 55px 0;
    }

    .brand-hadding {
        border-right: 1px solid #bbbbbb;
        float: left;
        padding-right: 10px;
        position: relative;
    }

        .brand-hadding::after {
            border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #bbbbbb;
            border-style: solid;
            border-width: 12px;
            content: "";
            position: absolute;
            right: -24px;
            top: 50%;
            transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
        }
</style>
<!-- About -->
<section class="about-us-section section-padding section-welcome" style="margin-bottom: 60px;">
    <div class="container" style="padding-top: 70px;">
        <div class="section-header text-center">
            <h2>Welcome <span>to</span> <span style="color:#00a8d9"> DealerInventoryNetwork </span></h2>
            <p>
                Pressed by the need to make buying cars hassle-free, we created a platform exclusive to car dealers. Bound with a common goal, we provide a network for dealers to trade with other dealers directly, cutting away the waiting time and the uncertainty associated with car auctioning. Dealers Inventory is a free network of car dealers created to provide a marketplace that ensures only integrity and quality. Dealers Inventory has no hidden auction charges, does not request of transportation fees. We list inventory, streamlined specially for you, any day, anytime, anywhere for free.
                We believe that it is ideal that dealers have a marketplace where excellence and fidelity is the power wheel, and that is philosophy guides Car Inventory.
            </p>
            <p>
                We accompany the entire customer journey with latest technology to offer dealers with sales services on their handsets giving car dealers an entirely new purchasing/buying experience to a completely new dimension.
                Our mission is to contribute our integration skills and specialised automative solutions and make choosing cars for the dealers simple and transparent without any hidden auction charges. DON'T JUST DREAM IT!! DRIVE IT!!
            </p>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <div class="looking-car">
                    <div class="looking-cat-image"> <img src="~/assets/images/leftcarImg.png" alt="Image" /> </div>
                    <div class="looking-car-content" style="margin-top: -27px;margin-bottom: -18px;">
                        <h3><span>Become a </span>Buyer?</h3>
                        <p>Buy or Hold new inventory in minutes from fellow dealers. An exciting experience </p>
                        <a href="#" class="btn">Read More<i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="looking-car">
                    <div class="looking-cat-image"> <img src="assets/images/leftcarImg.png" alt="Image" /> </div>
                    <div class="looking-car-content" style="margin-top: -27px;margin-bottom: -18px;">
                        <h3><span>Become a </span>Seller?</h3>
                        <p>Sell your un-used inventory to fellow dealers nearby at wholesale prices.</p>
                        <a href="#" class="btn">Read More<i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="fun-facts-section">
    <div class="container div_zindex">
        <div class="row">
            <div class="col-lg-3 col-xs-6 col-sm-3">
                <div class="fun-facts-m">
                    <div class="cell">
                        <h2><i class="fa fa-handshake-o" aria-hidden="true"></i></h2>
                        <p style="margin-left:3px;margin-top: 8px;">Wholesale Prices</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6 col-sm-3">
                <div class="fun-facts-m">
                    <div class="cell">
                        <h2><i class="fa fa-shopping-cart" aria-hidden="true"></i></h2>
                        <p style="margin-left:3px;margin-top: 8px;">Buy Cars Instantly</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6 col-sm-3">
                <div class="fun-facts-m">
                    <div class="cell">
                        <h2><i class="fa fa-clock-o" aria-hidden="true"></i></h2>
                        <p style="margin-left:3px;margin-top: 8px;">48hr Hold</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6 col-sm-3">
                <div class="fun-facts-m">
                    <div class="cell">
                        <h2><i class="fa fa-car" aria-hidden="true"></i></h2>
                        <p style="margin-left:3px;margin-top: 8px;">Sell cars instantly</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Dark Overlay-->
    <div class="dark-overlay"></div>
</section>
<!-- /Trending Car-->
@Html.Partial("~/Views/Home/_Blog.cshtml")
<!--Testimonial -->
<section class="section-padding testimonial-section parallex-bg">
    <div class="container div_zindex">
        <div class="section-header white-text text-center">
            <h2>Greetings <span>From Founders</span></h2>
            <p>
                We believe our story will speak to our clients in ways that numbers, data , and
                presentation slides simply can't. We wear our heart on our sleeves, and we are not
                afraid to tell our story, a story of struggles, conflicts, setbacks and successes. It portrays
                the passion and the heart which went into creating and building our brand.
            </p>
        </div>
        <div class="row">
            <div id="testimonial-slider">
                <div class="testimonial-m">
                    <div class="testimonial-img"> <img src="http://dinpicturebucket.s3.amazonaws.com\assetimages\ProfilePictures\MariouPic.jpg" alt="" /> </div>
                    <div class="testimonial-content">
                        <div class="testimonial-heading">
                            <h5>Mariou Shenouda</h5>
                            <span class="client-designation">Co-Founder</span>
                        </div>
                        <p>
                            At 17 I got an opportunity to work with some very close friends to sell cars.
                            Having become successful in a short amount of time, my business partners and
                            I decided to start our very own dealership. With more than one location now,
                            expansion came with inventory management issues. Auctions were on specific days,
                            the potential of making bad deals based on quick decision making, not to mention
                            vehicle transportation and fees associated with it. It was time to make a change
                            for all dealers and to use modern technology to change the industry for better.
                            The time is now..
                        </p>
                    </div>
                </div>
                <div class="testimonial-m">
                    <div class="testimonial-img"> <img src="http://dinpicturebucket.s3.amazonaws.com\assetimages\ProfilePictures\ParanjPic.jpg" alt="" /> </div>
                    <div class="testimonial-content">
                        <div class="testimonial-heading">
                            <h5>Paranj Soni</h5>
                            <span class="client-designation">Co-Founder</span>
                        </div>
                        <p>
                            With experience in business consulting and technical solutions, I believe in
                            digital transformation. While in university, I learned about the automobile
                            industry with several of my friends who were car dealers. I realized the tremendous
                            potential for dealerships that, inspite of thriving, had real challenges
                            with Inventory Management. I aimed to create a comprehensive tool for all
                            dealerships. Now make better decisions and securly buy/sell/hold cars from
                            trusted dealers. It is time to forget heavy auction fees on rushed
                            decisions that leaves dead stock behind causing heavy loses.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Dark Overlay-->
    <div class="dark-overlay"></div>
</section>
<section class="brand-section gray-bg">
<div class="container">
        <div class="row">
        <div class="col-md-2 brand-hadding" style="top: 8px;right: 15px">
            <h5>Featured Partners</h5>
        </div>
        <div class="col-md-10 brand-logo-list" style="height:100px">
            <div id="popular_brands">
                <div><a href="#"><img src="~/Assets/images/carlogicfinal.png" class="img-responsive" alt="image"></a></div>
                <div><a href="#"><img src="~/Assets/images/Addact1.png" class="img-responsive" alt="image"></a></div>
                <div><a href="#"><img src="~/Assets/images/StripeLogo1.jpg" class="img-responsive" alt="image"></a></div>
            </div>
        </div>
    </div>
</div>
</section>
