﻿@using Stripe;
@using Incite.Services.ViewModels
@using System.Globalization;
@model CustomerPaymentInfo
@{
    ViewBag.Title = "Purchase";

    var plan = (Plan)ViewBag.PlanInfo;

    var OldCardDetail = ViewBag.CardDetail;
    Customer customer = (Customer)ViewBag.StripCustomer;

    var CardExpiryMonth = new List<SelectListItem>();
    for (int month = 1; month <= 12; month++)
    {
        DateTime dt = new DateTime(DateTime.Now.Year, month, 1);
        CardExpiryMonth.Add(new SelectListItem
        {
            Text = month.ToString() + "-" + dt.ToString("MMM", CultureInfo.InvariantCulture),
            Value = month.ToString()
        });
    }
    var CardExpirationYear = new List<SelectListItem>();
    for (int year = DateTime.Now.Year; year <= DateTime.Now.Year + 10; year++)
    {
        CardExpirationYear.Add(new SelectListItem
        {
            Text = year.ToString(),
            Value = year.ToString()
        });
    }


    var cardTypes = new List<SelectListItem>();
    cardTypes.Add(new SelectListItem
    {
        Text = "Visa",
        Value = "4",
        Selected = true
    });
    cardTypes.Add(new SelectListItem
    {
        Text = "MasterCard",
        Value = "3"
    });

    cardTypes.Add(new SelectListItem
    {
        Text = "Amex",
        Value = "1",

    });
    cardTypes.Add(new SelectListItem
    {
        Text = "Discover",
        Value = "2"
    });


    var countries = (List<SelectListItem>)ViewBag.Countries;
    var states = (List<SelectListItem>)ViewBag.States;

}

<script src="~/Assets/Scripts/jquery.creditCardValidator.js"></script>
<link rel="stylesheet" href="~/Assets/Content/creditcard.css" />
<style>
    .field-validation-error {
        color: #a94442
    }
</style>
<!--Page Header-->
<section class="page-header compare_page">
    <div class="container">
        <div class="page-header_wrap">
            <div class="page-heading">
                <h1>@plan.Nickname  at $@((decimal)plan.Amount / 100)</h1>
            </div>
            <ul class="coustom-breadcrumb">
                <li><a href="@Url.RouteUrl("HomeIndex")">Home</a></li>
                <li>Payment Info</li>
            </ul>
        </div>
    </div>
    <!-- Dark Overlay-->
    <div class="dark-overlay"></div>
</section>
<!-- /Page Header -->



<section class="user_profile inner_pages">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @if (OldCardDetail != null)
                {
                    <table border="1" align="center">
                        <tr><td colspan="5"><h5 class="modal-title">Available Cards</h5>  </td></tr>
                        <tr>

                            <th>Card Type</th>
                            <th>Expiry Month</th>
                            <th>Expiry Year</th>
                            <th>Card Number </th>
                            <th></th>
                        </tr>
                        @foreach (var account in OldCardDetail)
                        {
                            if (account.Object == "card")
                            {

                                try
                                {
                                    Stripe.Card ca = (Stripe.Card)account;
                                    <tr>
                                        <td> @ca.Brand </td>
                                        <td>@ca.ExpMonth </td>
                                        <td>@ca.ExpYear </td>
                                        <td>**********@ca.Last4  </td>
                                        <td>
                                            <form action="/Purchase" method="post">
                                                <input type="hidden" name="id" value="@ViewBag.SelectedPlanId" />
                                                <input type="hidden" name="model" value="@ViewBag.InfoModel" />
                                                <input type="submit" name="PayButton" value="Pay">
                                            </form>

                                        </td>
                                    </tr>
                                }
                                catch (Exception ex) { }
                            }

                        }

                    </table>
                }

                <div class="result-sorting-wrapper">
                    <div class="row form-group">
                        <div id="main-wrapper" data-navbarbg="skin6" data-theme="light" data-layout="vertical" data-sidebartype="full" data-boxed-layout="full">
                            <div class="page-wrapper">
                                <div id="dvRegisterMsg" class="alert alert-info dvdismiss" style="display:none;">
                                </div>
                                <div class="container-fluid">
                                    <div class="row">
                                        @using (Html.BeginRouteForm("PlanPurchase", FormMethod.Post, new { @class = "gray-bg" }))
                                        {
                                            <input type="hidden" name="id" value="@ViewBag.SelectedPlanId" />
                                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                            <div class="col-lg-12">
                                                <div class="card">

                                                    <div class="card-body">

                                                        <div class="row form-group">

                                                            <div class="col-xs-6">
                                                                <div class="form-group">
                                                                    <label for="example-email" class="col-md-12">Card Holder Name</label>
                                                                    <div class="col-md-12">
                                                                        @Html.TextBoxFor(model => model.NameOnCard, new { @class = "form-control form-control-line", required = "required", placeholder = "Please Enter Card Holder Name" })
                                                                        @Html.ValidationMessageFor(c => c.NameOnCard)
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <div class="form-group">
                                                                    <label class="col-md-12">Card Number</label>
                                                                    <div class="col-md-12">
                                                                        @Html.TextBoxFor(m => m.CardNumber, new { @class = "form-control form-control-line", required = "required", placeholder = "Please Enter Card Number" })
                                                                        @Html.ValidationMessageFor(c => c.CardNumber)
                                                                        <span id="invalidcardNumber" class="text-danger"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">

                                                            <div class="col-xs-6">

                                                                <div class="form-group">
                                                                    <div class="col-xs-6" style="margin-left: -15px">
                                                                        <label class="col-sm-12">Expiry Month</label>
                                                                        <div class="col-sm-12">
                                                                            @Html.DropDownListFor(m => m.ExpiryMonth, CardExpiryMonth, new { @class = "form-control" })
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-6">
                                                                        <label class="col-sm-12">Expiry Year</label>
                                                                        <div class="col-sm-12">
                                                                            @Html.DropDownListFor(m => m.ExpiryYear, CardExpirationYear, new { @class = "form-control" })

                                                                        </div>
                                                                    </div>
                                                                    <span class="text-danger" id="cardExpiryError" style="margin-left:30px;"></span>
                                                                </div>
                                                                <div class="col-xs-6" style="margin-left: -15px">
                                                                    <div class="form-group">
                                                                        <label for="example-email" class="col-md-12">Security Code</label>
                                                                        <div class="col-md-12">
                                                                            @Html.TextBoxFor(m => m.CVVNumber, new { @class = "form-control form-control-line", required = "required", style = "width:150px", title = "Please Enter CVV code" })
                                                                            @Html.ValidationMessageFor(c => c.CVVNumber)
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                            </div>



                                                        </div>



                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-12">
                                                <div class="raw form-group">
                                                    <div class="col-sm-12">
                                                        <input type="submit" onclick="return validateCardNumber();" value="Confirm" name="signup" class="btn btn-success">
                                                        <input type="submit" class="btn btn-danger" name="signup" value="Cancel">
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@if (ViewBag.IsSuccess == true)
{

    <script>
        $(document).ready(function () {
            $("#PurchaseSuccessPopup").modal("show");
        })
    </script>
    <div class="modal fade" id="PurchaseSuccessPopup" data-toggle="modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="height: auto;">
                <div class="modal-header">
                    <h3 class="modal-title">Payment Confirmation</h3>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="login_wrap">
                            <div class="col-md-12 col-sm-12">
                                <div class="row form-group">
                                    <div class="col-md-12 text-center">
                                        <div class="form-group">
                                            <h4 class="text-success"> <span class="fa fa-check-circle fa-3x"></span></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-12 text-center">
                                        <div class="form-group">
                                            <h4 class="text-success"> Thank you for your payment. <br /></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-12 text-center">
                                        <div class="form-group">
                                            <a href="/account/UpdateSettings">Click here to go to your settings page</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script>
    function validateCardNumber() {

        $("#cardExpiryError").html("");
        var today, someday;
        var exMonth = document.getElementById("ExpiryMonth").value;
        var exYear = document.getElementById("ExpiryYear").value;
        today = new Date();
        someday = new Date();
        someday.setFullYear(exYear, exMonth, 1);

        if (someday < today) {
            $("#cardExpiryError").html("The expiry date is before today's date. Please select a valid expiry date");
            return false;
        }

        if (($("#cardExpiryError").html() == "The expiry date is before today's date. Please select a valid expiry date")
            || $("#invalidcardNumber").html() == "Please provide valid card number")
            return false;

        //var number = $("#CardNumber").val();

        //$("#invalidcardNumber").html("");

        //var regex = new RegExp("^[0-9]{16}$");
        //if (!regex.test(number)) {
        //    $("#invalidcardNumber").html("Please provide valid card number");
        //    $("#CardNumber").focus();
        //    return false;
        //}

        //if (luhnCheck(number)) {
        //    return true;
        //}
        //else {
        //    $("#invalidcardNumber").html("Please provide valid card number");
        //    $("#CardNumber").focus();
        //    return false;
        //}
    }

    $(document).ready(function () {
        $("#CardNumber").change(function () {
            $(this).validateCreditCard(function (result) {
                //console.log(result);
                //console.log((result.card_type == null ? '-' : result.card_type.name));
                // console.log(result.card_type);
                if (result.luhn_valid == false) {
                    $("#invalidcardNumber").html("Please provide valid card number");
                } else {

                    $("#CardNumber").removeClass('mastercard');
                    $("#CardNumber").removeClass('visa');
                    $("#CardNumber").removeClass('visa_electron');
                    $("#CardNumber").removeClass('maestro');
                    $("#CardNumber").removeClass('discover');

                    var cardType = (result.card_type == null ? '-' : result.card_type.name);
                    $("#CardNumber").addClass(cardType);

                    $("#invalidcardNumber").html("");
                }

            })
        })

        $("#ExpiryYear, #ExpiryMonth").change(function () {

            $("#cardExpiryError").html("");
            var today, someday;
            var exMonth = document.getElementById("ExpiryMonth").value;
            var exYear = document.getElementById("ExpiryYear").value;
            today = new Date();
            someday = new Date();
            someday.setFullYear(exYear, exMonth, 1);

            if (someday < today) {
                $("#cardExpiryError").html("The expiry date is before today's date. Please select a valid expiry date");
                return false;
            }

        })


    });





    function luhnCheck(val) {
        var sum = 0;
        for (var i = 0; i < val.length; i++) {
            var intVal = parseInt(val.substr(i, 1));
            if (i % 2 == 0) {
                intVal *= 2;
                if (intVal > 9) {
                    intVal = 1 + (intVal % 10);
                }
            }
            sum += intVal;
        }
        return (sum % 10) == 0;
    }
</script>
