﻿@using Stripe;
@using Incite.Services.ViewModels
@using System.Globalization;
@model CustomerPaymentInfo
@{
    ViewBag.Title = "Success";

    var plan = (Plan)ViewBag.PlanInfo;


}
<style>
    .field-validation-error {
        color: #a94442
    }
</style>
<!--Page Header-->
<section class="page-header compare_page">
    <div class="container">
        <div class="page-header_wrap">
            <div class="page-heading">
                <h1>@plan.Nickname  at $@string.Format("{0:N2}", plan.Amount / 100)</h1>
            </div>

        </div>
    </div>
    <!-- Dark Overlay-->
    <div class="dark-overlay"></div>
</section>
<!-- /Page Header -->



<section class="user_profile inner_pages">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="result-sorting-wrapper">
                    <div class="row form-group">
                        <div id="main-wrapper" data-navbarbg="skin6" data-theme="light" data-layout="vertical" data-sidebartype="full" data-boxed-layout="full">
                            <div class="page-wrapper">
                                <div id="dvRegisterMsg" class="alert alert-info dvdismiss" style="display:none;">
                                </div>
                                <div class="container-fluid">
                                    <div class="row">
                                        @using (Html.BeginRouteForm("PlanPurchase", FormMethod.Post, new { @class = "gray-bg" }))
                                        {

                                            <div class="col-lg-12">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="row form-group">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <h3>  Your payment is confirmed. Your plan @plan.Nickname  is valid upto @string.Format("{0:MM/dd/yyyy}", (DateTime)ViewBag.ValidUpto)</h3>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function validateCardNumber() {
        var number = $("#CardNumber").val();

        $("#invalidcardNumber").html("");

        var regex = new RegExp("^[0-9]{16}$");
        if (!regex.test(number)) {
            $("#invalidcardNumber").html("Please provice valid card number");
            $("#CardNumber").focus();
            return false;
        }

        if (luhnCheck(number)) {
            return true;
        }
        else {
            $("#invalidcardNumber").html("Please provice valid card number");
            $("#CardNumber").focus();
            return false;
        }
    }

    function luhnCheck(val) {
        var sum = 0;
        for (var i = 0; i < val.length; i++) {
            var intVal = parseInt(val.substr(i, 1));
            if (i % 2 == 0) {
                intVal *= 2;
                if (intVal > 9) {
                    intVal = 1 + (intVal % 10);
                }
            }
            sum += intVal;
        }
        return (sum % 10) == 0;
    }
</script>
