﻿@using Stripe;
@using Incite.Services.ViewModels
@model DealerCarViewModel
@{
    ViewBag.Title = "Services";
}

@*<h2>@ViewBag.Title</h2>*@
@*<h3>@ViewBag.Message</h3>*@
<head>
    <link href="~/Assets/Trialcars/css/js_composer.min.css" rel="stylesheet" />
    <link href="~/Assets/Trialcars/css/bootstrap-slider.min.css" rel="stylesheet" />
    <link href="~/Assets/Trialcars/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/Trialcars/css/owl.transitions.css" rel="stylesheet" />
    <link href="~/Assets/Trialcars/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/Trialcars/css/carforyou-style.css" rel="stylesheet" />
    <link href="~/Assets/Trialcars/css/owl.carousel.css" rel="stylesheet" />
    @*<link href="~/Assets/Trialcars/css/slick.css" rel="stylesheet" />*@
    <link href="~/Assets/Trialcars/css/style.css" rel="stylesheet" />
    <script src="~/Assets/Trialcars/js/jquery.min.js"></script>
    <script src="~/Assets/Trialcars/js/bootstrap.min.js"></script>
    <script src="~/Assets/Trialcars/js/interface.js"></script>
    <script src="~/Assets/Trialcars/js/bootstrap-slider.min.js"></script>
    <script src="~/Assets/Trialcars/js/owl.carousel.min.js"></script>
    <script src="~/Assets/Trialcars/js/slick.min.js"></script>
    
</head>
<section class="page-header faq_page" style="background-image:url(http://themes.webmasterdriver.net/carforyouwp/wp-content/uploads/2016/12/services-page-header-img.jpg )">
    <div class="container">
        <div class="page-header_wrap">
            <div class="page-heading">
                <h1>Services</h1>
            </div>
            <ul class="coustom-breadcrumb"><li><a class="bread-link bread-home" href="/">Home</a></li><li>Services</li></ul>
        </div>
    </div>
    <!-- Dark Overlay-->
    <div class="dark-overlay"></div>
</section>
<!-- /Page Header-->
<div class="container">
    <div class="row">
        <article id="post-79" class="post-79 page type-page status-publish hentry">
            <div id="OurServices" class="vc_row wpb_row vc_row-fluid vc_custom_1487329388191">
                <div class="section-padding wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <h2 style="text-align: center;">Car Dealer <span style="color: #111;"><span style="color: #111111;">Quality Service</span>s</span></h2>
                                                </div>
                                            </div>
                                            <div class="wpb_text_column wpb_content_element  section-header p">
                                                <div class="wpb_wrapper">
                                                    <p style="text-align: center;">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1486127588811 row-inline">
                                <div class="services_image wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_single_image wpb_content_element vc_align_left">

                                                <figure class="wpb_wrapper vc_figure">
                                                    <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="560" height="340" src="/Assets/images/our_services_1.jpg" class="vc_single_image-img attachment-full" alt=""  sizes="(max-width: 560px) 100vw, 560px"></div>
                                                </figure>
                                            </div>
                                            <h3 style="text-align: center" class="vc_custom_heading service_heading white-text vc_custom_1486127389966">Sell New Cars</h3>
                                        </div>
                                    </div>
                                </div><div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <h3>Locking <span style="color: #111;">New Car?</span></h3>
                                                </div>
                                            </div>
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English.</p>
                                                </div>
                                            </div>
                                            <h4 style="text-align: left" class="vc_custom_heading">At vero eos et accusamus et iusto odio dignissimos</h4>
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <ul class="list_style_none">
                                                        <li><i class="fa fa-check"></i> Pellentesque lacus urna, feugiat non consectetur</li>
                                                        <li><i class="fa fa-check"></i> Aliquam sem neque, efficitur atero lectus vitae</li>
                                                        <li><i class="fa fa-check"></i> Pellentesque erat libero, eleifend sit amet felis</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="vc_row wpb_row vc_inner vc_row-fluid row-inline">
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <h3>Locking <span style="color: #111;">Used Car?</span></h3>
                                                </div>
                                            </div>
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English.</p>
                                                </div>
                                            </div>
                                            <h4 style="text-align: left" class="vc_custom_heading">At vero eos et accusamus et iusto odio dignissimos</h4>
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <ul class="list_style_none">
                                                        <li><i class="fa fa-check"></i> Pellentesque lacus urna, feugiat non consectetur</li>
                                                        <li><i class="fa fa-check"></i> Aliquam sem neque, efficitur atero lectus vitae</li>
                                                        <li><i class="fa fa-check"></i> Pellentesque erat libero, eleifend sit amet felis</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="services_image wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-testinner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_single_image wpb_content_element vc_align_left">

                                                <figure class="wpb_wrapper vc_figure">
                                                    <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="560" height="340" src="/Assets/images/our_services_2.jpg" sizes="(max-width: 560px) 100vw, 560px"></div>
                                                </figure>
                                            </div>
                                            <h3 style="text-align: center" class="vc_custom_heading service_heading white-text">Sell Used Cars</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="vc_row-full-width vc_clearfix"></div>
            <div class="vc_row-full-width vc_clearfix"></div>
        </article>
    </div>
</div>

<div id="WhyChooseUs" data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid gray-bg vc_row-o-equal-height vc_row-o-content-middle vc_row-flex" style="position: relative;box-sizing: border-box;">
                <div class="section-padding wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <h2 style="text-align: center" class="vc_custom_heading">Why Choose Us</h2>
                            <div class="wpb_text_column wpb_content_element  section-header p">
                                <div class="wpb_wrapper">
                                    <p style="text-align: center;">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text.</p>
                                </div>
                            </div>
                            <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <div class="listing_box">
                                                        <h5><i class="fa fa-user-circle"></i> Trusted By Thousands</h5>
                                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <div class="listing_box">
                                                        <h5><i class="fa fa-globe"></i> Wide Range Of Vehicles</h5>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <div class="listing_box">
                                                        <h5><i class="fa fa-car"></i> Faster Buy &amp; Sell</h5>
                                                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_video_widget wpb_content_element vc_clearfix  video_box  vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
                                                <div class="wpb_wrapper">
                                                    <video controls class="abt-video">
                                                        <source src="~/Assets/Video/Final Render of DIN New.mp4" />
                                                    </video>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!-- /Why-Choose-Us-->
<!--Testimonial -->
<section class="section-padding testimonial-section parallex-bg">
  <div class="container div_zindex">
    <div class="section-header white-text text-center">
      <h2>What Our <span>Client Say</span></h2>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
    </div>
    <div class="row">
      <div id="testimonial-slider">
        <div class="testimonial-m">
          <div class="testimonial-img"> <img src="assets/images/testimonial-img-1.jpg" alt="" /> </div>
          <div class="testimonial-content">
            <div class="testimonial-heading">
              <h5>Donald Brooks</h5>
              <span class="client-designation">CEO of xzy company</span> </div>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt .</p>
          </div>
        </div>
        <div class="testimonial-m">
          <div class="testimonial-img"> <img src="assets/images/testimonial-img-2.jpg" alt="" /> </div>
          <div class="testimonial-content">
            <div class="testimonial-heading">
              <h5>Enzo Giovanotelli</h5>
              <span class="client-designation">CEO of xzy company</span> </div>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt .</p>
          </div>
        </div>
        <div class="testimonial-m">
          <div class="testimonial-img"> <img src="assets/images/testimonial-img-1.jpg" alt="" /> </div>
          <div class="testimonial-content">
            <div class="testimonial-heading">
              <h5>Donald Brooks</h5>
              <span class="client-designation">CEO of xzy company</span> </div>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt .</p>
          </div>
        </div>
        <div class="testimonial-m">
          <div class="testimonial-img"> <img src="assets/images/testimonial-img-2.jpg" alt="" /> </div>
          <div class="testimonial-content">
            <div class="testimonial-heading">
              <h5>Enzo Giovanotelli</h5>
              <span class="client-designation">CEO of xzy company</span> </div>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt .</p>
          </div>
        </div>
        <div class="testimonial-m">
          <div class="testimonial-img"> <img src="assets/images/testimonial-img-1.jpg" alt="" /> </div>
          <div class="testimonial-content">
            <div class="testimonial-heading">
              <h5>Donald Brooks</h5>
              <span class="client-designation">CEO of xzy company</span> </div>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt .</p>
          </div>
        </div>
        <div class="testimonial-m">
          <div class="testimonial-img"> <img src="assets/images/testimonial-img-2.jpg" alt="" /> </div>
          <div class="testimonial-content">
            <div class="testimonial-heading">
              <h5>Enzo Giovanotelli</h5>
              <span class="client-designation">CEO of xzy company</span> </div>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt .</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Dark Overlay-->
  <div class="dark-overlay"></div>
</section>
<!-- /Testimonial-->
<!--Brands-->
<section class="brand-section gray-bg">
<div class="container">
        <div class="row">
        <div class="col-md-2 brand-hadding" style="top: 8px;right: 15px">
            <h5>Featured Partners</h5>
        </div>
        <div class="col-md-10 brand-logo-list" style="height:100px">
            <div id="popular_brands">
                <div><a href="#"><img src="~/Assets/images/carlogicfinal.png" class="img-responsive" alt="image"></a></div>
                <div><a href="#"><img src="~/Assets/images/Addact1.png" class="img-responsive" alt="image"></a></div>
                <div><a href="#"><img src="~/Assets/images/StripeLogo1.jpg" class="img-responsive" alt="image"></a></div>
            </div>
        </div>
    </div>
</div>
</section>