
a,
.btn-link,
.car-title-m h6 a:hover,
.featured-car-content > h6 a:hover,
.footer-top ul li a:hover,
.get-intouch a:hover,
.blog-content h5 a:hover,
.blog-info-box li a:hover,
.control-label span,
.angle_arrow i,
.contact_detail li a:hover,
.team_more_info p a:hover,
.error_text_m h2,
.search_btn,
.popular_post_title a:hover,
.categories_list ul li a:hover,
.categories_list ul li a:hover:after,
.article_meta ul li a:hover,
.articale_header h2 a:hover,
.btn.outline,
.share_article ul li,
.contact-info a:hover,
.social-follow a:hover,
.radio input[type=radio]:checked + label:before,
.checkbox input[type=checkbox]:checked + label:before,
.product-listing-content h5 a:hover,
.pricing_info .price,
.text-primary,
.footer_widget ul li a:hover,
.header_search button:hover,
.header_widgets a:hover,
.navbar-default .navbar-nav > li.active a,
.navbar-default .navbar-nav > li:focus a,
.navbar-default .navbar-nav > li:hover a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover,
.my_vehicles_list ul.vehicle_listing li a:hover,
.dealer_contact_info a:hover,
.widget_heading i,
.dealers_listing .dealer_info h5 a:hover,
.main_features ul li p,
.listing_detail_head .price_info p,
.listing_other_info button:hover,
.compare_info table td i, .compare_info table th i,
#accessories i,
.price,
.inventory_info_list ul li i,
.services_info h4 a:hover,
.about_info .icon_box,
.header_style2 .navbar-nav > li > .dropdown-menu a:hover,
.header_style2 .navbar-default .navbar-nav li:hover .dropdown-menu li a:hover,
.header_style2 .dropdown-menu > .active > a,
.header_style2 .dropdown-menu > .active > a:focus,
.header_style2 .dropdown-menu > .active > a:hover,
.header_style2 .dropdown-menu > li > a:focus,
.header_style2 .dropdown-menu > li > a:hover,
.blog-info-box .share_article:hover ul li a:hover {
    color: #00a8d9;
    fill: #00a8d9;
}

a:hover, a:focus, .btn-link:hover {
	color:#157cb8;
	fill: #157cb8;
}

    .btn,
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover,
    .recent-tab .nav.nav-tabs li.active a,
    .fun-facts-m, .featured-icon,
    .owl-pagination .owl-page.active,
    #testimonial-slider .owl-pagination .owl-page.active,
    .social-follow.footer-social a:hover,
    .back-top a,
    .team_more_info ul li a:hover,
    .tag_list ul li a:hover,
    .pagination ul li.current,
    .pagination ul li:hover,
    .btn.outline:hover,
    .btn.outline:focus,
    .share_article ul li:hover,
    .nav-tabs > li a:hover,
    .nav-tabs > li a:focus,
    .label-icon,
    .navbar-default .navbar-toggle .icon-bar,
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover,
    .label_icon,
    .navbar-nav > li > .dropdown-menu,
    .add_compare .checkbox,
    .search_other,
    .vs,
    .td_divider,
    .search_other_inventory,
    #other_info,
    .main_bg,
    .slider .slider-handle, .slider .slider-selection,
    .primary-bg {
        background: #00a8d9 none repeat scroll 0 0;
        fill: #00a8d9;
    }
.btn:hover, .btn:focus, 
.search_other:hover, 
#other_info:hover {
	background-color: #00a8d9;
	fill: #157cb8;
}

        .nav-tabs > li.active > a,
        .nav-tabs > li.active > a:focus,
        .nav-tabs > li.active > a:hover,
        .social-follow.footer-social a:hover,
        .page-header,
        .tag_list ul li a:hover,
        .btn.outline,
        .share_article ul li,
        blockquote,
        .social-follow a:hover,
        .radio label:before,
        .navbar-default .navbar-toggle,
        .owl-buttons div,
        .about_info .icon_box {
            border-color: #00a8d9;
        }

.recent-tab .nav.nav-tabs li.active::after {
    border-color: #00a8d9 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
.td_divider:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0 ) rgba(0, 0, 0, 0 ) #00a8d9;
}

.navbar-nav > li > .dropdown-menu li {
  border-bottom: 1px solid #157cb8;
}

@media (max-width:767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #00a8d9;
    }


}