﻿﻿@using Incite.Core.Extention
@using Incite.Core.Infrastructure
@using Incite.Core.Domain
@using Trialcar.Web.Infrastructure

@model  Tuple<PagedList.IPagedList<DealerCarDetails>, AppUsers>


@{
    Layout = null;
    bool iscustomeraccout = false;

    bool isVerifiedaccount = false;
    if (Authentication.CurrentUserId != null)
    {
        var customeraccount = Authentication.CurrentUserId.Value.GetDelarCustomerAccount();

        if (customeraccount != null)
        {
            isVerifiedaccount = customeraccount.IsVerified;
            iscustomeraccout = true;
        }
    }
    if (ViewBag.IsPaymetList == false)
    {
        <div class="col-md-9 col-md-push-3">

            @if (Model.Item2 != null)
            {
                var userprofile = Model.Item2.Id.GetUserProfileByUserId();
                var cmtRtng = Model.Item2.DealerComments.Where(x => x.appUsers.Id != Model.Item2.Id).FirstOrDefault();
                var usrImg = userprofile.ProfileThmbnailImage;
                if (usrImg != "")
                {
                    usrImg = usrImg.TrimStart(new char[] { '~' });
                }
                else
                {
                    usrImg = "/Assets/images/default-user.png";
                }

                <div id="product_list" class="result-sorting-wrapper">
                    <div class="row form-group">
                        <div class="col-md-4 text-center">
                            <img class="img-circle img-thumbnail img-responsive" style="height: 100px;" src="@usrImg.Replace("~","")" onerror="this.src='/Assets/images/dealer-logo.jpg'">
                            <p>
                                <div class="rating-container">
                                    <div class="rating-parent-div" style="text-align:center">
                                        <!-- Rating Stars Box -->
                                        <div class='rating-stars'>

                                            <ul>
                                                @if (cmtRtng != null)
                                                {

                                                    for (var i = 0; i < 5; i++)
                                                    {
                                                        if (i < cmtRtng.Rating)
                                                        {
                                                            <li class='star selected'>
                                                                <i class='fa fa-star fa-fw'></i>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li class='star'>
                                                                <i class='fa fa-star fa-fw'></i>
                                                            </li>
                                                        }
                                                    }

                                                }
                                                else
                                                {
                                                    for (var i = 0; i < 5; i++)
                                                    {

                                                        <li class='star'>
                                                            <i class='fa fa-star fa-fw'></i>
                                                        </li>

                                                    }
                                                }

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </p>
                            <p>
                                <span data-toggle="modal" data-target="#commentform" style="cursor: pointer;" class="label label-primary">
                                    <span id="totalCommentsContainer">@Model.Item2.DealerComments.Count</span> review
                                </span>
                            </p>
                        </div>
                        <div class="col-sm-8">
                            <br><br>
                            <h4 class="text-left">
                                @Model.Item2.UserName
                            </h4>
                            <div class="row">
                                <div class="col-xs-12">
                                    <h6 style="font-size: 17px;">Contact : <small>@userprofile.MobileNumber </small></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <h6 style="font-size: 17px;">Email : <small>@Model.Item2.Email</small></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <h6 style="font-size: 17px;">
                                        Address : <small>
                                            @userprofile.DealershipAddressLine1,
                                            &nbsp;@userprofile.DealershipAddressLine2
                                        </small>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="result-sorting-wrapper">
                <div class="sorting-count">
                    @{Html.RenderPartial("_ListingHeader", Model.Item1);}
                </div>
                <div class="result-sorting-by">
                    <p>Sort by:</p>
                    <form action="#" method="post">
                        <div class="form-group select sorting-select">
                            @{Html.RenderAction("CarlistSortBy", "Search"); }
                        </div>
                    </form>
                </div>
            </div>
            @if (Model.Item1.Any())
            {
                int i = 0;
                foreach (var item in Model.Item1)
                {

                    //string FuelType = MyExtentionMethods.GetEnumName(item.EngineType.Id, typeof(SiteEnum.EngineType));
                    string CarType = MyExtentionMethods.GetEnumName(item.OwnershipType, typeof(SiteEnum.CarType));
                    string img = "/assets/images/default-car.png";

                    string cmpChkId = "compare_chk_" + i;
                    string frmCmpId = "frm_compare_" + i;
                    HttpContext context = HttpContext.Current;
                    string chkboxStatus = string.Empty;

                    if (context.Session["dealerCarDetailId"] != null)
                    {
                        string carDetailSession = context.Session["dealerCarDetailId"].ToString();
                        string[] strCarDetailIds = carDetailSession.Split(',');
                        if (strCarDetailIds.Contains(item.Id.ToString()))
                        {
                            chkboxStatus = "checked=checked";
                        }
                    }

                    if (item.CarImages != null && item.CarImages.Count > 0 && !string.IsNullOrWhiteSpace(item.CarImages.FirstOrDefault().NormalImagePath))
                    {
                        var list = item.CarImages.Where(x => x.IsDeleted != true);
                        if (list.Count() > 0)
                        {
                            img = list.FirstOrDefault().NormalImagePath;
                        }

                    }
                    <span class="disp_msg_compare">&nbsp;</span>
                    <div id="product_list" class="product-listing-m gray-bg" style="background:lightgray">
                        <div class="product-listing-img">

                            @{ var itemID = @EncryptDecryptHelper.encrypt(item.Id); }

                            <a href="CarDetail/@itemID"><img src="@img" onerror="this.src='/Assets/images/default-car.png'" class="img-responsive" alt="Image" /> </a>
                            @if (item.IsOnHold)
                            {
                                <div class="label_icon" style="background:red">On Hold</div>
                            }
                            else
                            {
                            <div class="label_icon">@CarType</div>
                            }
                            <div class="compare_item">
                                <div class="checkbox">
                                    @*<input type="checkbox" value="" id="compare22">
                <label for="compare22">Compare</label>*@
                                    <form id="@frmCmpId">
                                        @Html.Hidden("dealerCarDetailId", item.Id);
                                        <input type="checkbox" id="@cmpChkId" name="compare_chk" @chkboxStatus />
                                        <label for="@cmpChkId">Compare</label>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="product-listing-content" style="max-height:287px">
                            <div class="col-md-12">
                                <h5><a href="CarDetail/@itemID">@item.CarDetails.Maker.Name , @item.CarDetails.Model.Name</a></h5>
                                <p class="list-price">@item.CarDetails.Trim</p>
                                <ul>
                                    <li><i class="fa fa-money" aria-hidden="true"></i>$@item.Price.ToString("#,##0")</li>
                                    <li><i class="fa fa-tachometer" aria-hidden="true"></i> @item.Miles.ToString("#,##0") Miles</li>
                                    @{var distance = Authentication.CurrentUserId.Value.GetMaileDistance(item.User.Id);}
                                    @if (distance != "" && Decimal.Parse(distance) < (Decimal)500)
                                    {
                                        <li><i class="fa fa-road" aria-hidden="true"></i>@distance mi away </li> }
                                    else
                                    {
                                        <li><i class=" fa fa-map-marker" aria-hidden="true"></i>@item.User.Id.GetUserProfileByUserId().City, @item.User.Id.GetUserProfileByUserId().State</li>}
                                    <li><i class="fa fa-user" aria-hidden="true"></i>@(item.User != null ? item.User.UserName : "")</li>
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>@item.CarDetails.Year.Name model</li>

                                </ul>
                                <div class="form-group">
                                    @PostInterval(item.CreatedTs)

                                    @if (item.User.Id != Authentication.CurrentUserId && iscustomeraccout && isVerifiedaccount)
                                    {
                                        
                                            <a onclick="buyNowCar('@itemID')" class="btn btn-xs">Buy Now  </a>
                                            <a onclick="holdNowCar('@itemID')" class="btn btn-xs">Hold Now </a>
                                     
                                    }
                                    else if (item.User.Id == Authentication.CurrentUserId)
                                    {
                                        if (item.IsOnHold)
                                        {
                                            <a onclick="soldNowCar(@itemID)" class="btn btn-xs">Mark As Sold</a>
                                        }

                                        if (!item.IsOnHold && !item.IsSold)
                                        {

                                            <a href="/UpdateCarOfGarage/@itemID" class="btn btn-xs">Update Car Details</a><span class="disp_msg_compare">&nbsp;</span>


                                        }
                                    }
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    { i++; }
                }
            }
            @{Html.RenderPartial("_ListPaging", Model.Item1);}
        </div>
    }
    else
    {
        <div class="col-sm-12 text-center" style="display:block">
            <p style="color:red">Enter your Bank Information to be able to search/buy/hold a car at lower rates</p>
        </div>
        <div class="col-md-9 col-md-push-3">

            @if (Model.Item2 != null)
            {
                var userprofile = Model.Item2.Id.GetUserProfileByUserId();
                var usrImg = userprofile.ProfileThmbnailImage;
                if (usrImg != "")
                {
                    usrImg = usrImg.TrimStart(new char[] { '~' });
                }
                else
                {
                    usrImg = "/Assets/images/default-user.png";
                }

                <div class="result-sorting-wrapper">
                    <div class="row form-group">
                        <div class="col-md-4 text-center">
                            <img class="img-circle img-thumbnail img-responsive" style="height: 100px;" src="@usrImg.Replace("~","")" onerror="this.src='/Assets/images/dealer-logo.jpg'">
                            <p><div class="rating-container"></div></p>
                            <p>
                                <span data-toggle="modal" data-target="#commentform" style="cursor: pointer;" class="label label-primary">
                                    <span id="totalCommentsContainer">@Model.Item2.DealerComments.Count</span> review
                                </span>
                            </p>
                        </div>
                        <div class="col-sm-8">
                            <br><br>
                            <h4 class="text-left">
                                @Model.Item2.UserName
                            </h4>
                            <div class="row">
                                <div class="col-xs-12">
                                    <h6 style="font-size: 17px;">Contact : <small>@Model.Item2.UserProfile.MobileNumber </small></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <h6 style="font-size: 17px;">Email : <small>@Model.Item2.Email</small></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <h6 style="font-size: 17px;">
                                        Address : <small>
                                            @Model.Item2.UserProfile.DealershipAddressLine1,
                                            &nbsp;@Model.Item2.UserProfile.DealershipAddressLine2
                                        </small>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="result-sorting-wrapper">
                <div class="sorting-count">
                    @{Html.RenderPartial("_ListingHeader", Model.Item1);}
                </div>
                <div class="result-sorting-by">
                    <p>Sort by:</p>
                    <form action="#" method="post">
                        <div class="form-group select sorting-select">
                            @{Html.RenderAction("CarlistSortBy", "Search"); }
                        </div>
                    </form>
                </div>
            </div>
            @if (Model.Item1.Any())
            {
                int i = 0;
                foreach (var item in Model.Item1)
                {

                    //string FuelType = MyExtentionMethods.GetEnumName(item.EngineType.Id, typeof(SiteEnum.EngineType));
                    string CarType = MyExtentionMethods.GetEnumName(item.OwnershipType, typeof(SiteEnum.CarType));
                    string img = "/assets/images/default-car.png";

                    string cmpChkId = "compare_chk_" + i;
                    string frmCmpId = "frm_compare_" + i;
                    HttpContext context = HttpContext.Current;
                    string chkboxStatus = string.Empty;

                    if (context.Session["dealerCarDetailId"] != null)
                    {
                        string carDetailSession = context.Session["dealerCarDetailId"].ToString();
                        string[] strCarDetailIds = carDetailSession.Split(',');
                        if (strCarDetailIds.Contains(item.Id.ToString()))
                        {
                            chkboxStatus = "checked=checked";
                        }
                    }

                    if (item.CarImages != null && item.CarImages.Count > 0 && !string.IsNullOrWhiteSpace(item.CarImages.FirstOrDefault().NormalImagePath))
                    {
                        img = item.CarImages.FirstOrDefault().NormalImagePath;
                    }
                    <span class="disp_msg_compare">&nbsp;</span>
                    <div class="product-listing-m gray-bg">
                        <div class="product-listing-img">

                            @{ var itemID = @EncryptDecryptHelper.encrypt(item.Id); }

                            <a href="CarDetail/@itemID"><img src="@img" class="img-responsive" alt="Image" /> </a>
                            <div class="label_icon">@CarType</div>
                            <div class="compare_item">
                                <div class="checkbox">
                                    @*<input type="checkbox" value="" id="compare22">
                                        <label for="compare22">Compare</label>*@
                                    <form id="@frmCmpId">
                                        @Html.Hidden("dealerCarDetailId", item.Id);
                                        <input type="checkbox" id="@cmpChkId" name="compare_chk" @chkboxStatus />
                                        <label for="@cmpChkId">Compare</label>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="product-listing-content">
                            <div class="col-md-12">
                                <h5><a href="CarDetail/@itemID">@item.CarDetails.Maker.Name , @item.CarDetails.Model.Name</a></h5>
                                <p class="list-price">@item.CarDetails.Trim</p>
                                <ul>
                                    <li><i class="fa fa-money" aria-hidden="true"></i>$@MyExtentionMethods.DecimalFormat(item.Price)</li>
                                    <li><i class="fa fa-tachometer" aria-hidden="true"></i> @MyExtentionMethods.DecimalFormat(item.Miles) Miles</li>
                                    <li><i class="fa fa-road" aria-hidden="true"></i>@Authentication.CurrentUserId.Value.GetMaileDistance(item.User.Id)</li>
                                    <li><i class="fa fa-user" aria-hidden="true"></i>@(item.User != null ? item.User.UserName : "")</li>
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>@item.CarDetails.Year.Name model</li>

                                </ul>

                                @PostInterval(item.CreatedTs)

                                @*<div class="form-group">
                                        <a href="CarDetail/@item.Id" class="btn">View Details <span class="angle_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                                        <div class="car-location"><span><i class="fa fa-map-marker" aria-hidden="true"></i> @*Colorado, USA NA</span></div>
                                    </div>*@
                                @if (item.User.Id != Authentication.CurrentUserId && iscustomeraccout && isVerifiedaccount)
                                {
                                    <div class="form-group">
                                        @*<a href="CarBuy/@item.Id" class="btn">Buy Now </a>
                                            <a href="CarOnHold/@item.Id" class="btn">Hold Now </a>*@
                                        <a onclick="buyNowCar('@itemID')" class="btn">Buy Now </a>
                                        <a onclick="holdNowCar('@itemID')" class="btn">Hold Now </a>
                                    </div>
                                }
                                else if (item.User.Id == Authentication.CurrentUserId)
                                {
                                    if (item.IsOnHold)
                                    {
                                        <a onclick="soldNowCar(@itemID)" class="btn">Sold Car</a>
                                    }
                                    if (!item.IsOnHold && !item.IsSold)
                                    {
                                        <a href="/UpdateCarOfGarage/@itemID" class="btn">Update Car Details</a><span class="disp_msg_compare">&nbsp;</span>

                                    }
                                }
                            </div>
                        </div>
                    </div>
                    { i++; }
                }
            }
            @{Html.RenderPartial("_ListPaging", Model.Item1);}
        </div>

    }

}

@helper PostInterval(DateTime PostedTs)
{

    var Day = DateTime.UtcNow.Date.Subtract(PostedTs.Date).Days;
    <p class="list-price">@string.Format("Posted {0} days Ago.", Day) </p>
}
@Scripts.Render("~/Assets/Trialcars/js/Dealercar/compareCar.js");

<div class="modal fade" id="BuyNowHoldNowDetailForm">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="max-height: 500px;overflow-y: auto;height:auto">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Buy/Hold Details</h3>
            </div>
            <div id="dvBankConnectAccountMsg" class="alert alert-info dvdismiss" style="display:none;">
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="login_wrap">

                        <div id="CarBuyHoldOutput">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer text-center">
            </div>
        </div>
    </div>
</div>
