﻿@model Incite.Services.ViewModels.DealerCommentNRatingViewModel
@using (Ajax.BeginForm("AddUpdateCarCommentReply", "DealerCar", new AjaxOptions { HttpMethod = "POST", OnSuccess = "profileCommentSuccess", OnFailure = "alert('Error Occured while Reply.')" }))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Comment)
    @Html.HiddenFor(m => m.Rating)
    @Html.HiddenFor(m => m.RatingForDealerId)
    @Html.HiddenFor(m => m.CreatedTs)

    <input id="dealerId "type="hidden" name="DealerId" value="@Model.DealerId" />
    <div class="div-float-left">@Html.TextAreaFor(m => m.CommentReply, new {@rows = 2, @class = "form-control" })</div>
    <div class="comm_btn_div"><input type="submit" class="commentbtn btn" value="Reply"></div>
    <div style="clear:both"></div>
}
<!--Display Dealer Car Comments-->
<span class="CarCommentResult"></span>
<!--/Display Dealer Car Comments-->
