﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Dealer Inventory Network</title>
    @Styles.Render("~/Content/TrialCarscss")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <link href="~/Assets/images/favicon-icon/logo.ico" rel="shortcut icon" type="image/x-icon">
    <!-- Fav and touch icons -->
    @*<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/images/favicon-icon/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/images/favicon-icon/apple-touch-icon-114-precomposed.html">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/favicon-icon/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/images/favicon-icon/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="assets/images/favicon-icon/favicon.png">*@
    <!-- Google-Font-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--/Thankyou Form -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/TrialCarsScripts")
    @Scripts.Render("~/bundles/TrialCarsCustomScripts")

    @Scripts.Render("~/Assets/Scripts/jquery.signalR-2.4.0.js")
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/Assets/Scripts/knockout-2.2.0.js")
    @Scripts.Render("~/Assets/Trialcars/js/chat.js")
    <script src="~/Assets/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Assets/Trialcars/js/Search/SearchCustom.js"></script>
    @RenderSection("scripts", required: false)
</head>
<body>
    @{
        var userDetail = HttpContext.Current.User;
    }

    <div id="load_wrapper" class="overlay" style="position:fixed;height:100%;width:100%;background:black;opacity:.7;z-index:2050;display:none;">
        <div class="lds-dual-ring"><div></div><div></div></div>
    </div>
    <!--Header-->
    <header>
        <div class="default-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-md-2">
                        <div class="logo" style="
                             margin-top 10px;margin-bottom 5px;margin-left -90px;">
                            <a href="/"><img src="/assets/images/DINTextBlue.png" alt="image" style="width: 266px;" /></a>
                        </div>
                    </div>
                    <div class="col-sm-9 col-md-10">
                        <div class="header_info">
                            <div class="header_widgets">
                                <div class="circle_icon"> <i class="fa fa-envelope" aria-hidden="true"></i> </div>
                                <p class="uppercase_text">For Support Mail us : </p>
                                <a href="mailto:Support@dealerinventorynetwork.com.com">Support@dealerinventorynetwork.com</a>
                            </div>
                            <div class="header_widgets">
                                <div class="circle_icon"> <i class="fa fa-phone" aria-hidden="true"></i> </div>
                                <p class="uppercase_text">Service Helpline Call Us: </p>
                                <a href="tel:+17177992505">+1-717-799-2505</a>
                            </div>

                            @if (!Request.IsAuthenticated)
                            {
                                <div class="login_btn"> <a href="#loginform" class="btn btn-xs uppercase" data-toggle="modal" data-dismiss="modal">Login / Register</a> </div>
                            }
                            else
                            {
                                <div class="social-follow">
                                    <ul>
                                        <li><a href="https://www.facebook.com/pg/DealerInventoryNetwork/photos/?ref=page_internal" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                        <li><a href="https://twitter.com/NetworkDealer" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                        <li><a href="https://www.linkedin.com/company/dealer-inventory-network/about/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                                        <li><a href="https://www.instagram.com/dealerinventorynetwork/?hl=en" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navigation -->
        <nav id="navigation_bar" class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button id="menu_slide" data-target="#navigation" aria-expanded="false" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                </div>
                <div class="header_wrap">
                    @if (Request.IsAuthenticated)
                    {
                        string UserName = string.Empty;
                        if (userDetail != null)
                        {
                            UserName = userDetail.Identity.Name;
                        }
                        <ul class="notification-section">
                            <li>
                                <button type="button"><a href="/Dealer/Messages"><i class="fa fa-envelope" aria-hidden="true"></i></a></button>
                            </li>
                            <li class="dropdown">
                                <span style="display:none; background-color:red; color:#fff" id="unreadCount" class="message-count"></span>
                                <button onclick="updateNotificationMarkRead()" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><a href=""><i class="fa fa-bell" aria-hidden="true"></i></a></button>

                                <ul class="dropdown-menu" aria-labelledby="dLabel" id="notificationList"></ul>

                            </li>
                        </ul>
                        <div class="user_login">

                            <ul>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle" aria-hidden="true"></i> @UserName <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <ul class="dropdown-menu">
                                        
                                        <li>
                                            <a href="/mygarage">My Garage</a>
                                        </li>
                                        <li>
                                            <a href="/mysoldcar">Sold Car</a>
                                        </li>                                      
                                        <li><a href="/Account/UpdateSettings">My Settings</a></li>                                        
                                        <li><a href="/Account/UpdateProfile">My Profile</a></li>
                                        <!--<li><a href="/Account/UpdatePassword">Update Password</a></li>
                                        <li><a href="/Dealer/Messages">Messages</a></li>-->
                                        <li><a href="/Account/Logout">Sign Out</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    }
                </div>
                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/">Home</a>
                            @*<ul class="dropdown-menu">
                                    <li><a href="#">Home Page 1</a></li>
                                    <li><a href="#">Home Page 2</a></li>
                                </ul>*@
                        </li>
                        <li><a href="/About">About Us</a></li>
                        <li><a href="/Contact">Contact Us</a></li>
                        <li><a href="/Services">Services</a></li>
                        <li><a href="/Faq">FAQs</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navigation end -->

    </header>
    <!-- /Header -->

    @RenderBody()

    <!--Footer -->
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="col-md-3 col-sm-6">
                    <ul>
                        <li><a href="~/UploadedFiles/TERMS OF SERVICE.pdf" target="_blank">Terms Of Serivce</a></li>
                        <li><a href="~/UploadedFiles/PRIVACY POLICY.pdf" target="_blank">Privacy Policy</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <ul>
                        <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSccdtn7daI0Lg7VNzn2SBBwjn5KqhiOVvOZkYgI2u-OEPu1MA/viewform?vc=0&c=0&w=1" target="_blank">Careers</a></li>
                        <li><a href="/About">About Us</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <ul>
                        <li><a href="/Contact">Contact</a></li>

                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <h6 style="margin-bottom: 9px;">Subscribe to Newsletter</h6>
                    <div class="newsletter-form">
                        <form id="subscribeform" method="post">
                            <div class="form-group">
                                <input type="email" class="form-control newsletter-input" required placeholder="Enter Email Address" id="EmailId" />
                            </div>
                            <button type="submit" class="btn btn-block" id="subBtn">Subscribe <span class="angle_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
                        </form>
                        <p class="subscribed-text">*We send great deals and latest auto news to our subscribed users.</p>
                    </div>
                    <div id="message" style="display: none">
                        <!-- Here I want to place a message. It should be visible for 3 seconds.Then clear the      div to get ready for the next message. -->
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-push-6 text-right">
                        <div class="footer_widget">
                            <p>Connect with Us:</p>
                            <ul>
                                <li><a href="https://www.facebook.com/DealerInventoryNetwork/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                <li><a href="https://twitter.com/NetworkDealer" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/35582286/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.instagram.com/dealerinventorynetwork/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-pull-6">
                        <p class="copy-right">Copyright &copy; 2019 DealerInventoryNetwork. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Footer-->
    <!--Back to top-->
    <div id="back-top" class="back-top"> <a href="#top"><i class="fa fa-angle-up" aria-hidden="true"></i> </a> </div>
    <!--/Back to top-->
    @if (!Request.IsAuthenticated)
    {
        <!--Login-Form -->
        @Html.Partial("~/Views/Account/Login.cshtml")
        <!--/Login-Form -->
        <!--Register-Form -->

        @Html.Action("Register", "Account")
        <!--/Register-Form -->

        <!--Forgot-password-Form -->

        @Html.Partial("~/Views/Account/ForgotPassword.cshtml")
        <!--/Forgot-password-Form -->
    }


    <!--Reset-password-Form -->
    <div id="dvresetpassword"></div>

    @if (!string.IsNullOrWhiteSpace(Request.QueryString["uid"]))
    {
        Html.RenderAction("ResetPassword", "Account");
        <script type="text/javascript">
            $(document).ready(function () {
                $("#resetpassword").modal("show");
            });
        </script>
    }
    <!--/Reset-password-Form -->
    <!--Thankyou Form -->
    <div class="modal fade" id="Thankyou">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Thank You</h3>
                </div>
                <div class="modal-body" id="Thankyoubody">
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ajax-loader">
        <img src="/Assets/images/loader.gif" class="img-responsive" />
    </div>
    </div>
</body>
</html>

@Scripts.Render("~/bundles/ModelPopUpScripts")
@if (ViewBag.Login != null && ViewBag.Login == false)
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#loginform').modal('show');
        });
    </script>
}

<script>

    function getNotification() {


        $.post('/Dealer/notificationList', {}, function (d) {

            var unreadCount = $("#unreadCount");

            if (d.unreadCount == 0) {
                unreadCount.hide();
            } else {
                unreadCount.show();
                unreadCount.html(d.unreadCount);
            }
            if (d == "") {
                return false;
            }
            if (d.list.length == 0  ) {
                $("#notificationList").html("<li><a href='javascript:void(0);'>no notification to display</a></li>");
            } else {
                var ul = $("#notificationList");
                ul.html('');
                //  <li><a href="/Dealer/Messages"><span class="icon-circle"><i class="fa fa-file-text-o"></i></span> Dealer sent you a message.</a></li>
                for (var item = 0; item < d.list.length; item++) {
                    var li = $("<li/>").appendTo(ul);
                    var url = '/account/updatesettings';
                    if (d.list[item].Type.toLowerCase() == 'message') {

                        url = '@Url.RouteUrl("DealerMessages")';
                    }
                    else if (d.list[item].Type.toLowerCase() == 'review') {
                        url = '/Account/UpdateProfile';
                    }
                    else if (d.list[item].Type.toLowerCase() == 'hold') {
                        url = '@Url.RouteUrl("MyGarage")';
                    }
                    var a = $("<a>").appendTo(li);
                    a.attr('href', url);
                    var str = '<span class="icon-circle"><i class="fa fa-file-text-o"></i></span>' + d.list[item].Description
                    a.html(str);
                }


            }
        })
    }

    $(document).ready(function () {
        window.setInterval(function () {

            /// call your function here
            getNotification();
        }, 2000);
    })
    function updateNotificationMarkRead() {
        $.post('/dealer/marknotificationread', {}, function () {

        })
    }
</script>