﻿
@model string
@{ string userImage = string.Empty; }
@if (Model != "")
{
    userImage = Model.TrimStart(new char[] { '~' });
    <div class="div-float-left"><img src="@userImage" asp-append-version="true" class="rating-usr-img" /></div>
}
else
{
    //userImage = "/Assets/images/default-user.png";
    <div class="div-float-left">
        <i class="fa fa-user-circle fa-3x" style=""></i>
    </div>
}
