﻿@using Incite.Services.ViewModels

@model AddConnectAccountsViewModel
    <div class="modal fade" id="AddConnectBankAccountForm">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Create Sellers Account</h3>
                </div>
                <div id="dvBankConnectAccountMsg" class="alert alert-info dvdismiss" style="display:none;">
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="login_wrap">
                            <div class="col-md-12 col-sm-6">
                                <div id="dvLoginMsg" class="alert alert-info dvdismiss" style="display:none;">
                                </div>
                                @using (Ajax.BeginForm("AddConnectAccounts", "Account", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess" }, new { id = "AddConnectAccountForm" }))
                                {

                                    @Html.AntiForgeryToken()


                                <div class="col-md-12 col-sm-6">
                                    @Html.HiddenFor(m => m.CustomerEmailId)
                                    @Html.HiddenFor(m => m.AppUserId)

                                    <div class="form-group">
                                        <label class="col-md-12">Business/Dealership Name</label>
                                        @Html.TextBoxFor(m => m.AccountHolderName, new { @class = "form-control form-control-line" })
                                        @Html.ValidationMessageFor(x => x.AccountHolderName, string.Empty, new { @class = "text-danger" })
                                    </div>


                                    <div class="form-group">
                                        <label class="col-md-12">Business/Dealership Website</label>
                                        @Html.TextBoxFor(m => m.URL, new { placeholder = "https://xyz.com", @class = "form-control form-control-line" })
                                        @Html.ValidationMessageFor(x => x.URL, string.Empty, new { @class = "text-danger" })
                                    </div>


                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label for="example-email" class="col-md-12">Phone Number</label>
                                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control form-control-line", style = "height:50px" })
                                                @Html.ValidationMessageFor(x => x.PhoneNumber, string.Empty, new { @class = "text-danger" })
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="example-email" class="col-md-12">Tax-Id Number</label>
                                                @Html.TextAreaFor(m => m.EIN, new { placeholder = "00-0000000", @class = "form-control form-control-line", style = "height:50px;padding-top: 10px" })
                                                @Html.ValidationMessageFor(x => x.EIN, string.Empty, new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label for="example-email" class="col-md-12">Bank Routing Number</label>
                                                @Html.TextBoxFor(m => m.RoutingNumber, new { @class = "form-control form-control-line", style = "height:50px" })
                                                @Html.ValidationMessageFor(x => x.RoutingNumber, string.Empty, new { @class = "text-danger" })
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="example-email" class="col-md-12">Bank Account Number</label>
                                                @Html.TextAreaFor(m => m.AccountNumber, new { @class = "form-control form-control-line", style = "height:50px;padding-top: 10px" })
                                                @Html.ValidationMessageFor(x => x.AccountNumber, string.Empty, new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label for="example-email" class="col-md-12">First</label>
                                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control form-control-line", style = "height:50px" })
                                                @Html.ValidationMessageFor(x => x.FirstName, string.Empty, new { @class = "text-danger" })
                                            </div>
                                            <div class="col-sm-4">
                                                <label for="example-email" class="col-md-12">Last</label>
                                                @Html.TextAreaFor(m => m.LastName, new { @class = "form-control form-control-line", style = "height:50px;padding-top: 10px" })
                                                @Html.ValidationMessageFor(x => x.LastName, string.Empty, new { @class = "text-danger" })
                                            </div>
                                            <div class="col-sm-4">
                                                <label for="example-email" class="col-md-12">SSN Last-4</label>

                                                @Html.TextAreaFor(m => m.SSNLast4, new { placeholder = "xxx-xx-0000", @class = "form-control form-control-line", style = "height:50px;padding-top: 10px" })
                                                @Html.ValidationMessageFor(x => x.SSNLast4, string.Empty, new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label class="col-md-12">Date Of Birth</label>
                                                <!--<input type="date" name="bday" class="form-control form-control-line" style="height:50px;width:170px">-->
                                                @Html.TextBoxFor(m => m.Dob2, new { @class = "form-control form-control-line", type = "date", style = "height:50px;width:170px" })
                                            </div>
                                            <div class="col-sm-7">
                                                    <label for="example-email" class="col-md-12">Your Job Title</label>

                                                    @Html.TextAreaFor(m => m.JobTitle, new { placeholder = "Owner, Manager, Partner", @class = "form-control form-control-line", style = "height:50px;padding-top: 10px" })
                                                    @Html.ValidationMessageFor(x => x.JobTitle, string.Empty, new { @class = "text-danger" })
                                                </div>
                                        </div>
                                       
                                    </div>

                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <label for="example-email" class="col-md-12">Address Line1</label>
                                                        @Html.TextBoxFor(m => m.AddressLine1, new { @class = "form-control form-control-line", style = "height:50px" })
                                                        @Html.ValidationMessageFor(x => x.AddressLine1, string.Empty, new { @class = "text-danger" })
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label for="example-email" class="col-md-12">Address Line2</label>
                                                        @Html.TextAreaFor(m => m.AddressLine2, new { @class = "form-control form-control-line", style = "height:50px;padding-top: 10px" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <label for="example-email" class="col-md-12">City</label>
                                                        @Html.TextBoxFor(m => m.AddressCity, new { @class = "form-control form-control-line", style = "height:50px" })
                                                        @Html.ValidationMessageFor(x => x.AddressCity, string.Empty, new { @class = "text-danger" })
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label for="example-email" class="col-md-12">State</label>
                                                        @Html.DropDownListFor(m => m.State, new SelectList(Model.StateList, "Value", "Text"), new { @id = "drpstate", @class = "form-control", @placeholder = "State", style = "height:50px;padding-top: 10px" })
                                                        @Html.ValidationMessageFor(x => x.AddressState, string.Empty, new { @class = "text-danger" })
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label for="example-email" class="col-md-12">ZipCode</label>

                                                        @Html.TextAreaFor(m => m.AddressPostalCode, new { @class = "form-control form-control-line", style = "height:50px;padding-top: 10px" })
                                                        @Html.ValidationMessageFor(x => x.AddressPostalCode, string.Empty, new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="raw form-group">
                                                <input type="submit" value="Add Connect Account" name="Add Connect Account" class="btn btn-success">
                                            </div>
                                        </div>

                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>

