﻿@using Incite.Services.ViewModels
@using System.Globalization;
@model UpdateSettingsViewModel
@{
    ViewBag.Title = "Dealer Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Trialcars/css/bootstrap.min.css")
@Styles.Render("~/Content/css/font-awesome.min.css")
@Styles.Render("~/Assets/tooltip/css/icon.css")
@Styles.Render("~/Assets/tooltip/css/style.css")
@Scripts.Render("~/Assets/tooltip/js/popper.min.js")

@Styles.Render("~/Content/Trialcars/css/font-awesome.min.css")

@*<script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>*@
@*<script src="@Url.Content("~/Content/js/jquery-3.3.1.js")"></script>*@



<script src="~/Assets/Scripts/jquery.creditCardValidator.js"></script>
<link rel="stylesheet" href="~/Assets/Content/creditcard.css" />

@{

    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);



    var CardExpiryMonth = new List<SelectListItem>();
    for (int month = 1; month <= 12; month++)
    {
        DateTime dt = new DateTime(DateTime.Now.Year, month, 1);
        CardExpiryMonth.Add(new SelectListItem
        {
            Text = month.ToString() + "-" + dt.ToString("MMM", CultureInfo.InvariantCulture),
            Value = month.ToString()
        });
    }
    var CardExpirationYear = new List<SelectListItem>();
    for (int year = DateTime.Now.Year; year <= DateTime.Now.Year + 10; year++)
    {
        CardExpirationYear.Add(new SelectListItem
        {
            Text = year.ToString(),
            Value = year.ToString()
        });
    }
}

<!--Page Header-->
<section class="page-header setting_page">
    <div class="container">
        <div class="page-header_wrap">
            <div class="page-heading">
                <h1>My Settings</h1>
            </div>
            <ul class="coustom-breadcrumb">
                <li><a href="@Url.RouteUrl("HomeIndex")">Home</a></li>
                <li>My Settings</li>
            </ul>
        </div>
    </div>
    <!-- Dark Overlay-->
    <div class="dark-overlay"></div>
</section>
<!-- /Page Header -->
<!--<div class="modal-header">

    <h3 class="modal-title">My Settings</h3>
</div>-->

<style type="text/css">
    .nav-pills > li > a {
        color: #fff;
        padding: 10px 30px;
        border-radius: 0;
    }

    .nav-pills > li:hover > a, .nav-pills > li.active > a {
        color: #fff;
        background: #1e282c !important;
    }

    .nav-pills li, .nav-pills li + li {
        margin: 0;
    }
    /*.card.card-default {border-bottom: 1px solid #ccc; padding-bottom: 50px;}*/

    .setting_listing {
        padding: 0;
        background: #222d32;
    }

    .white-bg {
        background: #f5f5f5;
    }

    .menu-bg {
        padding: 0;
    }

        .menu-bg h3 {
            background: #1a2226;
            color: #fff;
            text-transform: uppercase;
            padding: 10px 30px;
            margin: 0;
            font-weight: normal;
            font-size: 20px;
        }
</style>


<div class="listing-page setting_listing">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 menu-bg">
                <h3>Menu</h3>
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class="active"><a href="#mysubscription" aria-controls="mkstrategy" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-check-square-o" aria-hidden="true"></i> My Subscription</a></li>
                    <li role="presentation"><a href="#summary" aria-controls="mkstrategy" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-credit-card" aria-hidden="true"></i> Credit Cards</a></li>
                    <li role="presentation" class=""><a href="#itinenary" aria-controls="itinenary" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-address-book-o" aria-hidden="true"></i> Bank Account</a></li>
                    <li role="presentation"><a href="#inclusion" aria-controls="inclusion" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-file-text-o" aria-hidden="true"></i> Transaction Hitsory</a></li>
                </ul>


            </div>

            <div class="col-md-9 white-bg">
                <div class="tab-content" style="margin-top:20px">
                    <div role="tabpanel" class="tab-pane active" id="mysubscription">
                        @{Html.RenderAction("UserSubscriptionList", "Account"); }
                    </div>

                    <div role="tabpanel" class="tab-pane" id="summary">
                        @{Html.RenderAction("UserPaymentSourceList", "Account", new { iscard = true }); }

                    </div>
                    <div role="tabpanel" class="tab-pane" id="itinenary">
                        @{Html.RenderAction("UserPaymentSourceList", "Account", new { isbank = true }); }
                        @*<section class="listing-page">
                                <div class="container">
                                    <div class="row">
                                        <div class="row form-group">

                                        </div>
                                    </div>
                                </div>
                            </section>*@
                        <section class="listing-page">
                            <div class="container">
                                <div class="row">
                                    <div class="row form-group">
                                        @{Html.RenderAction("VerifyBankAccount", "Account"); }
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="inclusion">
                        @{Html.RenderAction("UserTransactions", "Account"); }
                        @*<section class="listing-page">
                                <div class="container">
                                    <div class="row">
                                        <div class="row form-group">

                                        </div>
                                    </div>
                                </div>
                            </section>*@
                    </div>

                </div>



            </div>
        </div>
    </div>

</div>



@*<section class="listing-page">
        <div class="container">
            <div class="row">
                <div class="row form-group">
                    @{Html.RenderAction("AddConnectAccounts", "Account"); }
                </div>
            </div>
        </div>
    </section>*@


<div class="modal fade" id="AddbankAccountForm">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="height:auto">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Add bank account Detail</h3>
            </div>
            <div id="dvBankAccountMsg" class="alert alert-info dvdismiss" style="display:none;">
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="login_wrap">
                        <div class="col-md-12 col-sm-12">
                            <div id="dvLoginMsg" class="alert alert-info dvdismiss" style="display:none;">
                            </div>
                            @using (Ajax.BeginForm("UpdateSettings", "Account", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess" }, new { id = "UpdateSettingForm" }))
                            {

                                @Html.AntiForgeryToken()


                                <div class="col-md-12 col-sm-12">
                                    @Html.HiddenFor(m => m.CustomerEmailId)
                                    @Html.HiddenFor(m => m.AppUserId)

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6">

                                                @Html.TextBoxFor(m => m.AccountHolderName, new { placeholder = "Account Holder Name*", @class = "form-control form-control-line" })
                                                @Html.ValidationMessageFor(x => x.AccountHolderName, string.Empty, new { @class = "text-danger" })
                                            </div>
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(m => m.RoutingNumber, new { placeholder = "Routing Number*", @class = "form-control form-control-line" })
                                                @Html.ValidationMessageFor(x => x.RoutingNumber, string.Empty, new { @class = "text-danger" })
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6">

                                                @Html.TextBoxFor(m => m.AccountNumber, new { placeholder = "Account Number*", @class = "form-control form-control-line" })
                                                @Html.ValidationMessageFor(x => x.AccountNumber, string.Empty, new { @class = "text-danger" })
                                            </div>
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(m => m.ConfirmAccountNumber, new { placeholder = "Confirm Account Number*", @class = "form-control form-control-line" })
                                                @Html.ValidationMessageFor(x => x.ConfirmAccountNumber, string.Empty, new { @class = "text-danger" })
                                            </div>

                                        </div>
                                    </div>
                                    <div class="raw form-group">
                                        <input type="submit" value="Add Account" name="Add Account" class="btn btn-success">
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .field-validation-error {
        color: #a94442
    }
</style>
<script>

    $(document).ready(function () {
        $("#CardNumber").change(function () {
            $(this).validateCreditCard(function (result) {
                if (result.luhn_valid == false) {
                    $("#invalidcardNumber").html("Please provide valid card number");
                } else {
                    $("#CardNumber").removeClass('mastercard');
                    $("#CardNumber").removeClass('visa');
                    $("#CardNumber").removeClass('visa_electron');
                    $("#CardNumber").removeClass('maestro');
                    $("#CardNumber").removeClass('discover');

                    var cardType = (result.card_type == null ? '-' : result.card_type.name);
                    $("#CardNumber").addClass(cardType);

                    $("#invalidcardNumber").html("");
                }

            })
        })

        $("#ExpiryYear, #ExpiryMonth").change(function () {

            $("#cardExpiryError").html("");
            var today, someday;
            var exMonth = document.getElementById("ExpiryMonth").value;
            var exYear = document.getElementById("ExpiryYear").value;
            today = new Date();
            someday = new Date();
            someday.setFullYear(exYear, exMonth, 1);

            if (someday < today) {
                $("#cardExpiryError").html("The expiry date is before today's date. Please select a valid expiry date");
                return false;
            }

        })

    });
</script>
<div class="modal fade" id="AdCardForm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Add New Card Details</h3>
            </div>
            <div id="dvCardMsg" class="alert alert-info dvdismiss" style="display:none;">
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="login_wrap">
                        <div class="col-md-12 col-sm-12">
                            <div id="dvCardErrorMsg" class="alert alert-info dvdismiss" style="display:none;">
                            </div>
                            @using (Ajax.BeginRouteForm("AddNewCard", new AjaxOptions { HttpMethod = "POST", OnComplete = "onComplete" }))
                            {
                                <div class="col-md-12 col-sm-12">
                                    @Html.HiddenFor(m => m.CustomerEmailId)
                                    @Html.HiddenFor(m => m.AppUserId)

                                    <div class="form-group">
                                        <label class="col-md-12">Card Holder Name</label>
                                        @Html.TextBox("NameOnCard", "", new { @class = "form-control form-control-line", required = "required", placeholder = "Please Enter Card Holder Name" })
                                        @Html.ValidationMessage("NameOnCard")
                                        <span id="invalidcardNumber" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label for="example-email" class="col-md-12">Card Number</label>

                                        @Html.TextBox("CardNumber", "", new { @class = "form-control form-control-line", required = "required", placeholder = "Please Enter Card Number" })
                                        @Html.ValidationMessage("CardNumber")
                                    </div>


                                    <div class="form-group">
                                        <label for="example-email" class="col-md-12">Expiry Month</label>
                                        @Html.DropDownList("ExpiryMonth", CardExpiryMonth, new { @class = "form-control" })
                                    </div>

                                    <div class="form-group">
                                        <label for="example-email" class="col-md-12">Expiry Year</label>
                                        @Html.DropDownList("ExpiryYear", CardExpirationYear, new { @class = "form-control" })
                                    </div>
                                    <span class="text-danger" id="cardExpiryError" style="margin-left:30px;"></span>

                                    <div class="form-group">
                                        <label for="example-email" class="col-md-12">CVV</label>
                                        @Html.TextBox("CVVNumber", "", new { @class = "form-control form-control-line", required = "required", style = "width:150px", title = "Please Enter CVV code" })
                                        @Html.ValidationMessage("CVVNumber")
                                    </div>
                                    <div class="raw form-group">
                                        <input type="submit" value="Add Card" onclick="return validateCardNumber();" name="Add Card" class="btn btn-success">
                                    </div>
                                </div>
                            }


                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="EditCardForm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Edit Card Details</h3>
            </div>
            <div id="dvEditCardMsg" class="alert alert-info dvdismiss" style="display:none;">
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="login_wrap">
                        <div class="col-md-12 col-sm-12">
                            <div id="dvUpdateCardErrorMsg" class="alert alert-info dvdismiss" style="display:none;">
                            </div>
                            @using (Ajax.BeginRouteForm("AddNewCard", new AjaxOptions { HttpMethod = "POST", OnComplete = "onCompleteUpdatecard" }))
                            {
                                <div class="col-md-12 col-sm-12">
                                    <input type="hidden" id="hdnCardId" name="cardId" />

                                    <div class="form-group">
                                        <label for="example-email" class="col-md-12">Card Number</label>
                                        <p class="form-control-static" id="cardNumber"></p>
                                    </div>


                                    <div class="form-group">
                                        <label for="example-email" class="col-md-12">Expiry Month</label>
                                        @Html.DropDownList("ExpiryMonth", CardExpiryMonth, new { id = "UpdateExpiryMonth", @class = "form-control" })
                                    </div>

                                    <div class="form-group">
                                        <label for="example-email" class="col-md-12">Expiry Year</label>
                                        @Html.DropDownList("ExpiryYear", CardExpirationYear, new { id = "UpdateExpiryYear", @class = "form-control" })
                                    </div>



                                    <div class="raw form-group">
                                        <input type="submit" value="Update Card" name="Add Card" class="btn btn-success">
                                    </div>
                                </div>
                            }


                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function onComplete(d) {
        console.log(d);
        if (d.responseJSON.IsSuccess == false) {
            $("#dvCardErrorMsg").show();
            $("#dvCardErrorMsg").html(d.responseJSON.Message);
        } else {
            window.location.href = '/account/UpdateSettings';
        }
    }
    function onCompleteUpdatecard(d) {
        if (d.responseJSON.IsSuccess == false) {
            $("#dvUpdateCardErrorMsg").show();
            $("#dvUpdateCardErrorMsg").html(d.responseJSON.Message);
        } else {
            window.location.href = '/account/UpdateSettings';
        }
    }
</script>

<script type="text/javascript">

    function OnSuccess(data) {
        //alert('HTTP Status Code: ' + data.param1 + "  " + data.param2);
        alert(data.Message);
        window.location.href = '/Account/UpdateSettings';
    }

</script>
@Scripts.Render("~/Assets/tooltip/js/index.js")

<script>
    function validateCardNumber() {
        $("#cardExpiryError").html("");
        var today, someday;
        var exMonth = document.getElementById("ExpiryMonth").value;
        var exYear = document.getElementById("ExpiryYear").value;
        today = new Date();
        someday = new Date();
        someday.setFullYear(exYear, exMonth, 1);

        if (someday < today) {
            $("#cardExpiryError").html("The expiry date is before today's date. Please select a valid expiry date");
            return false;
        }



        if (($("#cardExpiryError").html() == "The expiry date is before today's date. Please select a valid expiry date")
            || $("#invalidcardNumber").html() == "Please provide valid card number")
            return false;
    }

    function luhnCheck(val) {
        var sum = 0;
        for (var i = 0; i < val.length; i++) {
            var intVal = parseInt(val.substr(i, 1));
            if (i % 2 == 0) {
                intVal *= 2;
                if (intVal > 9) {
                    intVal = 1 + (intVal % 10);
                }
            }
            sum += intVal;
        }
        return (sum % 10) == 0;
    }
</script>
