﻿@using Stripe;
@model Stripe.StripeList<Stripe.IPaymentSource>
@{
    /**/


    Layout = null;

    Customer customer = (Customer)ViewBag.StripCustomer;

}
@if (ViewBag.IsCard == true)
{
    <div class="col-sm-12 text-right" style=" margin-top: 30px">
        <a href="#AdCardForm" class="btn" data-toggle="modal" data-dismiss="modal">Add New card</a>
    </div>

    <div class="col-md-12 "><br /></div>
    <div class="col-md-12 ">
        <div class="result-sorting-wrapper">
            @if (Model != null && Model.Data != null && Model.Count() > 0)
            {
                <table border="1" align="center">
                    <tr><td colspan="5"><h5 class="modal-title">Credit card details to buy car</h5>  </td></tr>
                    <tr>
                        <thead>
                        <th>Card Type</th>
                        <th>Expiry Month</th>
                        <th>Expiry Year</th>
                        <th>Card Number </th>
                        <th></th>
                        </thead>
                    </tr>
                    @foreach (var account in Model)
                    {
                        if (account.Object == "card")
                        {

                            try
                            {
                                Stripe.Card ca = (Stripe.Card)account;
                                <tr>
                                    <td data-label="Card Type"> @ca.Brand </td>
                                    <td data-label="Expiry Month">@ca.ExpMonth </td>
                                    <td data-label="Expiry Year">@ca.ExpYear </td>
                                    <td data-label="Card Number">**********@ca.Last4  </td>
                                    <td data-label="">

                                        @if (customer.DefaultSourceId == ca.Id)
                                        {

                                            <i class="fa fa-check" title="Default Card"></i>


                                        }
                                        else
                                        {
                                            @:  <a title="Make Default" href="javascript:void(0);" onclick="makeDefaultCard('@ca.Id')"> <span class="fa fa-credit-card"></span> </a>
                                        }
                                        | <a title="Edit" href="javascript:void(0);" onclick="editCard('@ca.Id')"> <span class="fa fa-edit"></span> </a>
                                        |
                                        <a title="Delete" href="javascript:void(0);" onclick="deleteCard('@ca.Id')"> <span class="fa fa-trash"></span> </a>
                                    </td>
                                </tr>
                            }
                            catch (Exception ex) { }
                        }

                    }

                </table>
            }

            else
            {
                <table border="1" align="center"> <tr> <td><b>No Credit Card Found</b></td></tr></table>
            }
        </div>
    </div>
    <script>
        function editCard(id) {
            $.post('/account/GetCard', { cardId: id }, function (d) {
                console.log(d);
                $("#hdnCardId").val(d.Id);
                $("#cardNumber").html('********' + d.Last4);
                $("#UpdateExpiryMonth").val(d.ExpMonth);
                $("#UpdateExpiryYear").val(d.ExpYear);

                $("#EditCardForm").modal("show");
            })
        }

        function deleteCard(id) {
            if (confirm('Are you sure to delete this card?')) {
                $.post('/account/DeleteCard', { cardId: id }, function (d) {
                    window.location.href = '/account/UpdateSettings';
                })
            }
        }

        function makeDefaultCard(id) {
            if (confirm('Are you sure to make this card as your default card?')) {
                $.post('/account/MakeDefaultCard', { cardId: id }, function (d) {
                    window.location.href = '/account/UpdateSettings';
                })
            }
        }
    </script>
}
@if (ViewBag.IsBank == true)
{

    <div class="col-sm-12 text-right">
        <a href="#AddbankAccountForm" class="btn" data-toggle="modal" data-dismiss="modal">Buy Car-Add Bank Account</a>
    </div>

    <div class="col-md-12 "><br /></div>
    <div class="col-md-12 ">
        <div class="result-sorting-wrapper">
            @if (Model != null && Model.Data != null && Model.Count() > 0)
            {
                <table border="1" align="center">
                    
                    <tr><thead>
                        <th>Account Name</th>
                        <th>Status</th>
                        <th>Bank Name</th>
                        <th>Routing Number </th>
                        <th>Account Number</th>
                        </thead>
                    </tr>
                    @foreach (var account in Model)
                    {

                        string status = "";
                        bool IsbankActive = false;
                        bool IsBankaccount = false;
                        string BankaccountId = "";
                        if (account.Object.Trim() == "bank_account")
                        {
                            IsBankaccount = true;
                            Stripe.BankAccount ba = (Stripe.BankAccount)account;
                            status = ba.Status;
                            BankaccountId = ba.Id;
                            if (status == "verified")
                            {
                                IsbankActive = true;
                            }
                            <tr>
                                <td data-label="Account Name">@account.Object</td>
                                <td data-label="Status">
                                    @status @if (@status.Trim() != "verified")
                                    {
                                        <div class="col-sm-12 text-right">
                                            <a href="#VerifybankAccountForm" class="btn" data-toggle="modal" data-dismiss="modal">Verify Bank Account</a>
                                        </div>}
                                </td>
                                <td data-label="Bank Name">@ba.BankName</td>
                                <td data-label="Routing Number">@ba.RoutingNumber</td>
                                <td data-label="Account Number">********** @ba.Last4  </td>
                            </tr>
                        }
                    }
                </table>


            }

            else
            {
                <table border="1" align="center"> <tr> <td><b>No Account Found</b></td></tr></table>
            }
        </div>
    </div>


    <div class="col-md-12"><br /></div>
    Html.RenderAction("UserConnectSourceList", "Account");
    Html.RenderAction("AddConnectAccounts", "Account");
}


