﻿@using Stripe;

@{

    Layout = null;

    Customer customer = (Customer)ViewBag.StripCustomer;
    var cancelbtn = false;
    var resubbtn = false;
}
<style>
    .subscriptionList .control-label {
        text-align: left !important;
    }
</style>
<div class="col-md-12 subscriptionList">
    <div class="result-sorting-wrapper">
        @foreach (var subs in customer.Subscriptions.ToList())
        {
            <div class="card card-default">
                <div class="card-body" style=" border-radius: 4px;border: 1px solid #dfdfdf; padding: 35px; background: #f5f5f5;text-align: center;">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="email">Plan:</label>
                            <div class="col-sm-9">
                                <p class="form-control-static" style="text-align:left"><strong style="font-size:20px"> @subs.Plan.Nickname</strong></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" for="email">Monthly Amount:</label>
                            <div class="col-sm-9">
                                <p class="form-control-static" style="text-align:left"><strong style="font-size:20px">$@((decimal)subs.Plan.Amount / 100)</strong></p>
                            </div>
                        </div>
                        @if (subs.TrialEnd.HasValue && DateTime.Compare(subs.TrialEnd.Value, DateTime.Now) > 0)
                        {
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="email">Trial Period:</label>
                                <div class="col-sm-9">
                                    <p class="form-control-static" style="text-align:left"><strong style="font-size:20px">Active: @((subs.TrialEnd.Value.Date - DateTime.Now.Date).TotalDays) of @((subs.TrialEnd.Value.Date - subs.TrialStart.Value.Date).TotalDays) days remaining.</strong></p>
                                </div>
                            </div>
                        }
                        @if (subs.Discount != null && subs.Discount.Coupon != null && subs.Discount.Coupon.Valid)
                        {
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="email">Current Coupons:</label>
                                <div class="col-sm-9">
                                    <p class="form-control-static" style="text-align:left"><strong style="font-size:20px">@(subs.Discount.Coupon.Name) @(subs.Discount.Coupon.Duration)</strong></p>
                                </div>
                            </div>
                            if (subs.Discount.Coupon.AmountOff.HasValue)
                            {
                                var Amount = ((decimal)subs.Plan.Amount.Value / 100) - ((decimal)subs.Discount.Coupon.AmountOff.Value / 100);
                                if (subs.CancelAt != null)
                                {
                                    Amount = 0;
                                }
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="email">Next Billing:</label>
                                    <div class="col-sm-9">
                                        <p class="form-control-static" style="text-align:left"><strong style="font-size:20px">$@(Amount) on @subs.BillingCycleAnchor.Value.Date.Date</strong></p>
                                    </div>
                                </div>
                            }
                            else if (subs.Discount.Coupon.PercentOff.HasValue)
                            {
                                var Amount = ((decimal)subs.Plan.Amount.Value / 100) - ((decimal)subs.Discount.Coupon.PercentOff.Value / 100 * (decimal)subs.Plan.Amount.Value / 100);
                                if (subs.CancelAt != null)
                                {
                                    Amount = 0;
                                }
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="email">Next Billing:</label>
                                    <div class="col-sm-9">
                                        <p class="form-control-static" style="text-align:left"><strong style="font-size:20px">$@(Amount) on @subs.BillingCycleAnchor.Value.Date</strong></p>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            var Amount = subs.Plan.Amount.Value;
                            if (subs.CancelAt != null)
                            {
                                Amount = 0;
                            }
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="email">Next Billing:</label>
                                <div class="col-sm-9">
                                    <p class="form-control-static" style="text-align:left"><strong style="font-size:20px">$@(Amount / 100) on @subs.BillingCycleAnchor.Value.Date.Date</strong></p>
                                </div>
                            </div>
                        }
                        @if (subs.CancelAt == null)
                        {<div class="form-group" style="text-align:left">
                             <input type="button" id="Subscriber" class="btn btn-danger" data-toggle="modal"  value="Cancel subscription">
</div>

                        }
                        else
                        {
                         <div class="form-group" style="text-align:left">
                       <input type="button" id="Resubscriber" class="btn btn-lg btn-danger" data-toggle="modal" value="Cancel subscription">
                         </div>
                        }
                    </form>


                    @*<a href="#ChangePlanForm" data-toggle="modal" data-dismiss="modal"><input type="button" class="btn btn-success" value="Change Subscription"></a>*@
                </div>
            </div>
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#Subscriber").click(function () {
            event.preventDefault();
            $('#myModal1').modal({ show: true });
            
        });
    });
</script>
<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="form-group">
                <h6 style="width: 588px;float: left;font-weight: normal;">
                    We're sorry to see you leave!
                </h6>
                <h6 style="width: 588px;font-weight: normal;text-align: center;">
                    <a>Please Contact Support at +1 (717)-555-7777 or email us at support@dealerinventorynetwork.com for cancellations.</a>
                </h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#Resubscriber").click(function () {
            $('#myModalre').modal('show');
        });
    });
</script>
<div class="modal fade" id="myModalre" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="form-group">
                <h6 style="width: 588px;float: left;font-weight: normal;">
                    We're sorry to see you leave!
                </h6>
                <h6 style="width: 588px;font-weight: normal;text-align: center;">
                    <a>Please Contact Support at +1 (717)-555-7777 or email us at support@dealerinventorynetwork.com for cancellations.</a>
                </h6>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@*<div class="modal fade" id="CancelSubscriptionPopUp" data-toggle="modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="height: auto;">
                <div class="modal-header">
                    <h3 class="modal-title">Cancel Subscription</h3>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="login_wrap">
                            <div class="col-md-12 col-sm-12">
                                <div class="row form-group">
                                    <div class="col-md-12 text-center">
                                        <div class="form-group">
                                            <h4 class="text-success"> WE’RE SORRY TO SEE YOU GO. <br /></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-12 text-center">
                                        <div class="form-group">
                                            <a>Please Contact Support at +1 (717)-555-7777 or email us at support@dealerinventorynetwork.com for cancellations.</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
*@
