﻿
@model Stripe.StripeList<Stripe.IExternalAccount>
@{

    Layout = null;
}
@if (Model == null || Model.Data == null || Model.Count() == 0)
{
    <div class="col-sm-12 text-right">
        <a href="#AddConnectBankAccountForm" class="btn" data-toggle="modal" data-dismiss="modal">Sell Car-Add Bank Account</a>
    </div>
}
<div class="col-md-12 "><br /></div>
<div class="col-md-12 ">
    <div class="result-sorting-wrapper">
        @if (Model != null && Model.Data != null && Model.Data.Count() > 0)
        {
            <table border="1" align="center">
                
                <tr><thead>
                    <th>Account Name</th>
                    <th>Status</th>
                    <th>Bank Name</th>
                    <th>Routing Number </th>
                    <th>Account Number</th>
                    </thead>
                </tr>
                @foreach (var account in Model.Data)
                {

                    string status = "";
                    bool IsbankActive = false;
                    bool IsBankaccount = false;
                    string BankaccountId = "";
                    //if (account.Object.Trim() == "bank_account")
                    //{
                    IsBankaccount = true;
                    Stripe.BankAccount ba = (Stripe.BankAccount)account;
                    status = ba.Status;
                    BankaccountId = ba.Id;
                    if (status == "verified")
                    {
                        IsbankActive = true;
                    }
                    <tr>
                        <td data-label="Account Name">@account.Object</td>
                        <td data-label="Status">@ba.Status</td>
                        <td data-label="Bank Name">@ba.BankName</td>
                        <td data-label="Routing Number">@ba.RoutingNumber</td>
                        <td data-label="Account Number">**********@ba.Last4  </td>
                    </tr>
                    //}
                }
            </table>
        }
        else
        {
            <table border="1" align="center"> <tr> <td><b>No Account Found</b></td></tr></table>
        }
    </div>
</div>