﻿@using Stripe;
@using Incite.Core.Domain;
﻿@using Incite.Core.Extention
@using Trialcar.Web.Infrastructure;
@model List<CarOrderDetail>
@{

    Layout = null;

    var onHoldList = (List<CarOrderOnHold>)ViewBag.OnHold;

    string img = "/assets/images/default-car.png";

    var listedPurchased = new List<int>();
    var listedSold = new List<int>();
}


<div class="col-md-12 "><br /></div>
<div class="col-md-12 ">
    <div class="result-sorting-wrapper">
        <h4>Purchases</h4>
        @if (Model.Where(c => c.BuyerDealer.Id == Authentication.CurrentUserId.Value).Count() > 0)
        {

           

        <table border="1" align="center">
            <tr><td colspan="5"><h5 class="modal-title">Purchased cars</h5>  </td></tr>
            <tr><thead>
                <th></th>
                <th>Car Info</th>
                <th>Purchased On</th>
                <th>Price</th>
                <th>Total Amount</th>
                </thead>
            </tr>
            @foreach (var order in Model.Where(c => c.BuyerDealer.Id == Authentication.CurrentUserId.Value))
            {

                if (!listedPurchased.Contains(order.Id))
                {
                    listedPurchased.Add(order.Id);

                    <tr>
                        <td data-label="" class="text-center">
                            @if (@order.dealerCarDetails.CarImages.FirstOrDefault() != null)
                            {
                                <img src="@order.dealerCarDetails.CarImages.FirstOrDefault().NormalImagePath" class="img-responsive" style="height:100px; width:100px" />
                            }
                            else
                            {
                                <img src="@img" class="img-responsive" style="height:100px; width:100px" />
                            }


                        </td>
                        <td data-label="Car Info">

                            @order.dealerCarDetails.CarDetails.Maker.Name
                            <br />
                            @order.dealerCarDetails.CarDetails.Model.Name
                        </td>

                        <td data-label="Purchased On">
                            @string.Format("{0:MM/dd/yyyy}", order.CreatedOn)
                        </td>
                        <td data-label="Price">
                            @*$@MyExtentionMethods.DecimalFormat(order.dealerCarDetails.CarDetails.Price)*@
                            <span>$@MyExtentionMethods.DecimalFormat(order.Amount)</span>
                        </td>
                        <td data-label="Total Amount">
                            @if (order.Amount <= 0)
                            {
                                <span>$@MyExtentionMethods.DecimalFormat(order.dealerCarDetails.CarDetails.Price)</span>
                            }
                            else
                            {
                                <span>$@MyExtentionMethods.DecimalFormat(order.Amount)</span>
                            }

                        </td>
                    </tr>
                }



            }

        </table>
        }
        else
        {
            <table border="1" align="center"> <tr> <td><b>No Purchases Found</b></td></tr></table>
        }
    </div>


    <div class="result-sorting-wrapper">
        <h4>Holds</h4>
        @if (onHoldList != null && onHoldList.Count() > 0)
        {
            <table border="1" align="center">
                <tr><td colspan="5"><h5 class="modal-title">Hold History</h5>  </td></tr>
                <tr>

                    <th>Car Info</th>
                    <th>Prtial Amount Paid</th>
                    <th>Rest Amount</th>
                    <th>Time to Hold</th>
                </tr>
                @foreach (var hold in onHoldList)
                {

                    <tr>
                        <td>
                            <div class="text-center">
                                <div>
                                    @*<img src="@order.dealerCarDetails.CarImages.FirstOrDefault().ThumbImagePath"  class="img-thumbnail" />*@
                                </div>
                            </div>
                            @hold.carOrderDetail.dealerCarDetails.CarDetails.Maker.Name
                            <br />
                            @hold.carOrderDetail.dealerCarDetails.CarDetails.Model.Name

                        </td>
                        <td>
                            $@MyExtentionMethods.DecimalFormat(hold.PartialAmountPaid)
                        </td>
                        <td>
                            <span>$@MyExtentionMethods.DecimalFormat(hold.RestAmount)</span>
                        </td>
                        <td>



                            @string.Format("{0:MM/dd/yyyy}", hold.TimeToHold)
                        </td>
                    </tr>

                }

            </table>
        }
        else
        {
            <table border="1" align="center"> <tr> <td><b>No Hold History Found</b></td></tr></table>
        }

    </div>


    <div class="result-sorting-wrapper">
        <h4>Sold</h4>
        @if (Model.Where(c => c.SellerDealer.Id == Authentication.CurrentUserId.Value).Count() > 0)
        {
            <table border="1" align="center">
                <tr><td colspan="5"><h5 class="modal-title">Sell History</h5>  </td></tr>
                <tr>
                    <th></th>
                    <th>Car Info</th>
                    <th>Sold On</th>
                    <th>Price</th>
                    <th>Total Amount</th>
                </tr>
                @foreach (var order in Model.Where(c => c.SellerDealer.Id == Authentication.CurrentUserId.Value))
                {

                    if (!listedSold.Contains(order.Id))
                    {
                        listedSold.Add(order.Id);


                    <tr>
                        <td class="text-center">
                            @if (@order.dealerCarDetails.CarImages.FirstOrDefault() != null)
                            {
                                <img src="@order.dealerCarDetails.CarImages.FirstOrDefault().NormalImagePath" class="img-responsive" style="height:100px; width:100px" />
                            }
                            else
                            {
                                <img src="@img" class="img-responsive" style="height:100px; width:100px" />
                            }


                        </td>
                        <td>

                            @order.dealerCarDetails.CarDetails.Maker.Name
                            <br />
                            @order.dealerCarDetails.CarDetails.Model.Name
                        </td>
                        <td>
                            @string.Format("{0:MM/dd/yyyy}", order.CreatedOn)
                        </td>
                        <td>
                            @*$@MyExtentionMethods.DecimalFormat(order.dealerCarDetails.CarDetails.Price)*@
                            <span>$@MyExtentionMethods.DecimalFormat(order.Amount)</span>
                        </td>
                        <td>
                            @if (order.Amount <= 0)
                            {
                                <span>$@MyExtentionMethods.DecimalFormat(order.dealerCarDetails.CarDetails.Price)</span>
                            }
                            else
                            {
                                <span>$@MyExtentionMethods.DecimalFormat(order.Amount)</span>
                            }

                        </td>
                    </tr>

                    }

                }

            </table>
        }
        else
        {
            <table border="1" align="center"> <tr> <td><b>No Sell History Found</b></td></tr></table>
        }
    </div>



</div>
