﻿@using Incite.Services.ViewModels
@model VerifyBankAccount

<div class="modal fade" id="VerifybankAccountForm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Verify bank account Detail</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="login_wrap">
                        <div class="col-md-12 col-sm-6">
                            <div id="dvVerifyBankAccount" class="alert alert-info dvdismiss" style="display:none;">
                            </div>
                            @using (Ajax.BeginForm("VerifyBankAccount", "Account", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess" }, new { id = "VerifyBankForm" }))
                            {

                                @Html.AntiForgeryToken()


                                <div class="col-md-12 col-sm-6">


                                    <div class="form-group">
                                        <label for="example-email" class="col-md-12">First deposit:</label>

                                        @Html.TextBoxFor(m => m.VerifyDebitAmount, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.VerifyDebitAmount, string.Empty, new { @class = "text-danger" })
                                        @*@Html.ValidationMessageFor(x => x.BankAccount.Country, string.Empty, new { @class = "text-danger" })*@
                                        @*<input type="text" style="background-color: white;" value="" class="form-control form-control-line" name="example-email" id="fname">*@

                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-12">Second deposit:</label>

                                        @Html.TextBoxFor(m => m.VerifyCreditAmount, new { @class = "form-control form-control-line" })
                                        @Html.ValidationMessageFor(x => x.VerifyCreditAmount, string.Empty, new { @class = "text-danger" })
                                        @*@Html.ValidationMessageFor(x => x.BankAccount.Currency, string.Empty, new { @class = "text-danger" })*@

                                    </div>

                                    <div class="raw form-group">
                                        <input type="submit" value="Verify Account" name="Verify Account" class="btn btn-success">
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">

            </div>
        </div>
    </div>
</div>
