﻿

@using (Html.BeginForm("Index", "ManageCarObject", FormMethod.Post, new { id = "formid", enctype = "multipart/form-data" }))
{

    <section class="content-header">
        <h1>
            UploadFile
        </h1>
        <div class="breadcrumb">
            <input id="file" type="file" name="file" />
            <input type="submit" value="Upload" class="btn" />
            <div class="err">
            </div>
        </div>
    </section>
   
}























