﻿@model Incite.Core.Domain.AppUsers
<div class="modal fade" id="commentform">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="overflow: unset; height:auto;padding-right: 0px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close" style="margin-right:15px"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Ratings</h3>
            </div>
            <div class="modal-body" style="text-align:center">
                <div class="model-body">
                    @{

                        var cmtRtngList = Model.DealerComments.ToList();
                        var avgRating = 0;
                        foreach (var rtg in cmtRtngList)
                        {
                            avgRating += rtg.Rating;
                        }
                        if (cmtRtngList.Count() >= 1)
                        {
                            avgRating = avgRating / cmtRtngList.Count();
                        }
                        else
                        {
                            avgRating = 0;
                        }
                        <img class="img-circle img-thumbnail img-responsive" src="@Model.Id.GetUserProfileByUserId().ProfileThmbnailImage.Replace("~", "")" onerror="this.src='/Assets/images/dealer-logo.jpg'" id="profileimg" alt="Image" style="max-width: 130px">
                        <div class='rating-stars' style="display:contents">
                            <ul>
                                @if (avgRating > 0)
                                {

                                    for (var i = 0; i < 5; i++)
                                    {
                                        if (i < avgRating)
                                        {
                                            <li class='star selected'>
                                                <i class='fa fa-star fa-fw'></i>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class='star'>
                                                <i class='fa fa-star fa-fw'></i>
                                            </li>
                                        }
                                    }


                                }
                                else
                                {
                                    for (var i = 0; i < 5; i++)
                                    {

                                        <li class='star'>
                                            <i class='fa fa-star fa-fw'></i>
                                        </li>

                                    }
                                }

                            </ul>

                        </div>
                    }
                </div>

            </div>
            <div class="modal-body" style="max-height:450px;overflow-y:auto;margin-top:10px">
                <section>

                    @{
                        var currLoginUserId = Trialcar.Web.Infrastructure.Authentication.CurrentUserId.Value;
                        var currUserProfileImage = currLoginUserId.GetUserProfileByUserId().ProfileThmbnailImage.Replace("~", "");
                        var ownerId = Model.Id;
                        var ownerUserProfile = ownerId.GetUserProfileByUserId();
                        var ownerImg = ownerUserProfile.ProfileThmbnailImage.Replace("~", "");
                        var topPaddingCls = "top-padding-rating";

                        if (currUserProfileImage == null)
                        {
                            currUserProfileImage = "/Assets/images/favicon-icon/apple-touch-icon-144-precomposed.png";
                        }

                        if (ownerImg == null)
                        {
                            ownerImg = "/Assets/images/favicon-icon/apple-touch-icon-144-precomposed.png";
                        }

                        <div class="rating-container div-float-left"></div>
                        <div class="div-clear" style="margin-bottom:10px">&nbsp;</div>


                        @* If there are any existing comments/reviews   *@


                        if (Model.DealerComments.Count > 0)
                        {

                            var currUserComment = Model.DealerComments.FirstOrDefault(x => x.appUsers.Id == currLoginUserId);

                            @* If current user already has rated this owner   *@

                            if (currUserComment != null)
                            {


                                topPaddingCls = "top-padding-rating";
                                <div class="@topPaddingCls">
                                    <div class="div-float-left">
                                        <img class="img-circle img-thumbnail img-responsive" src="@currUserProfileImage" onerror="this.src='/Assets/images/favicon-icon/apple-touch-icon-144-precomposed.png'" id="profileimg" alt="Image" style="max-width: 120px">
                                    </div>
                                    <div class="div-inline">
                                        <div>@currUserComment.appUsers.UserName</div>
                                        <div>@currUserComment.CreatedTs</div>
                                        @Html.Partial("_AddDealerComment", new Incite.Services.ViewModels.DealerCommentNRatingViewModel { RatingForDealerId = Model.Id, Rating = currUserComment.Rating, Comment = currUserComment.Comment, CommentReply = currUserComment.CommentReply, Id = currUserComment.Id })

                                        @* If there is a reply by owner to current user   *@

                                        @if (currUserComment.CommentReply != null)
                                        {
                                            <div class="div-clear" style="margin-bottom:10px">&nbsp;</div>
                                            <img class="img-circle img-thumbnail img-responsive" src="@ownerImg" onerror="this.src='/Assets/images/favicon-icon/apple-touch-icon-144-precomposed.png'" id="profileimg" alt="Image" style="max-width: 120px">
                                            <div class="div-inline" style="max-width:300px; display:inline-grid">@currUserComment.CommentReply</div>

                                        }
                                    </div>
                                </div>

                            }

                            @* If There are now ratings given by current user   *@

                            else
                            {
                                @* If owner is not the same as seller   *@
                                if (Model.Id != currLoginUserId)
                                {
                                    <div class="@topPaddingCls">
                                        <div class="div-float-left">

                                            <img class="img-circle img-thumbnail img-responsive" src="@currUserProfileImage" onerror="this.src='/Assets/images/favicon-icon/apple-touch-icon-144-precomposed.png'" id="profileimg" alt="Image" style="max-width: 120px">

                                        </div>

                                        <div class="div-inline" style="margin-top:10px">
                                            <div>@HttpContext.Current.User.Identity.Name</div>
                                            @Html.Partial("_AddDealerComment", new Incite.Services.ViewModels.DealerCommentNRatingViewModel { RatingForDealerId = Model.Id })
                                        </div>
                                    </div>

                                }
                            }

                            @* For all the "other" user's ratings for the current owner  *@

                            <div class="div-clear">&nbsp;</div>
                            foreach (var item in Model.DealerComments.Where(x => x.appUsers.Id != currLoginUserId))
                            {
                                var acurrUserProfile = item.appUsers.Id.GetUserProfileByUserId();
                                var i_currImg = acurrUserProfile.ProfileThmbnailImage.Replace("~", "");
                                if (i_currImg == null)
                                {
                                    i_currImg = "/Assets/images/favicon-icon/apple-touch-icon-144-precomposed.png";
                                }

                                <div class="@topPaddingCls">
                                    <div class="div-float-left">
                                        <img class="img-circle img-thumbnail img-responsive" src="@i_currImg" onerror="this.src='/Assets/images/favicon-icon/apple-touch-icon-144-precomposed.png'" id="profileimg" alt="Image" style="max-width: 120px">
                                    </div>
                                    <div class="div-inline">
                                        <a href="@Url.RouteUrl("DealerDetail", new { dealerId = item.appUsers.Id })" style="cursor:pointer">@item.appUsers.UserName</a>
                                        <div>@item.CreatedTs</div>
                                        <div class="rating-parent-div">
                                            <!-- Rating Stars Box -->
                                            <div class='rating-stars'>
                                                <ul>
                                                    @for (var i = 0; i < 5; i++)
                                                    {
                                                        if (i < item.Rating)
                                                        {
                                                            <li class='star selected'>
                                                                <i class='fa fa-star fa-fw'></i>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li class='star'>
                                                                <i class='fa fa-star fa-fw'></i>
                                                            </li>
                                                        }
                                                    }

                                                </ul>

                                            </div>
                                        </div>
                                        <div>@item.Comment</div>

                                        @* If owner = current user, then enabling a reply block  *@

                                        @if (Model.Id == currLoginUserId)
                                        {

                                            <a href="#" class="replyLink">Reply</a>
                                            <div class="commentReplyBlock">

                                                <img class="img-circle img-thumbnail img-responsive" src="@ownerImg" onerror="this.src='/Assets/images/favicon-icon/apple-touch-icon-144-precomposed.png'" id="profileimg" alt="Image" style="max-width: 120px">
                                                <div class="div-inline">@Html.Partial("_AddDealerCommentReply", new Incite.Services.ViewModels.DealerCommentNRatingViewModel { Id = item.Id, CommentReply = item.CommentReply, Comment = item.Comment, Rating = item.Rating, CreatedTs = item.CreatedTs, RatingForDealerId = Model.Id, DealerId = item.appUsers.Id })</div>

                                            </div>
                                        }
                                        @* If owner is not the current user   *@
                                        else
                                        {
                                            @* If a reply exist  *@
                                            if (item.CommentReply != null)
                                            {

                                                <img class="img-circle img-thumbnail img-responsive" src="@ownerImg" onerror="this.src='/Assets/images/favicon-icon/apple-touch-icon-144-precomposed.png'" id="profileimg" alt="Image" style="max-width: 120px">
                                                <div class="div-inline">@item.CommentReply</div>

                                            }

                                        }
                                    </div>
                                </div>
                                <div class="div-clear">&nbsp;</div>
                                topPaddingCls = "top-padding-rating";
                            }

                            @* For Loop End   *@
                        }

                        @* If 0 reviews/ratings exists then just enable current user comment section   *@

                        else
                        {
                            @* If owner is not current user   *@
                            if (Model.Id != currLoginUserId)
                            {
                                <div class="@topPaddingCls">
                                    <div class="div-float-left">

                                        <img class="img-circle img-thumbnail img-responsive" src="@currUserProfileImage" onerror="this.src='/Assets/images/favicon-icon/apple-touch-icon-144-precomposed.png'" id="profileimg" alt="Image" style="max-width: 120px">

                                    </div>
                                    <div class="div-inline">
                                        <div>@HttpContext.Current.User.Identity.Name</div>
                                        @Html.Partial("_AddDealerComment", new Incite.Services.ViewModels.DealerCommentNRatingViewModel { RatingForDealerId = Model.Id })
                                    </div>
                                </div>
                                <div class="div-clear">&nbsp;</div>
                            }
                            <span id="noRatingMsg">No rating yet.</span>
                        }
                    }

                </section>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/ModelPopUpScripts")

@Styles.Render("~/Assets/Trialcars/css/fxss-rate.css")
@Scripts.Render("~/Assets/Trialcars/js/fxss-rate-iconfont.js")
@Scripts.Render("~/Assets/Trialcars/js/fxss-rate.js")

@Styles.Render("~/Assets/Trialcars/css/rating_star.css")
@Scripts.Render("~/Assets/Trialcars/js/rating_star.js")
