﻿@using Incite.Services.ViewModels
@using System.Web.Configuration;
@model BuyNowHoldNowDetailViewModel
@using Trialcar.Web.Infrastructure;
@using Incite.Core.Infrastructure;
﻿@using Incite.Core.Extention
@{
    Layout = null;
    decimal transactionFee = ((Model.Price * 0.5M) / 100) + 5;
    decimal totalPrice = Model.Price + transactionFee;

    var dealerCar = AppExtentionHelper.GetDealerCarByDealerCarId(Model.DealerCarDetailId);
    var HoldPercentage = (decimal)int.Parse(WebConfigurationManager.AppSettings["OnHoldPaymentPerc"]);
    var HoldValue = dealerCar.Price * (HoldPercentage / 100);
    var fee = (decimal)0.05 * HoldValue;

    if (fee < 5)
    {
        fee = 5;
    }

    List<SelectListItem> paymenTypes = (List<SelectListItem>)ViewBag.PaymentTypes;

}
@{

    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
}
<div class="col-md-12 col-sm-6">
    <div id="dvLoginMsg" class="alert alert-info dvdismiss" style="display:none;">

    </div>
    @using (Html.BeginForm("BuyNowHoldNowDetail", "DealerCar", FormMethod.Post, new { @class = "form-horizontal", id = "BuyNowHoldNowDetailForm" }))
    {

        @Html.AntiForgeryToken()


        <div class="col-md-12 col-sm-6">
            @Html.HiddenFor(m => m.DealerCarDetailId)
            @Html.HiddenFor(m => m.IsOnHold)
            @*@if (Model.PaymentTypes != null)*@
            @if (paymenTypes.Count > 0)
            {

                <div class="form-group">
                    <label for="example-email" class="col-md-12">Payment Mode</label>
                    @*@Html.DropDownListFor(m => m.PaymentTypeId
                        , new SelectList(Model.PaymentTypes, "Id", "PaymentType", Model.PayId)
                        , "Select Payment Mode"
                        , new { @id = "drpPayment", @class = "form-control" })*@
                    @Html.DropDownListFor(m => m.PaymentTypeId, paymenTypes, new { @id = "drpPayment", @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.PaymentTypeId, string.Empty, new { @class = "text-danger" })
                </div>

                <br />
                if (Model.Price > 0)
                {
                    <div class="form-group">
                        <label for="example-email" class="col-md-3">Car Price:</label>
                        <div class="col-md-7">
                            $@Model.Price.ToString("#,##0")
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="example-email" class="col-md-3">Transaction Fee:</label>
                        <div class="col-md-7">
                            $@transactionFee.ToString("#,##0")
                        </div>
                    </div>
                    <div class="modal - footer text - center"></div>
                    <div class="form-group">
                        <label for="example-email" class="col-md-3">Total Price:</label>
                        <div class="col-md-7">
                            $@totalPrice.ToString("#,##0")
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label for="example-email" class="col-md-3">Car Price:</label>
                        <div class="col-md-7">
                            $@dealerCar.Price.ToString("#,##0")
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="example-email" class="col-md-3">Hold-Now Percentage:</label>
                        <div class="col-md-7">
                            $@HoldPercentage%
                        </div>
                    </div>
                    <div class="modal - footer text - center"></div>
                    <div class="form-group">
                        <label for="example-email" class="col-md-3">Convinience Fee:</label>
                        <div class="col-md-7">
                            $@fee.ToString("#,##0")
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="example-email" class="col-md-3">Hold-Now Total:</label>
                        <div class="col-md-7">
                            $@((HoldValue + fee).ToString("#,##0"))
                        </div>
                    </div>

                }
                <br /><br />

                <div class="raw form-group">
                    @*<input type="button" onclick="buynowclick();" value="Confirm" name="bynowConfirm" class="btn btn-success" />*@
                    <input type="submit" value="Confirm" name="bynowConfirm" class="btn btn-success" />
                </div>

            }

        </div>

    }

    @if (paymenTypes.Count <= 0)
    {
        <div class="form-group">
            <h6 style="width: 588px;float: left;font-weight: normal;">
                To facilitate lower transaction fees, Dealer Inventory Network only allows Bank Accounts to make a purchase.
            </h6>
            <h6 style="width: 588px;font-weight: normal;text-align: center;">
                Please <a href="/Account/UpdateSettings">Click Here</a> to add/verify your bank account.
            </h6>
        </div>
    }
</div>



@*<script type="text/javascript">
    function buynowclick() {
        debugger;
        var fd = new FormData();
        var drppamentvalue = $("#drpPayment").val();
        var Delarcarid = $("#DealerCarDetailId").val();
        var ishold = $("#IsOnHold").val();
        if (drppamentvalue != "Select Payment Mode" && drppamentvalue != "") {
            fd.append("DealerCarDetailId", Delarcarid);
            fd.append("IsOnHold", ishold);
            fd.append("PaymentTypeId", drppamentvalue);
            fd.append("StripePaymentId", drppamentvalue);

            $.ajax(
                {

                    type: "POST",
                    url: "/Dealer/BuyNowHoldNowDetail",
                    data: fd,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        paymentsucess(data)
                    },
                    complete: function () {

                    }
                }
            );

        }
        else {
            alert("Select Payment Mode")
        }

    }
    function paymentsucess(data) {

        if (data.IsSuccess == true) {
            alert(data.Message);
            window.location.reload();
        }
        else {
            alert(data.Message);
        }
    }
</script>*@