﻿@model Incite.Core.Domain.DealerCarDetails
@using Incite.Services.ViewModels
@using Trialcar.Web.Infrastructure
﻿@using Incite.Core.Extention
@using Incite.Core.Infrastructure
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool iscustomeraccout = false;
    bool isVerified = false;
    if (Authentication.CurrentUserId != null)
    {
        var customeraccount = Authentication.CurrentUserId.Value.GetDelarCustomerAccount();

        if (customeraccount != null)
        {
            isVerified = customeraccount.IsVerified;
            iscustomeraccout = true;
        }
    }
    var userprofile = Authentication.CurrentUserId.Value.GetUserProfileByUserId();
}
<!--Display car comments-->
@Html.Partial("_DealerCarCommentPartial", Model.User)
<!--/Display car comments-->
<!-- Listing images scroller-->
<section id="listing_img_slider">
    @if (Model.CarImages != null && Model.CarImages.Count > 0)
    {
        string img = string.Empty;

        foreach (var item in Model.CarImages)
        {
            img = "/assets/images/default-car.png";

            if (!string.IsNullOrWhiteSpace(item.NormalImagePath))
            {
                img = item.NormalImagePath;
            }
            <div><img src="@img" class="img-responsive" alt="image"></div>
        }
    }
</section>
@{ var str = "Dealer Price";}
@if (Model.PriceType == 2)
{
    str = "Retail Price";
}
else if (Model.PriceType == 3)
{
    str = "Fix Price";
}
<section class="listing_other_info secondary-bg">
    <div class="container">
        <div id="filter_toggle" class="search_other">
            <i class="fa fa-filter" aria-hidden="true"></i>
            @str
        </div>
        <div id="other_info"><i class="fa fa-info-circle" aria-hidden="true"></i></div>

    </div>
</section>

<!-- Listing images scroller-->
<!-- Detail Part-->
<section class="listing-detail">
    <div class="container">
        <div class="listing_detail_head row">
            <div class="col-md-9">
                <h2>@Model.CarDetails.Maker.Name @Model.CarDetails.Model.Name</h2>
                <h3>@Model.CarDetails.Trim</h3>
                @*<div class="car-location"><span><i class="fa fa-map-marker" aria-hidden="true"></i> @Model.User.UserProfile.DealershipAddressLine1, </span></div>*@
            </div>
            <div class="col-md-3">
                <div class="price_info">
                    <p>$@MyExtentionMethods.DecimalFormat(Model.Price) </p>
                </div>
                @{var itemID = @EncryptDecryptHelper.encrypt(Model.Id); }
                @if (Model.User.Id != Authentication.CurrentUserId)
                {
                    if (iscustomeraccout && isVerified)
                    {
                        <div class="price_info">
                            <a class="btn btn-xs" onclick="buyNowCar('@itemID')">Buy Now </a>
                            <a class="btn btn-xs" onclick="holdNowCar('@itemID')">On Hold </a>
                        </div>
                    }
                    else if (iscustomeraccout && !isVerified)
                    {
                        <a class="article_info">    Verify Your Account to Buy/Hold this car</a>
                    }
                    else if (!iscustomeraccout)
                    {
                        <a class="article_info">    Add a Buyers Account to Buy/Hold this car</a>
                    }
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="main_features">
                    <ul>
                        <li>
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <h5>@Model.CarDetails.Year.Name</h5>
                            <p>Reg.Year</p>
                        </li>
                        <li>
                            <i class="fa fa-tachometer" aria-hidden="true"></i>
                            <h5>@Model.CarDetails.EPAMileage</h5>
                            <p>EPA Milage</p>
                        </li>
                        <li>
                            <i class="fa fa-road" aria-hidden="true"></i>
                            <h5> @Math.Ceiling(Model.Miles)</h5>
                            <p>Miles Driven</p>
                        </li>


                    </ul>

                    @if (Model.TitleType > 0 && Model.TitleType < 4)
                    {

                        var b1 = "/Assets/images/Badges/Titles/" + Model.TitleType.ToString() + ".png";
                        <img src=@b1 alt="badge" style="  width: 122px;margin-left: 13px;" />
                    }

                    @if (Model.CarConditionType > 0 && Model.CarConditionType < 6)
                    {
                        var b2 = "/Assets/images/Badges/Condition/" + Model.CarConditionType.ToString() + ".png";
                        <img src=@b2 alt="badge" style="  width: 122px;margin-left: 13px;" />
                    }
                    @if (Model.PhysicalCondList == true)
                    {
                        var b3 = "/Assets/images/Badges/Condition/" + 3 + ".png";
                        <img src=@b3 alt="badge" style="  width: 122px;margin-left: 13px;" />
                    }
                    @if (Model.MajorEngineDefect == true)
                    {
                        var b4 = "/Assets/images/Badges/Condition/" + 4 + ".png";
                        <img src=@b4 alt="badge" style="  width: 122px;margin-left: 13px;" />
                    }
                    @if (Model.TransmissionDefect == true)
                    {
                        var b5 = "/Assets/images/Badges/Condition/" + 5 + ".png";
                        <img src=@b5 alt="badge" style="  width: 122px;margin-left: 13px;" />
                    }
                    @if (Model.TwentyFourHoursGuarantee == true)
                    {
                        var b6 = "/Assets/images/Badges/Condition/" + 6 + ".png";
                        <img src=@b6 alt="badge" style="  width: 122px;margin-left: 13px;" />
                    }
                    @if (Model.InOp == true)
                    {
                        var b7 = "/Assets/images/Badges/Condition/" + 7 + ".png";
                        <img src=@b7 alt="badge" style="  width: 122px;margin-left: 13px;" />
                    }
                    @if (Model.AsIsUnchecked == true)
                    {
                        var b8 = "/Assets/images/Badges/Condition/" + 8 + ".png";
                        <img src=@b8 alt="badge" style="  width: 122px;margin-left: 13px;" />
                    }

                </div>
                <div class="listing_more_info">
                    <div class="listing_detail_wrap">
                        <!-- Nav tabs -->
                        <!-- Tab panes -->
                        <!-- vehicle-overview -->
                        <!-- Technical-Specification -->

                        <div role="tabpanel" class="tab-pane" id="specification">
                            <div class="table-responsive">
                                <!--Basic-Info-Table-->
                                <table>
                                    <thead>
                                        <tr>
                                            <th colspan="2"> Vehicle OverView</th>
                                        </tr>
                                    </thead>

                                    <tr>
                                        <td> <p>@Model.VehicleOverview</p></td>

                                    </tr>
                                </table>
                                <table>
                                    <thead>
                                        <tr>
                                            <th colspan="2">BASIC INFO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>VIN</td>
                                            <td>@Model.VIN.ToUpper()</td>
                                        </tr>
                                        <tr>
                                            <td>Engine</td>
                                            <td>@Model.CarDetails.Engine.Replace("(", "").Replace(")", "")</td>
                                        </tr>
                                        </tr>
                                        <tr>
                                            <td>Milage</td>
                                            <td>@Model.CarDetails.EPAMileage</td>
                                        </tr>
                                        <tr>
                                            <td>Body Type</td>
                                            <td>@Model.CarDetails.BodyType</td>
                                        </tr>
                                        <tr>
                                            <td>Fuel Type</td>
                                            <td>@Model.CarDetails.FuelType.FuelTypeName</td>
                                        </tr>
                                        @*<tr>
                                                <td>Fuel Type</td>
                                                <td>@Model.CarDetails.FuelType.FuelTypeName</td>
                                            </tr>*@
                                    </tbody>
                                </table>
                                <!--Technical-Specification-Table-->

                                <table>
                                    <thead>
                                        <tr>
                                            <th colspan="2">Technical Specification</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Transmission Type</td>
                                            <td>@Model.CarDetails.Transmission.TransmissionName</td>
                                        </tr>
                                        <tr>
                                            <td>DriveTrain</td>
                                            <td>@Model.CarDetails.DriveType.DriveTypeName</td>
                                        </tr>
                                        <tr>
                                            <td>Horse Power</td>
                                            <td>@(Model.CarDetails.HP) HP</td>
                                        </tr>
                                        <tr>
                                            <td>Torque</td>
                                            <td>@Model.CarDetails.Torque Nm</td>
                                        </tr>
                                        <tr>
                                            <td>RPM</td>
                                            <td>@Model.CarDetails.RPM RPM</td>
                                        </tr>
                                        <tr>
                                            <td>Torque RPM</td>
                                            <td>@Model.CarDetails.TorqueRPM RPM</td>
                                        </tr>
                                        <tr>
                                            <td>Mileage</td>
                                            <td>@Model.CarDetails.EPAMileage</td>
                                        </tr>
                                        <tr>
                                            <td>Fuel Tank Capacity</td>
                                            <td>@Model.CarDetails.FuelTankCap L</td>
                                        </tr>
                                        <tr>
                                            <td>Range</td>
                                            <td>@Model.CarDetails.RangeMiles</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Accessories -->
                        <div role="tabpanel" class="tab-pane" id="accessories">
                            <!--Accessories-->
                            <table>
                                <thead>
                                    <tr>
                                        <th colspan="2">Accessories</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.CarAccessories)
                                    {
                                        if (item.IsAccessoriesAvailable)
                                        {
                                            <tr>
                                                <td>@item.carAccessories.Accessories.ToString()</td>
                                                <td><i class="fa fa-check" aria-hidden="false"></i></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!--Vehicle-Video-->
                    <section>
                        @*<div class="video_wrap">
                                <h6>Watch Video </h6>
                                <div class="video-box">
                                    <iframe class="mfp-iframe" src="https://www.youtube.com/embed/rqSoXtKMU3Q" allowfullscreen></iframe>
                                </div>
                            </div>*@
                    </section>
                    <!--Comment-Form-->
                    <section>
                        @*<div class="comment_form">
                                <h6>Leave a Comment</h6>
                                <form action="#">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Full Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email Address">
                                    </div>
                                    <div class="form-group">
                                        <textarea rows="5" class="form-control" placeholder="Comments"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn" value="Submit Comment">
                                    </div>
                                </form>
                            </div>*@
                    </section>
                    <!--/Comment-Form-->
                </div>
            </div>
            <!--Side-Bar-->
            <aside class="col-md-3">
                @*<div class="add_compare">
                        <div class="checkbox">
                            <input type="checkbox" value="" id="compare14">
                            <label for="compare14">Add to Compare</label>
                        </div>
                    </div>*@


                <div class="sidebar_widget">
                    @if (Model.User.Id != Authentication.CurrentUserId)
                    {

                        var usrImg = "";
                        //var cmtRtng = Model.User.DealerComments.Where(x => x.appUsers.Id != Model.Id).FirstOrDefault();
                       // var usrImg = Model.User.UserProfile.ProfileThmbnailImage != null ? Model.User.UserProfile.ProfileThmbnailImage : null;
                        var cmtRtng = Model.User.DealerComments.Where(x => x.appUsers.Id != Model.Id).FirstOrDefault() != null ? Model.User.DealerComments.Where(x => x.appUsers.Id != Model.Id).FirstOrDefault() : null;
                        var cmtRtngList = Model.User.DealerComments.Where(x => x.appUsers.Id != Model.Id).ToList();
                        var avgRating = 0;
                        foreach (var rtg in cmtRtngList)
                        {
                            avgRating += rtg.Rating;
                        }
                        avgRating = avgRating / cmtRtngList.Count();

                        <div class="widget_heading">
                            <h5><i class="fa fa-address-card-o" aria-hidden="true"></i> Dealer Contact </h5>
                        </div>
                        <div class="dealer_detail">
                            @if (usrImg != null)
                            {
                                @Html.Partial("_UserImagePartial", usrImg);
                            }
                            <div class="rating-container">
                                <div class="rating-parent-div">
                                    <div class='rating-stars'>

                                        @*<ul>
            @for (var i = 0; i < 5; i++)
            {
                if (cmtRtng != null)
                {
                    if (i < cmtRtng.Rating)
                    {
                    <li class='star selected'>
                        <i class='fa fa-star fa-fw'></i>
                    </li>
                    }
                }
                else
                {
                    <li class='star'>
                        <i class='fa fa-star fa-fw'></i>
                    </li>
                }
            }
        </ul>*@
                                        <ul>
                                            @if (avgRating > 0)
                                            {

                                                for (var i = 0; i < 5; i++)
                                                {
                                                    if (i < avgRating)
                                                    {
                                                        <li class='star selected'>
                                                            <i class='fa fa-star fa-fw'></i>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li class='star'>
                                                            <i class='fa fa-star fa-fw'></i>
                                                        </li>
                                                    }


                                                }
                                                @cmtRtng.CreatedTs.ToShortDateString()
                                            }
                                            @*else
                                            {
                                                for (var i = 0; i < 5; i++)
                                                {

                                                    <li class='star'>
                                                        <i class='fa fa-star fa-fw'></i>
                                                    </li>

                                                }
                                            }*@

                                        </ul>
                                        @if (cmtRtng != null)
                                        {
                                            cmtRtng.CreatedTs.ToShortDateString();
                                        }
                                    </div>
                                </div>
                            </div>
                            <span data-toggle="modal" data-target="#commentform" style="cursor: pointer;" class="label label-primary">
                                <span id="totalCommentsContainer">@Model.User.DealerComments.Count</span> review
                            </span>

                            <p>
                                <a href="/Dealer/Search">Dealer search</a>
                                <span>Name:</span><a href="/Dealer/Details/@Model.User.Id">@Model.User.UserName</a>

                            </p>
                            <p><span>Email:</span> @Model.User.Email</p>
                            <p><span>Phone:</span> @(userprofile != null ? userprofile.MobileNumber : "")</p>
                        </div>



                    }
                    else if (Model.User.Id == Authentication.CurrentUserId)
                    {

                        <a href="/UpdateCarOfGarage/@itemID" class="btn">Update Car Details</a>
                        <a onclick="deleteCar(@itemID)" class="btn" style="width: 235px; margin-top: 7px;">Delete Car</a>

                        <a onclick="soldNowCar(@itemID)" class="btn" style="width: 235px; margin-top: 7px;">Mark As Sold</a>
                    }

                </div>

                @if (Model.User.Id != Authentication.CurrentUserId)
                {
                    <div class="sidebar_widget">
                        <div class="widget_heading">
                            <h5><i class="fa fa-envelope" aria-hidden="true"></i> Chat with Dealer</h5>
                        </div>
                        <form id="frmSendMessage">
                            @Html.Hidden("toDealerUserName", Model.User.UserName)
                            @Html.Hidden("toDealerId", Model.User.Id)
                            @Html.Hidden("fromAction", "carDetail")
                            @Html.Hidden("PageDataId", itemID)
                            <div class="form-group">
                                <textarea rows="4" class="form-control" placeholder="Message" name="message" id="msg_txt_usr"></textarea>
                            </div>
                            <div class="form-group">
                                <div id="send_msg_result" class="p-3 mb-3 text-white"></div>
                            </div>
                            <div class="form-group">
                                <input type="button" value="Send Message" class="btn btn-block" id="msg_submit_btn">
                            </div>
                        </form>
                    </div>
                }

            </aside>
            <!--/Side-Bar-->
        </div>

        <div class="space-20"></div>
        <div class="divider"></div>

    </div>
</section>
<div class="modal fade" id="BuyNowHoldNowDetailForm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Buy/Hold Details</h3>
            </div>
            <div id="dvBankConnectAccountMsg" class="alert alert-info dvdismiss" style="display:none;">
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="login_wrap">

                        <div id="CarBuyHoldOutput">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer text-center">

            </div>
        </div>
    </div>
</div>
<!-- Detail Part-->