﻿@model Tuple<IList<Incite.Core.Domain.DealerCarDetails>, IList<Incite.Core.Domain.CarAccessories>>
@{
    ViewBag.Title = "Compare Car";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Page Header-->
<section class="page-header compare_page">
    <div class="container">
        <div class="page-header_wrap">
            <div class="page-heading">
                <h1>Compare Inventorys</h1>
            </div>
            <ul class="coustom-breadcrumb">
                <li><a href="@Url.RouteUrl("HomeIndex")">Home</a></li>
                <li>Compare Inventorys</li>
            </ul>
        </div>
    </div>
    <!-- Dark Overlay-->
    <div class="dark-overlay"></div>
</section>
<!-- /Page Header -->
<!-- Filter-Form -->
<section id="filter_form" class="inner-filter gray-bg">
    @{ Html.RenderAction("HomeFilter", "Search"); }
</section>
<!-- /Filter-Form -->
<!--Compare-->
@{ string str = string.Empty; }
<section class="compare-page inner_pages">
    <div class="container" style="width:1400px">
        <div class="compare_info">
            @{var totalCars = Model.Item1.Count();}
            @if (totalCars < 2)
            {
                <h3>Select Atleast Two Cars To Compare.</h3>
            }
            else
            {                
                <div class="compare_product_img">
                    <div class="inventory_info_list">
                        <ul>
                            <li id="filter_toggle" class="search_other_inventory"><i class="fa fa-search" aria-hidden="true"></i> Search Other Inventory</li>
                            @for (int i = 0; i < totalCars; i++)
                            {
                                string usrImg = "/assets/images/default-car.png";
                                var carImg = Model.Item1[i].CarImages.FirstOrDefault();
                                if (carImg != null)
                                {
                                    usrImg = carImg.NormalImagePath;
                                }
                                <li><a href="/CarDetail/@Model.Item1[i].Id"><img src="@usrImg" alt="image" style="max-width: 100%; max-height: 164px;" /></a></li>
                            }
                        </ul>
                    </div>
                    <table>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div class="compare_product_title gray-bg">
                    <div class="inventory_info_list">
                        <ul>
                            <li class="listing_heading">
                                Compare <br>
                                Inventorys <span class="td_divider"></span>
                            </li>
                            @for (int i = 0; i < totalCars; i++)
                            {
                                var carDetails = Model.Item1[i].CarDetails;
                                <li>
                                    <a href="#">@carDetails.Maker.Name @carDetails.Model.Name</a>
                                    <p class="price">@Model.Item1[i].Price.ToString("C")</p>
                                    @if (i < totalCars - 1)
                                    {
                                        <span class="vs">V/s</span>
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                </div>

                <div class="compare_product_info">
                    <!--Basic-Info-Table-->
                    <div class="inventory_info_list">
                        <div class="listing_heading">
                            <div>BASIC INFO</div>
                            @for (int i = 0; i < totalCars; i++)
                            {
                                <div>&nbsp;</div>
                            }
                        </div>

                        <ul>
                            <ul class="info_heading">
                                <li><div style="height:90px">Trim</div></li>
                                @for (int i = 0; i < totalCars; i++)
                                {
                                    var carDetails = Model.Item1[i].CarDetails;
                                    <li>
                                        <div style="height:90px">
                                            @if (@carDetails.Trim != null)
                                            {
                                                str = carDetails.Trim.ToString();
                                            }
                                            else
                                            {
                                                str = " ";
                                            }
                                            @str
                                        </div>
                                    </li>

                                }

                            </ul>
                            <ul class="info_heading">
                                <li><div>Model Year</div></li>
                                @for (int i = 0; i < totalCars; i++)
                                {
                                    var carDetails = Model.Item1[i].CarDetails;
                                    <li>
                                        <div>
                                            @if (@carDetails.Year != null)
                                            {
                                                str = carDetails.Year.Name.ToString();
                                            }
                                            else
                                            {
                                                str = " ";
                                            }
                                            @str
                                        </div>
                                    </li>

                                }

                            </ul>

                            <ul>

                                <li><div>Ownership Type</div></li>
                                @for (int i = 0; i < totalCars; i++)
                                {

                                    <li>
                                        <div>
                                            @{ str = string.Empty; }
                                            @switch (@Model.Item1[i].OwnershipType)
                                            {
                                                case 1:
                                                    str = "New";
                                                    break;
                                                case 2:
                                                    str = "Used";
                                                    break;
                                                case 3:
                                                    str = "Certified";
                                                    break;
                                            }
                                            @str
                                        </div>
                                    </li>

                                }
                            </ul>

                            <ul>
                                <li><div>Miles Driven</div></li>
                                @for (int i = 0; i < totalCars; i++)
                                {
                                    <li><div>@Model.Item1[i].Miles.ToString("#,##0") Miles</div></li>

                                }
                            </ul>

                            <ul>
                                <li><div style="height:90px">Fuel Type</div></li>
                                @for (int i = 0; i < totalCars; i++)
                                {
                                    var carDetails = Model.Item1[i].CarDetails;
                                    <li>
                                        <div  style="height:90px">
                                            @if (carDetails.FuelType != null)
                                            {
                                                str = carDetails.FuelType.FuelTypeName;
                                            }
                                            else
                                            {
                                                str = " ";
                                            }
                                            @str
                                        </div>
                                    </li>

                                }
                            </ul>

                        </ul>
                    </div>
                    <!--Technical-Specification-Table-->
                    <div class="inventory_info_list">

                        <table class="inventory_info_list">
                            <thead class="listing_heading">
                                <div>
                                    <tr>
                                        <th>Technical Specification</th>
                                        @for (int i = 0; i <totalCars; i++)
                                        {
                                            <th>&nbsp;</th>
                                        }
                                    </tr>
                                </div>
                            </thead>


                            <tbody>
                                <div>
                                    <tr class="info_heading">
                                        <td>Engine Description</td>
                                        @for (int i = 0; i < totalCars; i++)
                                        {
                                            <td>@Model.Item1[i].CarDetails.Engine.Replace("(", "").Replace(")", "")</td>
                                        }
                                    </tr>
                                </div>
                                <div>
                                    <tr>
                                        <td>Cylinders</td>
                                        @for (int i = 0; i < totalCars; i++)
                                        {
                                            <td>@Model.Item1[i].CarDetails.Cylinders</td>
                                        }
                                    </tr>
                                </div>
                                <div>
                                    <tr>
                                        <td>Mileage-City</td>

                                        @for (int i = 0; i < totalCars; i++)
                                        {
                                            string milageStr = Model.Item1[i].CarDetails.EPAMileage, milageCity = string.Empty;
                                            if (milageStr != null && milageStr.Trim() != "")
                                            {
                                                string[] epa = @Model.Item1[i].CarDetails.EPAMileage.Split();

                                                epa = epa[0].Split('/');
                                                milageCity = epa[0];
                                                
                                            }
                                            else
                                            {
                                                milageCity = " ";
                                            }
                                            <td>@milageCity</td>
                                        }
                                    </tr>
                                </div>
                                <div>
                                    <tr>
                                        <td>Mileage-Highway</td>

                                        @for (int i = 0; i < totalCars; i++)
                                        {
                                            string milageStr = Model.Item1[i].CarDetails.EPAMileage, milageHighway = string.Empty;
                                            if (milageStr != null && milageStr.Trim() != "")
                                            {
                                                string[] epa = @Model.Item1[i].CarDetails.EPAMileage.Split();

                                                epa = epa[0].Split('/');
                                               
                                                milageHighway = epa[1];
                                            }
                                            else
                                            {
                                                milageHighway = " ";
                                            }
                                            <td>@milageHighway</td>
                                        }
                                    </tr>
                                </div>
                                <div>
                                    <tr>
                                        <td>Fuel Tank Capacity</td>

                                        @for (int i = 0; i < totalCars; i++)
                                        {
                                            <td>@Model.Item1[i].CarDetails.FuelTankCap</td>
                                        }
                                    </tr>
                                </div>
                                <div>
                                    <tr>
                                        <td>Transmission Type</td>
                                        @for (int i = 0; i < totalCars; i++)
                                        {
                                            <td>
                                                @if (Model.Item1[i].CarDetails.Transmission != null)
                                                {
                                                    str = Model.Item1[i].CarDetails.Transmission.TransmissionName;
                                                }
                                                else
                                                {
                                                    str = " ";
                                                }
                                                @str
                                            </td>
                                        }
                                    </tr>
                                </div>
                            </tbody>
                        </table>
                    </div>






                    <!--Accessories-->
                    <div class="inventory_info_list">
                        <div class="listing_heading">
                            <div>Accessories</div>
                            @for (int i = 0; i < totalCars; i++)
                            {
                                <div>&nbsp;</div>
                            }
                        </div>
                        <ul>
                            <li class="info_heading">
                                @foreach (var item in Model.Item2)
                                {
                                    <div>@item.Accessories</div>
                                }
                            </li>
                            @for (int i = 0; i < totalCars; i++)
                            {
                                <li>
                                    @foreach (var item in Model.Item2)
                                    {
                                        var carAccesoryObj = Model.Item1[i].CarAccessories.FirstOrDefault(x => x.carAccessories.Id == item.Id && x.IsAccessoriesAvailable != false);

                                        if (carAccesoryObj != null)
                                        {
                                            <div><i class="fa fa-check" aria-hidden="true"></i></div>
                                        }
                                        else
                                        {
                                            <div><i class="fa fa-cross" aria-hidden="true"></i></div>
                                        }
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="inventory_info_list text-center">
                        <ul>
                            <li>&nbsp;</li>
                            @for (int i = 0; i < Model.Item1.Count(); i++)
                            {
                                <li><a href="@Url.RouteUrl("DealerCarDetail", new { cid = @EncryptDecryptHelper.encrypt(Model.Item1[i].Id) })" class="btn">View Detail</a></li>
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!--/Compare-->
<!--Brands-->
<!--<section class="brand-section gray-bg">
    <div class="container">
        <div class="brand-hadding">
            <h5>Popular Brands</h5>
        </div>
        <div class="brand-logo-list">
            <div id="popular_brands">
                <div><a href="#"><img src="/assets/images/brand-logo-1.png" class="img-responsive" alt="image"></a></div>
                <div><a href="#"><img src="/assets/images/brand-logo-2.png" class="img-responsive" alt="image"></a></div>
                <div><a href="#"><img src="/assets/images/brand-logo-3.png" class="img-responsive" alt="image"></a></div>
                <div><a href="#"><img src="/assets/images/brand-logo-4.png" class="img-responsive" alt="image"></a></div>
                <div><a href="#"><img src="/assets/images/brand-logo-5.png" class="img-responsive" alt="image"></a></div>
            </div>
        </div>
    </div>
</section>-->
<!-- /Brands-->