﻿@model Incite.Core.Domain.AppUsers
@{
    ViewBag.Title = "Dealer Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Display car comments-->
@Html.Partial("_DealerCarCommentPartial", Model)
<!--/Display car comments-->
<!--Listing-->
<section class="listing-page">
    <div class="container">
        <div class="row">
            <!--Listing-->
            @{Html.RenderAction("CarListing", "Shared", new { IsDealerSearch = true, dealerId = Model.Id });}
            <!-- Listing-->
            <!--Left Side Bar-->
            @{Html.RenderAction("SearchLeftFilter", "Search"); }
            <!--Left Side Bar-->
        </div>
    </div>
</section>
<!-- /Listing-->
@*Styles.Render("~/Assets/Trialcars/css/fxss-rate.css")
@Scripts.Render("~/Assets/Trialcars/js/fxss-rate-iconfont.js")
@Scripts.Render("~/Assets/Trialcars/js/fxss-rate.js")
@{
    float totRating = 0.0F, count = 0.0F;
    double avgRating = 0.0;
    if (Model.DealerComments.Count > 0)
    {
        foreach (var item in @Model.DealerComments)
        {
            totRating += item.Rating;
            count++;

        }
        avgRating = Math.Round((totRating / count), 1);
    }
}
<script>
    $(".rating-container").rate({
        length: 5,
        value: @avgRating,
        readonly: true,
        size: '30px',
        text: false
    });
</script>*@ 