﻿@model Incite.Services.ViewModels.DealerCarViewModel
@using Incite.Core.Extention
@using Incite.Core.Infrastructure
@{
    ViewBag.Title = "SearchResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Page Header-->
<section class="page-header soldcar">
    <div class="container">
        <div class="page-header_wrap">
            <div class="page-heading">
                <h1>My Sold Car</h1>
            </div>
            <ul class="coustom-breadcrumb">
                <li><a href="@Url.RouteUrl("HomeIndex")">Home</a></li>
                <li>My Sold Car</li>
            </ul>
        </div>
    </div>
    <!-- Dark Overlay-->
    <div class="dark-overlay"></div>
</section>
<!-- /Page Header -->

<section class="listing-page">
    <div class="container">
        <div class="row">
            <div class="row form-group">
                <div class="col-sm-12 text-right">
                    @*<a href="/AddCarInGarage/" class="btn">Add Car</a>*@
                </div>
            </div>
            <!--Listing-->
            @{Html.RenderAction("CarListing", "Shared", new { IsDealerSearch = true, IsSold = true });}
            <!-- Listing-->
            <!--Left Side Bar-->
            @*@{Html.RenderAction("MygarageLeftFilter", "Search"); }*@
            <!--Left Side Bar-->
        </div>
    </div>
</section>

