﻿@model Incite.Services.ViewModels.DealerCarViewModel
@using Incite.Core.Extention
@using Incite.Core.Infrastructure


@{
    ViewBag.Title = "SearchResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page-header compare_page">

    <div class="container">

        <div class="page-header_wrap">
            <div class="page-heading">
                <h1>My Garage</h1>
            </div>
        </div>
    </div>
    <!-- Dark Overlay-->
    <div class="dark-overlay"></div>
</section>

<section class="listing-page">
    <div class="container">
        <div class="row">
            <div class="row form-group">
                <div class="col-sm-12 text-right">
                    <a href="/AddCarInGarage/" class="btn">Add Car</a>
                </div>
                <div class="col-sm-12 text-center" style="display:none">
                    <p style="color:red">Enter your KYC/Bank Information for your cars to be able to search/buy/hold/visible a car at lower rates</p>
                </div>
            </div>

            <!--Listing-->
            @{Html.RenderAction("CarListing", "Shared", new { IsDealerSearch = true, IsSold = false });}
            <!-- Listing-->
            <!--Left Side Bar-->
            @{Html.RenderAction("MygarageLeftFilter", "Search"); }
            <!--Left Side Bar-->

        </div>
    </div>
</section>
