﻿@using Incite.Core.Domain;
@model List<Notifications>
@foreach (var item in Model)
{
    if (item.Type == "message")
    {
        <li @if (item.IsOpen == false) { <text> class="active" </text> }><a href="@Url.RouteUrl("DealerMessages")">@item.Description</a></li>
    }
    else if (item.Type == "ReviewReply")
    {
        <li @if (item.IsOpen == false) { <text> class="active" </text> }><a href="@Url.RouteUrl("DealerDetail", new { dealerId = item.FromDealerId})">@item.Description</a></li>
    }
    else if (item.Type == "review")
    {
        <li @if (item.IsOpen == false) { <text> class="active" </text> }><a href="/account/updatesettings">@item.Description</a></li>
    }
    else if (item.Type == "hold")
    {
        <li @if (item.IsOpen == false) { <text> class="active" </text> }><a href="/mygarage">@item.Description</a></li>
    }
    else if (item.Type == "purchase")
    {
        <li @if (item.IsOpen == false) { <text> class="active" </text> }><a href="/mysoldcar">@item.Description</a></li>
    }
}


