﻿@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Incite.Core.Domain.AppUsers>

@{
    ViewBag.Title = "DealerSearch";
}

<div class="row" style="padding:30px; min-height:700px">
    <div class="col-10">
        <div class="card" style="text-align:center">
            @using (Html.BeginForm("OpenDealerSearch", "Dealercar", FormMethod.Get))
            {
                <div class="form-group form-inline">
                    @Html.TextBox("search", "", new { @class = "form-control", @style = " width:500px ", @placeholder = "Search Car Dealers By Name" })
                    <input type="submit" value="Search" class="btn btn-success" />
                </div>
            }

            <div class="container-fluid" style="margin-top: 25px;">
                <div class="row">
                    <div class="col-12 mt-3">
                        @foreach (var item in Model)
                        {
                            var isDealer = item.UsersRoles.Where(x => x.Id == 1);

                            if (isDealer.Count() > 0)
                            {
                                <div class="card">
                                    <div class="card-horizontal">
                                        @*<div class="img-square-wrapper">
                                                <img class="" src=@Html.DisplayFor(modelItem => item.Id.GetUserProfileByUserId().ProfileImage) alt="Card image cap">
                                            </div>*@
                                        <div class="card-body">
                                            <h4 class="card-title"> @Html.DisplayFor(modelItem => item.Id.GetUserProfileByUserId().FirstName)</h4>
                                            <p class="card-text"> @Html.DisplayFor(modelItem => item.Email), @Html.DisplayFor(modelItem => item.Id.GetUserProfileByUserId().MobileNumber).</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                        @Html.PagedListPager(Model, page => Url.Action("Dealer/Search", new { page, serach = Request.QueryString["serach"] }),
          new PagedListRenderOptions() {Display=PagedListDisplayMode.IfNeeded} )
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
