﻿ul {
    margin: 0;
}

ul li {
    padding: 0;
    list-style-type: none;
}
#messages {
    margin-top: 10px;
}

#messages li {
    background-color: #EEE;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-height: 40px;
    line-height: 40px;
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 1px;
}

#users li {
    border: 1px solid #EEE;
    padding: 4px;
    border-radius: 3px;
    margin-bottom: 1px;
    cursor: pointer;
}

.privateChatUser {
    background-color: #3A87AD;
}

/* chat api style end*/
.disp_inline {
    display:inline-block;
}
.float_left {
    float: left;
}

.float_right {
    float: right;
}

.padd_right {
    padding-right:10px;
}
.sidebar_message {
    float: left;
    overflow-y: scroll;
    max-height: 500px;
    padding: 30px 30px 0px 30px;
    width: 30%;
    text-align: left;
}

.message_content {
    display: inline-block;
    width: 70%;    
    padding-left: 30px;
    padding-right: 30px;
}

.msg_filled {
    max-height: 500px;
    min-height: 300px;
    overflow-y: scroll;
    border-left: 1px solid #e6e6e6;
}

.message_user_div {
    background-color: #f5f5f5;
    border: 1px solid #e6e6e6;
    padding: 20px;
    cursor:pointer;
    border-radius: 10px;
}
.message_user_div .user_name_span {
    font-size: 18px;
    vertical-align: middle;
}
.sidebar_message a {
    color: #999999;
    font-size: 20px;
}

.msg_div {
    background-color: #f5f5f5;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    padding: 10px;
    clear:both;
}

.msg_right_div {
    float: right;
    clear: both;   
}

.msg_left_div {
    float: left;
    clear: both;
}

.msg_div .msg_text_div {
    background-color: #f5f5f5;
    width: 94%;
    height: 36px;
    border: 0;
    float: left;
    vertical-align: middle;
}

.msg_div .msg_btn {
    border: 0;
    font-size: 16px;
    background-image: url(/Assets/images/circle-content-send.jpg);
    background-repeat: no-repeat;
    background-size: 32px;
    width: 32px;
    background-color: whitesmoke;
    height: 32px;
    margin: auto;
}

.send_msg_form_div {
    display: none;
}

.send_msg_div_show {
    display: block;
}

.user_selected {
    background-color: #00a8d9;
    color: #ffffff;
}

.user_active_img {
    /*height: 20px;
    width: 20px;*/
    height: 13px;
    width: 13px;
    background-color: #7bc17b;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.user_image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.alt_usr_img {
    background-color: #99bcd7;
    color: #ffffff;
    border-radius: 50%;
    padding: 12px 10px;
    float: left;
    width: 45px;
    height: 45px;
    text-align: center;
}

.msg_img_div {
    float: left;
    padding-right: 12px;
    /*width: 50px;*/
}

span.user_name_span img {
    margin-right: 10px;
}

.width50 {
    width: 50px;
}

:focus {
    outline: none;
}

.left_msg {
    background-color:#ebebeb; 
    color:#646464;
}

.right_msg {
    background-color: #05728f;
    color: #ffffff;
}

.right_input_text {
    width: 70%;
    float: right;
}