﻿﻿@using Incite.Core.Domain
﻿@using Incite.Core.Extention
@model  List<DealerCarDetails>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@Scripts.Render("~/bundles/AdminUserScripts")
<section class="content-header">
    <h1>
        Dealer Cars
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Admin"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Dealer Cars</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div id="dvdismiss" class="alert alert-info dvdismiss" style="display:none;"></div>
                </div>
                <div class="box-body">

                    <table class="table table-bordered table-hover dataTable">
                        <tr>
                            <th>Car Name </th>
                            <th>Car Model</th>
                            <th>VIN</th>
                            <th>Miles</th>
                            <th>Price</th>
                            <th>Model year </th>
                            <th>OnHold</th>
                            <th>OnSold</th>
                        </tr>
                        @if (Model.Any())
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.CarDetails.Maker.Name</td>
                                    <td> @item.CarDetails.Model.Name</td>
                                    <td>@item.VIN</td>
                                    <td>@MyExtentionMethods.DecimalFormat(item.Miles) Miles</td>
                                    <td>@item.Price</td>
                                    <td>@item.CarDetails.Year.Name</td>
                                    <td>
                                        <label class="switch" >
                                            <input type="checkbox" checked=@item.IsOnHold disabled="disabled">
                                            <span class="slider"></span>
                                        </label>
                                    </td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" checked=@item.IsSold disabled="disabled">
                                            <span class="slider"></span>
                                        </label>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

